[2021-11-14 19:10] jordanmack opened #2173 "How to handle a "stuck" transaction?"
I'm giving support to a user who tried to send CKB to Binance, but his transaction was never confirmed. What is the proper way to rebroadcast this transaction?

[2021-11-14 19:27] jordanmack commented on #2166
Yes, it is understood that they can move the balance from one wallet to the other, but this is not what this feature request is about. It is about interoperability with MetaMask/PW-Lock, which would improve the experience for users.

We have helped many users in Discord work through their problems using different wallets. We always present the wallet options as equal and allow them to decide which

[2021-11-15 01:48] 31Delrancho opened #2174 "Deposit missing"
**Describe the bug** (Please enter details, the more detail the better)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2021-11-15 01:49] 31Delrancho commented on #2174
Did a test deposit into Neuron Wallet. It has over 1000 confirmations.  Never received the CKB.

[2021-11-15 21:33] ttot1977 commented on #2036
Hello Kelly,

im waiting from 31.10.2021. please any answer and help regarding my case?
thank you

[2021-11-17 00:14] jordanmack opened #2175 "Send to field does not allow enough characters for some addresses."
**Describe the bug** (Please enter details, the more detail the better)
When sending CKBytes from Neuron wallet, the "Send to" field allows only up to 100 characters. However, addresses can be much longer. BestDAS.com uses addresses that are 130 characters in length so it ends up being cut off.

**Screenshots** (If applicable, add screenshots to help explain your problem.)
![20211116160706](https:

[2021-11-20 00:59] chkhorlucas commented on #2170
I have the exact same issue, running on Mac

[2021-11-20 23:10] vdubbed opened #2179 "Request for enabling contract data on Ledger Nano X"
Hi, I’m currently using v0.5.2 CKB app on Ledger Nano X and Neuron Wallet 0.101.0. I don’t recall updating the App from 0.5.1 to 0.5.2 but I’ve recently had to update my Ledger Live to 2.35.1. Now when I try to send out CKB the ledger device is asking me to enable Contract data to be on - which only seems to be required for NFT or custom tokens according to the article on github. I’ve had multiple

[2021-11-21 11:21] hxz41713 commented on #2170
me too. it started cyncing once but then 3 days later still 40%. uninstalled/reinstalled it then not syncing at all!

[2021-11-21 11:26] hxz41713 commented on #2159
please please make this wallet lighter!

[2021-11-22 06:20] hakankocar commented on #2171
what is it i transfer my coin but my balance zero i check transaction it trasfer already but i didnt show to balance all my coin is gone how i will get back my coin

[2021-11-22 11:07] Prekjr commented on #2036
I don’t know why you’re reach out to me for support but you can refresh the wallet so it synchronizes with the server once again to reflect what’s on the block chain and hopefully
your CKB

Peter R

[2021-11-22 12:09] ttot1977 commented on #2036
Hello

I tryed to refresh wallet few times until now, I also instaled newest
Wallet app version and have synced my Wallet again from zero, but still no
CKB in my wallet.
Now I will try to refresh wallet from beginning again and then send again
information to you.
br

pon, 22. stu 2021. u 12:07 Peter Rozie Jr ***@***.***>
napisao je:

[2021-11-22 15:50] kellyshang commented on #2036
@ttot1977 Does the address( `ckb1qyq...zlrdw` )  which received the 50000 CKB existing in your Neuron - `Receive` - `Address Book`？
![image](https://user-images.githubusercontent.com/28836185/142892301-c9dcc693-d398-4491-ab97-ca233d807649.png)

[2021-11-22 15:55] #2127 closed

[2021-11-22 15:56] #2125 closed

[2021-11-22 16:04] kellyshang commented on #2173
They can quit the Neuron and restart, and then the transaction will be `Failed`, then they can try to re-sent the tx again.

[2021-11-22 16:07] kellyshang commented on #2174
@31Delrancho Can you please try to describe the issue more detailed? Deposit from where? And Can you please upload the debug info zip file as required?

[2021-11-22 16:19] kellyshang commented on #2171
@CMason87 Has your problem been resolved?

[2021-11-22 16:20] kellyshang commented on #2171
@hakankocar Can you please open a new issue and describe & upload the debug info as required?

[2021-11-22 16:20] kellyshang commented on #2171
@hakankocar Can you please open a new issue and describe & upload the debug info as required?

[2021-11-22 16:22] kellyshang commented on #2170
@MikeL2149 @chkhorlucas @hxz41713 Can you all please upload the debug zip file as required? (from `Help` - `Export Debug Information`)

[2021-11-22 16:25] kellyshang commented on #2169
You can restart the connected CKB node when encounter this error.

[2021-11-22 16:41] kellyshang commented on #2157
Since the address doesn't list in your Wallet address book, then it's not the correct wallet you were chosen.
Please check where the address you copied from, make sure the wallet displayed in the Neuron is the correct one.

[2021-11-22 17:03] ttot1977 commented on #2036
It exist in address history  I have sent screenshot to you

pon, 22. stu 2021. 16:50 kellyshang ***@***.***> je napisao:

[2021-11-22 17:05] hakankocar commented on #2171
Yes thank you

Sent from my iPhone

[2021-11-22 17:47] MikeL2149 commented on #2170
Here is the debug file
[neuron_debug_1637603150906.zip](https://github.com/nervosnetwork/neuron/files/7583244/neuron_debug_1637603150906.zip)

[2021-11-22 20:04] hxz41713 commented on #2170
hi,
and here is my debug file.

On Mon, 22 Nov 2021 at 17:47, MikeL2149 ***@***.***> wrote:

[2021-11-22 22:23] ttot1977 commented on #2036
So I did one more time fully index rebuilding and 100% syncing from the
beginning and still nothing.
I have sent to you all screenshot on github platform and you can see that I
have sent 50.000CKB on 31.10.2021. on the same wallet address which I do
have in my history addresses in Neuron wallet and on the same address I
have already sent 30.000ckb on 07.07.2021. The transaction is visible on
explo

[2021-11-23 01:33] kellyshang commented on #2036
@ttot1977 No you didn't sent the correct screenshot. The transaction `History` is not the same as the `Address Book`. The address displayed in the transaction details not means that the address belongs to the wallet. They are not the same thing.

[2021-11-23 01:40] kellyshang commented on #2170
@MikeL2149 Seems the bundled CKB node didn't start on your PC. Please make sure you have installed the `vc_redist.x64.exe` from https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-160 , then restart Neuron to see if it works.

[2021-11-23 01:41] kellyshang commented on #2170
@hxz41713 **PLZ don't reply to the notifiaction email** as the mail was sent by the GitHub platform but not our private email, so we can't receive the files you attached to the mail.

PLZ drag the zip file into the comment input box of this issue - https://github.com/nervosnetwork/neuron/issues/2170.

[2021-11-23 02:12] kellyshang commented on #2175
Thanks for your report, we will enlarge the input length limitation in next version.

[2021-11-23 02:30] CipherWang commented on #2172
We will add a "force empty" checkbox to avoid this.

[2021-11-23 02:51] kellyshang commented on #2168
In short future we don't plan to support imKey. But we already support the [Ledger](https://www.ledger.com/) hardware wallet. Welcome to use it and give us any feedback. ：）

[2021-11-23 02:52] #2168 closed

[2021-11-23 03:33] kellyshang commented on #2159
@Gravetothemoon @hxz41713 Maybe there will be a Neuron lite in the future.

[2021-11-23 03:48] kellyshang commented on #2166
PW-Lock is not the default lock by offical, and the signature from Metamask is not transparent to the user in Neuron.
Neuron cannot support all the Dapp from third-party as there will be more and more Dapp with more and more lock in the future.

[2021-11-23 03:52] #2166 closed

[2021-11-23 03:55] kellyshang commented on #2179
Maybe you'd better report the issue to https://github.com/obsidiansystems/ledger-app-nervos

[2021-11-23 05:27] ttot1977 commented on #2036
The address is visible in history, but it is not visible in address book,
what do you want to say? That the same allready used address is now address
for some other wallet or what? On neuron explorer I see both transaction on
the same address 30.000ckb on 07.07.2021. And 50.000ckb on 31.10.2021. But
30.000ckb has arrived on my wallet and 50.000ckb have not arrived.
Can you fix this problem or you

[2021-11-23 07:28] Prekjr commented on #2036
why are you cc’ing me? I’m not support for CKB, and I told you what you could do but not that it would work or not, please stop emailing me
Peter

[2021-11-23 07:38] hxz41713 commented on #2170
apologies, here is my debug
[neuron_debug_1637611229980.zip](https://github.com/nervosnetwork/neuron/files/7586399/neuron_debug_1637611229980.zip)

[2021-11-23 08:29] kellyshang commented on #2036
@Prekjr It's the Github platform's notification mail to you because you replied in this issue, and everybody related in this issue will receive the mail.

[2021-11-23 08:33] kellyshang commented on #2036
@ttot1977 Yes, I mean that the wallet was not belong to your current Neuron wallet. You'd better try to remember and check where this address was copied from.
The transaction of 30.000ckb on 07.07.2021 you mentioned in the screenshot of the search result, was just filtered all transactions which including the address you searched for. But that not meaning that this address is belongs to you.
ONLY

[2021-11-23 08:52] kellyshang commented on #2170
@hxz41713 Not sure why your bundled ckb node sycn process is far behind the Neuron's sync block height. But seems they were still all under processing.
Next time BEFORE you start the Neuron, could you have a look to see if there is  a process of ckb-indexer exsiting? If yes, you can manually end it and then restart the Neuron.

[2021-11-23 09:40] ttot1977 commented on #2036
Hello Kelly

thank you for quick response, so I generated that address ( ckb1qyq...zlrdw )
on 07.07.2021. from Neuron wallet, after that I had to register that
address in the white list on the Binance app. So first time on 07.07.2021.
everything went well and 30k ckb arrived in my wallet. On 31.10.2021. I
used that same address ( ckb1qyq...zlrdw ) for new transaction because this
address was alrea

[2021-11-23 15:03] kellyshang commented on #2036
@ttot1977 I checked that the transaction of 07.07.2021 in your screenshot, the address ( ckb1qyq...zlrdw ) was the sender but not receiver. The transaction's receiver should be ckb1qyqy8a24a6npc63zjrejmwm32u7jv384ncxq84lhxp which belongs to your wallet. Please check.
![image](https://user-images.githubusercontent.com/28836185/143048707-fe67b549-6cba-466f-b178-bc64180a29cf.png)

[2021-11-23 15:30] kellyshang commented on #2036
@ttot1977 Please check the complete reply from this issue https://github.com/nervosnetwork/neuron/issues/2036 on PC cause I made some additions in previous comment, which may missing from the notification email.

[2021-11-23 17:35] ttot1977 commented on #2036
Hello Kellyshang

thank you for answer, here is screenshot from Binance where I have this address registred for white list (safe transaction)
Can you please explain me how can I switch wallet in Neuron to  see if this address "...zlrdw" exist in other wallet in Neuron?

![image](https://user-images.githubusercontent.com/86892611/143075252-e3f5f6f3-270d-4fe1-85ec-cd57b999be40.png)

[2021-11-23 17:50] ttot1977 commented on #2036
Here I send screenshot from Binance transaction history where is visible that I have used exactly this address "...lrdw" as receiver address

![image](https://user-images.githubusercontent.com/86892611/143077661-15309e7a-a9ad-4e56-b8c7-c115e22edd0d.png)

[2021-11-24 01:48] kellyshang commented on #2036
@ttot1977
step1. From menu of `Wallet` > `Select Wallet`, then you can swich to other wallet.
step2. Then goto left menu of `Receive` > click button `Address Book` to check if the address( "...lrdw" ) listed in the address book of current wallet.

step1:
![image](https://user-images.githubusercontent.com/28836185/143155851-9bb070a1-046f-444a-a99f-4e393c810a2e.png)
step2:
![image](https://user-imag

[2021-11-24 03:23] majic0918 commented on #2170
Here is the debug fi
[neuron_debug_1637724107038.zip](https://github.com/nervosnetwork/neuron/files/7592492/neuron_debug_1637724107038.zip)
le

[2021-11-24 03:25] majic0918 commented on #2170
![12](https://user-images.githubusercontent.com/41669852/143169520-7a7c0f60-3ac2-48ba-9327-f56842a97979.png)

[2021-11-24 08:11] majic0918 opened #2181 "My wallet cannot be synced after five days"
[neuron_debug_1637724107038.zip](https://github.com/nervosnetwork/neuron/files/7593816/neuron_debug_1637724107038.zip)
Every time you synchronize to a certain value, you can’t continue to interrupt。
Troubled for a long time, physically exhausted。

[2021-11-24 09:28] Anubix8 commented on #2157
But this wasn't the first time sending CKB to that address, that was my address, but it suddenly disappeared from my wallet.

[2021-11-24 10:27] kellyshang commented on #2170
@majic0918 seems there is no space left on your device:
![image](https://user-images.githubusercontent.com/28836185/143221165-916948cf-8728-46da-9c75-b0d7d0cfcc05.png)

[2021-11-24 10:31] kellyshang commented on #2181
@majic0918 seems there is no space left on your device:
![image](https://user-images.githubusercontent.com/28836185/143221735-0de54785-0fbe-4fc6-bd40-80ac2cf3be8f.png)
https://github.com/nervosnetwork/neuron/issues/2170#issuecomment-977740917

[2021-11-24 10:31] #2179 closed

[2021-11-24 10:33] kellyshang commented on #2157
@Anubix8 Could you try to switch to other wallet in Neuron to see if the address appears in other wallet's "Address Book"?

Switch wallet:
![image](https://user-images.githubusercontent.com/28836185/143222051-78770df3-1b92-40e2-9dec-9590e28cca2c.png)
Goto "Address Book" and check from the address list:
![image](https://user-images.githubusercontent.com/28836185/143222103-a52483e7-85b7-4d82-af10-31

[2021-11-24 10:39] Anubix8 commented on #2157
I have only one wallet

[2021-11-24 10:39] Anubix8 commented on #2157
I have only one wallet

[2021-11-24 18:13] Tomsdings opened #2182 "Neuron lost my password"
Hi, I have received some $CKB on my neuron wallet.
Now I tried to send 200 CKB to the portal wallet.
For this I had to put in my neuron wallet password.
Sending starts and after one second it is reported
that the password is incorrect. That is impossible IMAO.
And it is not possible to create another one.
I cannot find any instructions in the help documents regarding the password setting.
What can

[2021-11-24 20:57] tantommy opened #2183 "Wallet memory usage shoots up to 30Gb"
When I go to History > *expand transaction* > Detail the wallet memory usage shoots up to 30Gb sometimes

![image](https://user-images.githubusercontent.com/7282254/143311812-ec07a344-fcd1-4b06-be0b-acf6071f4bfe.png)

[2021-11-24 20:58] ttot1977 commented on #2036
Hello Kellyshang

I dont have other wallet in Neuron, just this one and only.
What else can we try to recover this transaction?

[2021-11-25 02:51] hoandang commented on #2154
Hi, I'm having the exact same issue but my OS is updated to 10.15.7. It was working fine though, I quit the app and reopened it then it's stuck

OS: Mac 10.15.7
Neuron Version:  0.101.0

[2021-11-25 03:04] kellyshang commented on #2036
I think it's better that you try to recall which wallet  the address "...zlrdw" you copied from.

[2021-11-25 03:15] kellyshang commented on #2036
And for now you'd better update the address that you registered in the white list of Bincance to avoid the later transaction been sent to the old address which you don't have the private key.

[2021-11-25 03:19] kellyshang commented on #2157
@Anubix8 Are you the same person with @ttot1977 ?
Seems you have posted the same issue with https://github.com/nervosnetwork/neuron/issues/2036 , if you are the same person, please do not report duplicate issues.

[2021-11-25 03:20] kellyshang commented on #2036
@ttot1977 Are you the same person with  @Anubix8?
Seems you have posted the same issue with https://github.com/nervosnetwork/neuron/issues/2157 , if you are the same person, please do not report duplicate issues.

[2021-11-25 03:25] #2036 closed

[2021-11-25 03:30] kellyshang commented on #2157
From this sentence and the screenshot you sent before, the address of "ckb1qyqxngcpv884mq3g4tqqc09jku4g2lkwlnmqhzlrdw" is the sender in Binance and you have sent to the receiver of "...lhxp" which was in your Neuron wallet. So seems you sent the 50000 CKB back to the sender in Binance.
You'd better check the address and the balance in Binance.

[2021-11-25 03:44] kellyshang commented on #2183
@tantommy Can you expand the process and take a fully screenshot of Neuron process?
for example:
![image](https://user-images.githubusercontent.com/28836185/143376158-3f66e7d8-35d0-47d8-bc93-eeee63375133.png)

[2021-11-25 03:48] kellyshang commented on #2182
@Tomsdings You can re-import the wallet by the mnemonic seed and set a new password with new wallet.
![image](https://user-images.githubusercontent.com/28836185/143376573-3681bb9e-e982-4cc8-ad31-6e6fdc7dc46c.png)

[2021-11-25 03:48] #2181 closed

[2021-11-25 03:49] #2173 closed

[2021-11-25 03:49] #2147 closed

[2021-11-25 03:49] #2116 closed

[2021-11-25 03:52] kellyshang commented on #2154
@hoandang Could you help export and upload the debug info zip file? (from `Help` - `Export Debug Information`)

[2021-11-25 03:55] kellyshang commented on #2131
Will close this issue since there is no news. You can reopen this issue if there is any problem.

[2021-11-25 03:55] #2131 closed

[2021-11-25 03:55] #2051 closed

[2021-11-25 03:56] kellyshang commented on #2048
Will close this issue since there is no news. If any problem you can re-open this issue.

[2021-11-25 03:56] #2048 closed

[2021-11-25 03:56] hoandang commented on #2154
@kellyshang Soz, I was too impatient so I completely deleted the app and reinstalled fresh and it is now syncing fine again (from 0% unfortunately). Will export those debug info if I encounter the same error next time. Cheers

[2021-11-25 03:57] kellyshang commented on #2046
Will close this issue since there is no news. You can re-open this issue if there is any problem.

[2021-11-25 03:57] #2046 closed

[2021-11-25 03:58] #2044 closed

[2021-11-25 03:59] #2031 closed

[2021-11-25 04:02] kellyshang commented on #2149
@Minnsy88 You can export the debug info from the menu of `Help` - `Export Debug Information`, then drag into the comment input box to upload it.

[2021-11-25 04:03] kellyshang commented on #2154
Great

[2021-11-25 04:03] #2154 closed

[2021-11-25 04:06] #2159 closed

[2021-11-25 04:11] tantommy commented on #2183
![image](https://user-images.githubusercontent.com/7282254/143378426-47c66665-c76a-467c-bbbd-3e64d641568e.png)
![image](https://user-images.githubusercontent.com/7282254/143378392-430c1e79-22fb-49ae-afd9-c925e22806c9.png)

[2021-11-25 04:38] Tomsdings commented on #2182
Thank you!

Viele Grüße
Thomas Förg

[2021-11-25 05:55] ttot1977 commented on #2157
Thank you for help I have wroten to Binance support and now waiting for
their answer

čet, 25. stu 2021. 04:30 kellyshang ***@***.***> je napisao:

[2021-11-25 05:56] ttot1977 commented on #2157
Anubix8 is my son and it is about the same problem.

čet, 25. stu 2021. 04:20 kellyshang ***@***.***> je napisao:

[2021-11-25 06:22] tianlitao opened #2184 "balance display error"
Neuron balance display 1000592CKB，but transfer error. And I use imtoken it's display balance 529CKB , last transfer

https://explorer.nervos.org/address/ckb1qyqxj6rdzwf0dqdrgpma3k0vud05gvq5zzsqj9z8wk

![39c6b4f631044b1e8bef634dcd42a82](https://user-images.githubusercontent.com/7892962/143389779-f508ade0-4310-41c1-87c9-345d2c64a692.jpg)

[2021-11-25 06:29] #2182 closed

[2021-11-25 07:52] kellyshang commented on #2183
Hi @tantommy , In order to further confirm the cause and for your privacy reasons, could you help export an `Extended Public Key` of your wallet and sent it to my mail: shangke@nervina.io ? Don't worry that the `Extended Public Key` won't allow anybody to do any transaction releated operations.
![image](https://user-images.githubusercontent.com/28836185/143401137-733c1f8c-3e89-44d3-9a5f-de913392a3

[2021-11-25 08:03] kellyshang commented on #2184
@tianlitao Neuron 的同步有时候可能因为某些原因导致余额统计不准确，我们也正在排查中，你可以试下单清缓存（`Settings` - `Clear Cache` ）然后再看下余额是否正确：
![image](https://user-images.githubusercontent.com/28836185/143402448-ed378ba5-1036-449b-8260-028034fdcc76.png)

[2021-11-25 08:53] tianlitao commented on #2184
清空重新同步之后正常了，感谢

[2021-11-25 08:54] #2184 closed

[2021-11-25 10:33] alexcasama opened #2185 "Ledger Nano X disconnected - Neuron"
I'm using:
- Ledger Nano X, with Nervos app installed v 0.5.2
- Ledger Live 2.35.2
- Neuron wallet 0.101.0

When I try to send some CKBs to another wallet and the Ledger Nano X is connected to the Mac, in the last step when I have to sign the operation, it shows the following message:

![image](https://user-images.githubusercontent.com/6854536/143424945-13c70bf0-9d4d-4db9-8862-a8936c9da883.png)

I

[2021-11-25 12:26] kellyshang commented on #2165
Expected result update:
Neuron will not display the sudt transactions from third-party's Dapp which are not the "ACP lock+sudt type" cells.

[2021-11-25 15:15] yuche commented on #2185
Counld you confirm that the following steps are all correct?

1. You can see in Ledger Live that your device is connected (this means your device is not damaged)
2. Close Ledger Live before open Neuron
3. You have the nervos app open in your device

[2021-11-25 16:40] finnerbahce opened #2186 "Unknown Outpoint (Neuron Wallet)"
I'm running Neuron Version 0.101.0 on Windows 10 Pro.

I'm trying to transfer CKB from the Neuron Wallet to an exchange. If I choose 10,000 CKB then the transfer occurs no problem but anything over that seems to fail.

I've cleared cache numerous times. I've also installed the wallet on another laptop and I get the same problem. Any suggestions/resolution?

![image](https://user-images.githubuserc

[2021-11-25 21:30] srrmike opened #2187 "New MacBook Neuron not Syncing"
I got a new 2021 M1 MacBook. Used backup from 2021 M1 Mac Mini. New MacBook running 12.0.1. Not sure what the Mini was running. Might be one version down. However Neuron wallet was running fine. All my other programs seem to transfer with no problem. Neuron Wallet knows about all my wallets. It just says connecting and Block Sync 0%.  Can't seem to load a fresh copy of Neuron. It always knows abou

[2021-11-26 01:55] kellyshang commented on #2186
@finnerbahce try single-clear cache, then wait for the sync complete and see if it works:
![image](https://user-images.githubusercontent.com/28836185/143515290-7e8e7132-dcef-4a23-b197-30d28f84dbd7.png)

[2021-11-26 02:54] jordanmack commented on #2185
Multiple users have reported problems with connecting Ledger devices using Ledger firmware v2.0.0 + Nervos Ledger app v.0.5.2. Pressing the rescan button several times fixes the issue in most cases. However, this does not appear to be the case with alexcasama. I do not recall having this issue prior to the latest upgrade.

[2021-11-26 07:37] finnerbahce commented on #2186
This worked. Every time I chose to fully rebuild index as well it continued to fail. Thank you so much.

[2021-11-26 09:53] #2186 closed

[2021-11-26 13:29] alexcasama commented on #2185
That was ok....I got the error....
On the Nervos app configuration within Ledger I had disabled the sign and contract.....so I put it on and it works!!
Thanks guys

[2021-11-26 13:31] #2185 closed

[2021-11-26 19:38] tantommy opened #2190 "History search bar placeholder example for date doesn't reflect actual usage."
The history search bar's placeholder shows that we can search for a date using the format `yyyy-mm-dd` but in actuality, we have to enter `yyyy-mm-dd HH:MM:SS`.

![image](https://user-images.githubusercontent.com/7282254/143664432-cb95034c-01bf-4263-a6c5-cbecec6de980.png)

Searched with date format per placeholder:
![image](https://user-images.githubusercontent.com/7282254/143624012-3735323a-821d-

[2021-11-26 19:42] ttot1977 commented on #2036
Hello Kellyshang

I have contacted binance support and they say that 50.000ckb has been sent on my CKB wallet address "...zlrdw" and that is visible in neuron explorer under TxId which I send in attachment.
So how can I retrieve my Ckb's? It must be some way ?

![image](https://user-images.githubusercontent.com/86892611/143624371-b62a6e3a-c66a-4a7c-9709-cf506db4449e.png)

![image](https://user-ima

[2021-11-26 20:26] ttot1977 commented on #2036
Hello Kellyshang,

here is an answer from Binance support and they tell that definitely only you can see where my Ckb is because they are definitely somewhere in your network from 31.10.2021. so please investigate the case in detail or give me contact from someone else which can and please help me retrieve my funds back to me.
Thank you

![image](https://user-images.githubusercontent.com/86892611/

[2021-11-27 01:56] dootie1723 opened #2191 "Deposit missing"
Hi, I withdrew CKB from crypto.com to deposit into the Neuron Wallet on 11/25 at 1:30pm. I still have yet to see it in my Neuron Wallet. I checked the explorer and can see that the transaction was there. Can someone help me trouble shoot this or is it just taking a long time for the transaction to complete. Normally when I move CKB from my crypto.com to Neuron Wallet it is completed w/in minutes.

[2021-11-27 03:28] kellyshang commented on #2187
Seems there is error when running the CKB node on your device. I have reported the issue to the ckb-core team. Will return to you when I get any feedback from them.

[2021-11-27 03:51] kellyshang commented on #2157
in order to do not disturb other person, let me reply [your comments](https://github.com/nervosnetwork/neuron/issues/2036#issuecomment-980357603) in this opened issue:

Can you try to recall for me for below questions:
Firstly let's see the transaction history of the address: https://explorer.nervos.org/address/ckb1qyqxngcpv884mq3g4tqqc09jku4g2lkwlnmqhzlrdw
![image](https://user-images.githubuserc

[2021-11-27 06:30] kyleecodes commented on #2191
If you verified your transaction was successful on ckbexplorer, it will go through, it may just take some time to show up in Neuron. Transactions on CKB are deterministic, meaning they either happen as expected or not at all. Have you tried clearing your cache in Neurons settings?

[2021-11-27 11:27] ttot1977 commented on #2157
Hello Kellyshang

thank you for quick reply.

Q1: Yes it was transaction withdrawal from Binance to Neuron wallet,
screenshot is down in mail
Q2: Im not shure what happened on 07.07.2021. on block 4.739.364 it was
transaction -30.034,1137 CKB which we put on staking process in Neuron
Nervos DAO.  I dont even know that I have wallet A and wallet B? I just
have one wallet see screenshot down. So I d

[2021-11-27 15:19] dootie1723 commented on #2191
Hello, yes I have cleared cache several times. So are you saying if I verified on CKBexplorer it will go through, it’s just a matter of time? How long should I wait to reach out again if I don’t see it show up in Neuron Wallet? Thanks for all your help!

Sent from Yahoo Mail for iPhone

On Saturday, November 27, 2021, 12:31 AM, Kylee Fields ***@***.***> wrote:

If you verified your transaction was

[2021-11-27 16:02] KingAnt511 opened #2192 "wallet not syncing"
wallet hasn't synced since opening. Has been over 12 hrs waiting for sync to see deposit arrive from kucoin.

[2021-11-28 04:13] kellyshang commented on #2157
@ttot1977 Your screenshots failed to display again. I have remind you several times that please don't reply by the email.

On the old lap top you can firstly check if the address `...lrdw` listed in the Neuron wallet A's `Address Book` (left menu `Receive` - click button `Address Book` ).
If it's the right wallet, you can reimport the mnemonic keyword to Neuron on your new lap top.

[2021-11-28 12:46] kellyshang commented on #2190
Seems the search for `yyyy-mm-dd` works for me. Can you please double check if there is any txs of the date listed in your history?

[2021-11-28 12:49] kellyshang commented on #2192
Why not upload and export the debug info zip file that the issue template required? Thus I can check more exactly what cause of your problem.

[2021-11-28 14:21] tantommy commented on #2190
Yes, in the screenshot i provided above, there is a transaction with the date `2021-11-16`.  In the second screenshot above, i searched for it with that date format but no results appeared.  In the third screenshot, I added the time and then it appeared.

[2021-11-28 14:36] kellyshang commented on #2190
Could you tell me your Neuron version and your OS version?

[2021-11-28 14:50] tantommy commented on #2190
![image](https://user-images.githubusercontent.com/7282254/143773019-a80c0772-83bc-488b-b0c3-8bd6ef1830c6.png)
![image](https://user-images.githubusercontent.com/7282254/143773028-517ae66b-5c6c-471e-8984-c306972022bc.png)

[2021-11-28 15:06] bulletproofliffe opened #2194 "withdraw issue"
I had withdrawn 15000ckb from neuron Dao to binance and the amount has still not reflected in my binance wallet. It's been 2 days and the ckb has been deducted from my wallet. The status is still showing pending. Any help regarding this?

Transaction id -    0x578ecca48ac033b637618e4a1fb2929e645a9ab1a22c1ab5065f3c3794e67c59

[2021-11-28 23:05] damichmich opened #2195 "Block Sync at 0% and stuck at connecting"
Hi, I noticed this yesterday and it's still stuck today. Anything I should do?

[2021-11-29 08:36] kellyshang commented on #2194
Seems the transactions didn'n onchain. Please check the tx status in your Neuron history.

[2021-11-29 08:36] kellyshang commented on #2195
Please report your problem follow the issue template which have told you what you should do.

[2021-11-29 08:38] #2164 closed

[2021-11-29 08:39] kellyshang commented on #2175
https://github.com/nervosnetwork/neuron/releases/tag/v0.101.1 released and fixed this issue.

[2021-11-29 08:39] #2175 closed

[2021-11-29 09:08] kellyshang commented on #2187
Maybe your CKB node's data was broken. Try to delete the whole folder of : `~/Library/Application Support/Neuron/chains/mainnet/data` , then restart Neuron and wait for the re-sync be complete.

[2021-11-29 17:50] tantommy commented on #2183
To recap:
@kellyshang has identified that because of a large amount of input/outputs when viewing the transaction details, the DB process gets locked up.

Conclusion:
Optimizations will be considered for a future release.

@kellyshang do we want to add this optimization to the backlog/board and close this issue for now?

[2021-11-29 18:31] numnallover opened #2200 "wallet won't connect"
[neuron_debug_1638209873983.zip](https://github.com/nervosnetwork/neuron/files/7620384/neuron_debug_1638209873983.zip)

[2021-11-29 20:57] kyleecodes commented on #2191
The Neuron wallet needs to be fully synchronized with the CKB blockchain for an accurate display of $CKB.
Therefore, if Neuron is not synced, the display will not be an accurate representation of the blockchain.
Also, do you have the latest release? You may be due for an upgrade. https://github.com/nervosnetwork/neuron/releases
If your Neuron wallet is still not fully synced or your $CKB doesn't s

[2021-11-29 22:38] damichmich commented on #2195
I"m sorry -- I am reporting it. Where should I go exactly? Where is the template?

[2021-11-30 01:06] damichmich commented on #2195
[neuron_debug_1638140798063.zip](https://github.com/nervosnetwork/neuron/files/7622144/neuron_debug_1638140798063.zip)

[2021-11-30 01:50] kellyshang commented on #2183
Yes, this optimization has been added to our backlog and we can close this issue for now. I will notify you when this issue been fixed.
Great thanks for your support.

[2021-11-30 01:50] #2183 closed

[2021-11-30 01:59] kellyshang commented on #2195
Hi @damichmich , that's great you upload the debug info and that can save time for both of us.

According to your debug info, there is data broken happened to the bundled CKB node.

For now you have to delete the whole folder of : `~/Library/Application Support/Neuron/chains/mainnet/data` , then re-start Neuron and see if the sync process works. It's better that to keep your PC not sleeping when s

[2021-11-30 02:15] kellyshang commented on #2200
@numnallover
First of all, let me confirm one thing with you:
Is there a warning window like below poped up when you open the Neuron?
![image](https://user-images.githubusercontent.com/28836185/143973653-667beb4b-c7ca-4396-9d59-5f71b220f06a.png)

Then you should install the `vc_redist.x64.exe` from https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-160 , then restart

[2021-11-30 04:37] srrmike commented on #2187
I found the file "~/library/ApplicationSupport/“ there is no “Neuron” file. Looking at my Mac that works. It doesn’t have this file either.

Thanks
Mike Smith
352-215-5942
***@***.***

[2021-11-30 09:46] numnallover commented on #2200
Visual c++ is installed. I have tried reinstalling Neuron, but with no luck
![nerbug](https://user-images.githubusercontent.com/95183268/144023889-4afe0cdc-8688-43cd-9a8e-0ce49237efee.png)
.

[2021-11-30 13:54] p2dak opened #2201 "block synced at 0% and default node stuck on connecting"
see headline above

[neuron_debug_1638280412364.zip](https://github.com/nervosnetwork/neuron/files/7626183/neuron_debug_1638280412364.zip)

any help would be appreciated

edit: If I have to delete a folder somewhere, please let me know where exactly I can find the folder!

thanks in advance!

[2021-11-30 14:02] kellyshang commented on #2187
Please make sure that in "Application Support" there is a blank space in there.
Here is an video to help how to locate the "Application Support" folder: https://www.youtube.com/watch?v=a10BiE9t7RY

[2021-11-30 14:13] kellyshang commented on #2200
@numnallover Could you please help export and upload the debug info again?

[2021-11-30 17:49] #2201 closed

[2021-12-01 06:42] oii123ggwp opened #2203 "not able to use ledger nano x to withdraw ckb"
**Describe the bug** (Please enter details, the more detail the better)
I'm not able to use ledger nano x to sign and withdraw ckb, but I can unlock Nervos DAO. The version is 0.101.1

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

[neuron_debug_1638340975394.zip](https://github.com/nervosnetwork/neuron/files/7631423/neuron_debug_1638340975394.zip)

**Scree

[2021-12-01 06:43] oii123ggwp commented on #2203
[neuron_debug_1638340975394.zip](https://github.com/nervosnetwork/neuron/files/7631419/neuron_debug_1638340975394.zip)

[2021-12-01 18:11] srrmike commented on #2187
Thanks deleting that file seems to of did the trick. The YouTube Video was good way to help me find it.

[2021-12-01 18:42] rjeasy00 opened #2204 "Problem"
i haven't seen the warning about sync completed before any transations, and i sent some ckb to my neuron wallet.
ckb never apear and saync is tanking forever.
can some one pls tell me if after sync my tokens will apear on my wallet or not?

[2021-12-02 02:28] dootie1723 commented on #2191
Hi, the block seems to be stuck at 99.93%. Also I am running version 0.100.1 do you think I should upgrade to a later release?

[2021-12-02 03:05] kellyshang commented on #2187
That's great.

[2021-12-02 03:05] #2187 closed

[2021-12-02 06:25] yuche commented on #2203
Please make sure the Nervos app on your device has the configuration “allow contract data” enabled.

[2021-12-02 08:31] oii123ggwp commented on #2203
I enabled it, but nothing happen

[2021-12-02 08:34] oii123ggwp commented on #2203
![Screenshot 2021-12-02 163317](https://user-images.githubusercontent.com/89623892/144386082-1af90501-9bf7-4ff0-a980-fecb0ce3ff8f.png)
and nothing happen on my ledger nano x

[2021-12-02 08:45] oii123ggwp commented on #2203
I'm able to withdraw my ckb!! But it take about 3 minutes to show the confirmation.

[2021-12-03 06:20] jordanmack commented on #2204
@rjeasy00 Yes, they will appear after the sync is completed. It is recommended you let it sync overnight and disable sleep on your computer so it doesn't get interrupted.

[2021-12-03 07:38] lightandsaltckb opened #2207 "default node: Sync is slow indicator"
[neuron_debug_1638515763381.zip](https://github.com/nervosnetwork/neuron/files/7647616/neuron_debug_1638515763381.zip)

Made a withdrawal last November 26, 2021 and it's already for unlocking today. However after syncing fine and reaching 100%, Synced will turn into Sync is slow. repeated the whole syncing but still the same. Around 11am, hours remaning to unlock is 0.2 hours. It is already 3:30pm

[2021-12-03 09:50] tonydnut opened #2208 "Unable to withdraw from Nervos DOA"
I have tried to withdraw my CKB from the DOA, it is within the withdrawal period, 2 days to go. It has said limit 200000 at the top in a red banner. Is there any way around this?
<img width="1470" alt="Screen Shot 2021-12-03 at 8 46 14 pm" src="https://user-images.githubusercontent.com/89505607/144581918-e130aae7-a2e3-49d9-b557-705a88aac646.png">

[2021-12-03 12:05] rjeasy00 commented on #2204
thank you very much for your time and for the tip. and also for the good news.

thanks a lot. : )

________________________________
De: Jordan Mack ***@***.***>
Enviado: sexta-feira, 3 de dezembro de 2021 06:20
Para: nervosnetwork/neuron ***@***.***>
Cc: rjeasy00 ***@***.***>; Mention ***@***.***>
Assunto: Re: [nervosnetwork/neuron] Problem (Issue #2204)

@rjeasy00<https://github.com/rjeasy00> Yes

[2021-12-03 16:45] dp181221 commented on #2208
same thing happening with me. i put a withdrawal request before 2 days. the transaction was showing failed. i update the software, sync it for few hours. still shows withdrawing after 4 days and not able to unlock after the time frame finished and now new cycle has started.

[2021-12-04 17:18] numnallover commented on #2200
[neuron_debug_1638638224831.zip](https://github.com/nervosnetwork/neuron/files/7654320/neuron_debug_1638638224831.zip)
there you go

[2021-12-04 20:10] Rags-nomore opened #2209 "Deposit pending"
**Describe the bug**
I deposited CKB in to the Nervos DAO via Neuron on November 28th, 2021 and the deposit is still pending. I have checked numerous times since this date, ensuring synchronization but the deposit is still pending.

Also, I am unable to deposit other CKB from the same wallet in to the DAO until this deposit has been verified.

Please advise how to troubleshoot?

**Debug info**

[n

[2021-12-04 22:10] dootie1723 commented on #2191
Hi, I installed latest version and the deposit is not showing up. Also it seems to be stuck at around 98% syncing. Any thoughts on what to do now? Thank you.

[2021-12-04 22:10] #2191 closed

[2021-12-05 20:24] ttot1977 commented on #2157
Hello Kellyshang

after many days old lap top finally fully synced and JEP there is now my
"losted" CKB's so we have found them (HAPPY)
address ...lrdw is listed in receive menu, I have successfully transfer my
CKB's now back to Binance.

But I have more CKB's on staking in Neuron wallet and question is when I
will make unstake back to wallet now I'm afraid that they will also
transfer back to tha

[2021-12-06 13:24] kellyshang commented on #2200
Seems your bundled CKB node still not been started.
Please make sure that the vc-redist you installed is the `x64` version:
![image](https://user-images.githubusercontent.com/28836185/144853700-aacee238-4f25-4d6a-9fe7-5cf251fcecf4.png)

[2021-12-07 02:50] hoandang commented on #2195
@kellyshang Hi Kelly, I did remove that folder and the sync seems to start picking up but it's now stuck at 100% syncing ~~ left [176018.02428517](https://share.getcloudapp.com/9ZuRZqAW)

Here is my log
[neuron_debug_1638845390210.zip](https://github.com/nervosnetwork/neuron/files/7665124/neuron_debug_1638845390210.zip)

[2021-12-07 04:22] kellyshang commented on #2195
Your bundled ckb node has not catch up to the latest block height. Try single-clear cache or restart the Neuron:
![image](https://user-images.githubusercontent.com/28836185/144965839-969c3292-be73-44bb-b572-fba3b235364c.png)

[2021-12-07 09:18] gabisena424 commented on #2209
withdrawing pendente... apos sacar cbk da neuron com sincronização incompleta meu saque não foi realizado

como devo proceder ?

[2021-12-07 10:05] ISME-2008 opened #2212 "Deposit not Showing in Neuron Wallet"
Hi, I have just created a CKB Nervos Neuron Wallet and have deposited 10000 CKB from an exchange and whilst the status on the exchange is showing completed, the CKB is not showing in my Neuron Wallet.

I have input the TX hash address into the history section of the wallet but it does not recognise or find the transaction.

Hope someone can help/advise ?

[2021-12-07 15:11] gabisena424 opened #2213 "retirada pendente"
retirada pendente... após sacar cbk staking do neurôn com sincronização incompleta meu saque não foi realizado

como devo proceder?

informações de depuração

neuron_debug_1638868734614

capturas de tela'

[20211205.Nervos.DAO.screenshot.docx](https://github.com/nervosnetwork/neuron/files/7669356/20211205.Nervos.DAO.screenshot.docx)

output captura de tela

0         ckb1qyqrepsd6p2epkumtfs6u2fpfv

[2021-12-07 16:19] gabisena424 opened #2214 "retirada cbk nao validada"
efetuei uma retirada de ckbs após 4 dias de staking e meus 101 mil ckbs nao foram retirados nem aparecem com locked

capitura de tela

[20211205.Nervos.DAO.screenshot.docx](https://github.com/nervosnetwork/neuron/files/7669857/20211205.Nervos.DAO.screenshot.docx)

debug informaation

[neuron_debug_1638893466608.zip](https://github.com/nervosnetwork/neuron/files/7669853/neuron_debug_1638893466608.z

[2021-12-07 18:21] dmatsumoto commented on #2200
@kellyshang I have the same problem, but I definitely have the x64 redist installed.  I was syncing for 300k blocks, and then it just stopped and was stuck at the Connecting state.  I restarted Neuron and now it just says "Sync not started yet".

Here's my debug log.  Could you please take a look and suggest next step
[neuron_debug_1638900840183.zip](https://github.com/nervosnetwork/neuron/files/7

[2021-12-08 05:16] FlipForTheWin opened #2215 "Dao deposit stuck pending"
**Describe the bug** (Please enter details, the more detail the better)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2021-12-08 05:21] FlipForTheWin commented on #2215
Debug Info: ckb1qjl58smqy32hnrq6vxjedcxe2fugvnz497h7yvwqvwel40uh4rlte7y5tzs4vcgachkls5ddj25hkjppecu6k57lmwh

[2021-12-08 05:22] FlipForTheWin commented on #2215
Hash Transaction: 0x9d01ac03028b9979fb445c1ad13ab3fbecfe66b41dfac3d850d072d0d61825cc

[2021-12-08 05:40] #2215 closed

[2021-12-10 15:41] kellyshang commented on #2214
@gabisena424 try the latest version of [v0.101.2](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.2)

[2021-12-10 15:45] kellyshang commented on #2213
duplicate issue with https://github.com/nervosnetwork/neuron/issues/2214

[2021-12-10 15:45] #2213 closed

[2021-12-10 15:46] kellyshang commented on #2212
Why not export and upload the debug zip file that the issue template required? Thus I can check more exactly what cause of your problem.

[2021-12-10 15:49] kellyshang commented on #2209
Try install the latest version of [v0.101.2](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.2) .
BTW I will close this issue as it's duplicated with https://github.com/nervosnetwork/neuron/issues/2214

[2021-12-10 15:49] #2209 closed

[2021-12-10 15:56] kellyshang commented on #2207
Your Neuron version is an old version and the bundled CKB node is too old that may not be compatible very well with the latest CKB version.
You can try to restart the Neuron, while it's better to upgrade the Neuron to the latest version once you are free, cause the re-sync will take a long time.

[2021-12-10 15:57] #2203 closed

[2021-12-10 16:00] kellyshang commented on #2200
Hi @dmatsumoto , could you have a try the latest version of [v0.101.2](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.2) and see if it works?

[2021-12-10 16:00] #2204 closed

[2021-12-10 16:02] #2192 closed

[2021-12-10 16:03] #2194 closed

[2021-12-10 16:03] #2162 closed

[2021-12-10 16:03] kellyshang commented on #2162
Close this issue as there is no more news.

[2021-12-10 16:05] kellyshang commented on #2171
Greate.

[2021-12-10 16:05] #2171 closed

[2021-12-10 16:07] kellyshang commented on #2157
You can export the keystore from the old lap top and import it to the new lap top with same password.

Export keystore from old lap top:
![image](https://user-images.githubusercontent.com/28836185/145604658-e7b84844-5b9b-4772-8042-b682188c2eac.png)
Import keystore to the new lap top:
![image](https://user-images.githubusercontent.com/28836185/145604604-3cfb877b-d084-4868-b4c4-fb9f55dbb6e1.png)

[2021-12-10 16:09] #2169 closed

[2021-12-10 16:09] kellyshang commented on #2174
Will close this issue as there is no more news.

[2021-12-10 16:09] #2174 closed

[2021-12-10 16:11] kellyshang commented on #2158
Will close this issue cause there is no more news. You can report a new one if still any problems.

[2021-12-10 16:11] #2158 closed

[2021-12-10 16:12] kellyshang commented on #2152
new version of [v0.101.2](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.2) is released.

[2021-12-10 16:12] #2152 closed

[2021-12-10 16:13] kellyshang commented on #2117
Will close this issue as there is no more news. You can report a new one if still any problems.

[2021-12-10 16:13] #2117 closed

[2021-12-10 18:01] gabisena424 commented on #2214
gostaria de saber se corro risco de perder meu CKBs ?

estou temerosa

[2021-12-10 20:52] gabisena424 opened #2218 "transação pendente"
fiz a ultima atualização da carteira neurom  como sugerido e minha retirada ainda esta pendente.

caso faça withdraw antes da epoca 53 acontece?

O que devo fazer ?

debug information

[neuron_debug_1639169423416.zip](https://github.com/nervosnetwork/neuron/files/7695394/neuron_debug_1639169423416.zip)

foto de tela
[20211205.Nervos.DAO.screenshot.docx](https://github.com/nervosnetwork/neuron/file

[2021-12-10 23:48] hypn0chain commented on #2208
i too, cannot withdraw from my Neuron wallet, my Nervos DAO. I receive 2 different error messages upon attempting to withdraw from Neuron. I am re-syncing my Neuron wallet now.

[2021-12-11 04:48] vdubbed opened #2219 "Neuron wallet update 0.101.2"
I’ve just updated my NW to 0.101.2 with the option of “myself” only as a user whereas with the previous version with the option of “anyone who uses this computer “. Now I have two identical icons on my desktop  - an old version and an updated one. Both old and new versions sync and show the correct balance. On switching to my other Microsoft account, as expected I only see an old version of NW sof

[2021-12-11 07:57] kellyshang commented on #2214
Your ckb won't lose as it's on chain. The version you are using may have bug on compatibility. The latest version should have fixed the bug.

[2021-12-11 12:35] gabisena424 commented on #2214
E AGORA O QUE DEVO FAZER ?

JA FAZEM 7 DIAS QUA TRANSACAO ESTA PENDENTE

[2021-12-11 12:35] #2214 closed

[2021-12-12 14:31] sfont012 commented on #2195
Hi guys/gals, i'm having difficulty getting Neuron to sync and I've uploaded the debug file. If i need to open a separate thread just let me know and i will.

Issue - When i start Neuron it stays at 0% and will not sync. It has never moved past 0%.
[neuron_debug_1639319065520.zip](https://github.com/nervosnetwork/neuron/files/7698911/neuron_debug_1639319065520.zip)

[2021-12-12 14:49] hoandang commented on #2195
@sfont012 Clear your cache and restart your comp, if it's still not syncing then just reinstall and resync everything from scratch again. It seems like a known issue but don't think there is a permanent fix yet. So prevent it from ever happening again, just keep the app open all the time and don't close it (at least from my experience from my Mac)

[2021-12-12 14:53] kellyshang commented on #2195
@sfont012 The bundled CKB node didn't start on your PC. Try install the redist and then restart Neuron: https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170
![image](https://user-images.githubusercontent.com/28836185/145717276-bfde420e-f7fd-49d6-8769-7d64cf4548b1.png)

[2021-12-12 15:12] kellyshang commented on #2218
Hi @gabisena424 , try to **double**-clear cache and wait for re-sync to see if it works:
![image](https://user-images.githubusercontent.com/28836185/145717937-ffe13923-bb6a-41a2-8afc-3517dcef4c08.png)

[2021-12-12 15:37] kellyshang commented on #2219
@vdubbed :
1. Yes you can choose "Uninstall" to uninstall the one you don't need (the installation path should be different for "anyone" and "myself).
2. Yes the 24 word seed phrase is the only thing that you need to reinstall. You can also backup your wallet to export as an keystore as a double guarantee.

[2021-12-12 18:50] Ajotago opened #2220 "Mainet not sync"
**Describe the bug** (Please enter details, the more detail the better)
Wallet not synced

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
[neuron_debug_1639334763984.zip](https://github.com/nervosnetwork/neuron/files/7699346/neuron_debug_1639334763984.zip)

**Screenshots** (If applicable, add screenshots to help explain your problem.)
![image](https://user-i

[2021-12-12 22:43] Ajotago commented on #2220
I Try install the redist and then restart Neuron, I cleared cache, restart pc, unisntall and reinstall Neuron.
Nothing happend. I'm confused because I wont move my earnings from mining into a exchange :/

[2021-12-12 23:03] Ajotago commented on #2220
I dont know what to do next......

[neuron_debug_1639350183963.zip](https://github.com/nervosnetwork/neuron/files/7700042/neuron_debug_1639350183963.zip)

[2021-12-13 03:31] sfont012 commented on #2195
Worked, thank you! Luckily all my ckb is in there even though wallet never synced up until today.

[2021-12-13 05:58] kellyshang commented on #2220
@Ajotago The bundled CKB node didn't start on your PC. Try install the redist and then restart Neuron: https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170
![image](https://user-images.githubusercontent.com/28836185/145760126-4cbae39f-c054-44f4-964c-f8bf4e9476b2.png)

[2021-12-16 12:17] vdubbed commented on #2219
Thanks very much for the advice. 👍

[2021-12-20 21:05] PascalS73 opened #2222 "Transaction before total sync"
Hello. I installed Neuron 2 days ago. Unfortunately, I made a transaction before the full synchronization. Now the transfer does not appear on my wallet and Neuron cannot finish its synchronization.

**Debug info**
[neuron_debug_1640034045732.zip](https://github.com/nervosnetwork/neuron/files/7747946/neuron_debug_1640034045732.zip)

**Screenshots**
![Capture](https://user-images.githubusercontent.

[2021-12-20 21:56] PascalS73 commented on #2222
Hello. Everything is now ok. Synchronization is at 100% and my deposit is visible.
Thank you.

[2021-12-20 21:56] #2222 closed

[2021-12-23 03:56] VISQonSpotify opened #2223 "Allow Neuron Wallet to accept sUDT assets on Neuron addresses?"
I had used NexisDAO to mint dCKB on their platform and I accidentally transferred my dCKB to my Neuron address. The asset is there, however, there is no way to access it. This has also happened to others in the Nervos community and we would love it if this can be implemented so others can not have the same issue as we are having. Not only would it help, but it'll make it future-proof to where othe

[2021-12-23 23:10] blockchainRick commented on #2223
I also have this same issue. I was under the impression it was treated the same as CKB and sent it to the neuron wallet not knowing after getting it stuck in Yokaiswap and not being able to send it back to NexisDAO. Thanks for any help in the matter. It can be seen here:

https://explorer.nervos.org/address/ckb1qyqfvdfhwu0t27ykc6yn6mzlszdpw3gnyq5qt5cgev

[2021-12-24 00:24] blockchainRick opened #2224 "dCKB (NexisDAO) stuck in Neuron Wallet - sUDT asset Support?"
I sent 5000 dCKB minted at Nexis DAO to Yokaiswap initially before it was functional not realizing I couldn't use them there yet. When I couldn't send them back to Nexis, I sent them to Neuron Wallet not realizing it was not supported and now they are stuck in there inaccessible. Is there a way to make them available to send back out so I can unlock my CKB over at Nexis?

Transaction is viewable h

[2021-12-25 08:20] compasses opened #2225 "why withdraw fail? and how about the subsidized rate during withdraw"
**Describe the bug** (Please enter details, the more detail the better)
have do the withdraw on '2021-11-19'，from the rule my asset should be unlocked yesterday.
But now it get locked again....
I really need it unlock right now,  So what can I do now?
![image](https://user-images.githubusercontent.com/10161171/147380781-71b0d8b9-cbc8-4c92-b370-1c8e8a98e850.png)

And during the withdraw process, ca

[2021-12-26 21:26] Jconradv opened #2226 "Neuron wallet wont sync"
I logged into my neuron wallet the other day and it won't sync my wallet.  Stuck on "Block synced 0% 0/0 mainnet default node connecting". Along with this current issue I can't see my current stakings.  I have tried closing app and restarting, along with clearing the cache and restarting.  Still same issue.

[2021-12-26 21:31] Jconradv commented on #2226
![Screen Shot 2021-12-26 at 3 29 53 PM](https://user-images.githubusercontent.com/96702444/147420514-02877719-c61c-4984-92a5-373a26c1e33a.png)
![Screen Shot 2021-12-26 at 3 30 30 PM](https://user-images.githubusercontent.com/96702444/147420515-7324be68-b90f-4765-bff9-f99befcdb32e.png)

[2021-12-26 22:03] Jconradv commented on #2226
[main.log](https://github.com/nervosnetwork/neuron/files/7777631/main.log)

[2021-12-26 22:03] Jconradv commented on #2226
[neuron_debug_1640555939431.zip](https://github.com/nervosnetwork/neuron/files/7777632/neuron_debug_1640555939431.zip)

[2021-12-27 13:46] #2226 closed

[2021-12-28 02:04] VISQonSpotify commented on #2224
Please make a tool for people to access this, thanks!

[2021-12-28 02:05] VISQonSpotify commented on #2225
Is your wallet fully synced?

[2021-12-28 07:03] Keith-CY commented on #2223
Hi @VISQonSpotify and @blockchainRick

We've got several feedbacks about this annoying problem and had a discussion recently.

The neuron is kind of conservative and follows all well-grained RFCs, so it won't handle the unofficial assets until they are included in RFC.

To unlock these unrecognized assets in neuron, we're going to make a new tool featuring full interoperability that can handle UDT

[2021-12-28 07:05] Keith-CY commented on #2224
A new tool will be released by 2022/05/20, mentioned in https://github.com/nervosnetwork/neuron/issues/2223#issuecomment-1001901666

[2021-12-29 02:35] kellyshang commented on #2208
Try install the latest version and restart: https://github.com/nervosnetwork/neuron/releases/latest

[2021-12-29 02:36] #2170 closed

[2021-12-29 02:37] kellyshang commented on #2149
I will close this issue since there is no more update. Feel free to report a new issue if still any problem.

[2021-12-29 02:37] #2149 closed

[2021-12-29 02:41] kellyshang commented on #2165
A new tool to handle this kind of UDT will be released by 2022/05/20, mentioned in [#2223 (comment)](https://github.com/nervosnetwork/neuron/issues/2223#issuecomment-1001901666)

[2021-12-29 03:12] VISQonSpotify commented on #2223
I really appreciate this! Thank you for working on it.

[2021-12-29 03:23] blockchainRick commented on #2223
This is great news. Thank you so much!

[2021-12-29 03:24] blockchainRick commented on #2224
@Keith-CY wonderful news. Thank you!

[2021-12-30 06:44] compasses commented on #2225
@VISQonSpotify

Sure, Now it's fully synced. I think it's should be synced month ago when I withdraw it.
But in the middle I did upgrade the wallet.
So I don't know why it's start withdraw again, it was supposed to be unlocked on 2021-12-23
big thanks

![image](https://user-images.githubusercontent.com/10161171/147727904-53e10f39-05e0-437e-8450-fc1037ca108e.png)

[2021-12-30 23:56] kaceydoesdev opened #2227 "Neuron wallet never syncs"
I've restarted the program; deleted, and recreated wallets; restarted the computer; and deleted, and reinstalled the program. Nothing works. I've left it sitting for two days, and it never connects to the mainnet, or does any syncing. The issue is with an older iMac, but it has 10.13.6.

I have a new iMac with Monterey, and the wallet worked great. Took all day to sync, but it worked.

Figured I'd

[2022-01-02 18:16] gabisena424 opened #2228 "PROBLEMA COM SENHAS"
MINHA SENHA DE RETIRADA ESTA CORRETA E MESMO ASSIM APARECI SENHA INVALIDA ...O QUE DEVO FAZER

[2022-01-05 03:52] compasses commented on #2225
@VISQonSpotify Hi do you have any idea to make sure the withdraw will be succeed next time?
BTW, any other wallet to make change on my staking DAO?
big thanks.

[2022-01-05 03:59] VISQonSpotify commented on #2225
Sorry if this was already done but have you updated your neuron wallet? Go to settings and click update.

[2022-01-05 04:00] VISQonSpotify commented on #2225
You can use imToken wallet and use the site ckb.pw or something like that.

And there's also Yokaiswap for DeFi.

[2022-01-05 04:35] compasses commented on #2225
@VISQonSpotify
Hi, Cannot use imToken, cannot open it..., seems the ckb.pw cannot reach inland.
Actually, I just want release my ckb in DAO to do farming on Yokaiswap, but cannot withdraw now.

Now seem the Neuron wallet cannot work, cannot sync block now,  the address is error ?
![image](https://user-images.githubusercontent.com/10161171/148161218-59a5a98e-4c0b-430b-8c1b-2c2fbc90f1d8.png)

[2022-01-05 13:00] VISQonSpotify commented on #2225
![image](https://user-images.githubusercontent.com/1677300/148221544-88ad940c-797b-45d9-8fa3-fde146dc2f2c.png)

Sorry if this was already done but have you updated your neuron wallet? Go to settings and click update.

[2022-01-05 15:26] compasses commented on #2225
@VISQonSpotify yes  already the newest version:
![image](https://user-images.githubusercontent.com/10161171/148243155-bf8a6a0e-ad58-4d1d-a549-f4d34d897050.png)

[2022-01-05 16:00] gabisena424 opened #2229 "SAQUE INEFICIENTE"
*NÃO CONSIGO SACAR MEUS CKBS DO STAKING

[2022-01-09 14:02] KaungMyatKyaw123 opened #2230 "Very very slow syncing"
I downloaded neuron wallet and opened new account all is okay but syncing rate is too slow I saw about 6 millions blocks on ckb explorer and my syncing rate is 1.5 millions in 2 days, why is this very slow ?

### my network is medium rate. window 10 OS

[2022-01-09 16:30] kellyshang commented on #2227
Hi @kaceydoesdev , the bundled CKB node does not support the macOS version below `10.15`. You'd better upgrade your OS version or run on another PC which OS version is equal to or higher than `10.15`.

Or you can build the [CKB node](https://github.com/nervosnetwork/ckb) by yourself (not recommend).

[2022-01-09 16:34] kellyshang commented on #2230
The syncing for Neuron including two parts: the sync of the bundled CKB node and the sync of the Neuron db from the CKB node. And the sync rate on Win OS is slower than Mac OS which is slower than Linux.
Also the sync rate will depend on your PC's performance & the network status.
And you'd better keep the PC not sleeping when syncing.

[2022-01-10 02:57] kellyshang commented on #2229
Can you please help provide the screenshot of the issue and export & upload the debug info zip file?

[2022-01-10 07:10] caitlingao opened #2231 "Neuron 0.101.2 钱包一直显示 同步尚未开始"
**Describe the bug** (Please enter details, the more detail the better)
已同步区块0%， 0/0
同步尚未开始

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
OS & Version: [macOS Monterey 12.0.1]
Neuron Version [0.101.2]
Block Number:

**Screenshots** (If applicable, add screenshots to help explain your problem.)
[neuron_debug_1641797669242.zip](https://github.com/nervosnetwo

[2022-01-10 08:40] kellyshang commented on #2231
@caitlingao 在退出 Neuron 后，你看一下活动监视器里是否还有 ckb 或者  ckb-indexer 进程在，如果有的话手动关闭一下，然后重启 Neuron 试试看。
（在 v0.101.1 版本有个遗留的 bug 就是在 Mac 系统上退出 Neuron 后 ckb 相关进程没有自动关闭，v0.101.2 应该修复了你可以再确认下）

[2022-01-10 10:21] caitlingao commented on #2231
把ckb和ckb-indexer进程杀掉后重启，开始同步区块了。谢谢

[2022-01-11 07:31] kellyshang commented on #2231
好的不客气，要是没别的问题的话就先关闭这个 issue 了（有问题可以再 reopen）。

[2022-01-11 07:31] #2231 closed

[2022-01-12 01:45] Windwisperer opened #2232 "Neuron at 0% Block Synced, stuck connecting"
Recently my established and fully synced wallet has started having issues.. The issue first started when I had to do a system restore to rollback a broken driver, then upon logging back in it never syncs with the blockchain. I have tried clearing cache, fully rebuild index, installed new version, installed microsoft c++ redist and nothing seems to work. I could see my DAO deposits before I updated

[2022-01-13 16:37] stevencomerthornley opened #2233 "messages.fields. is too short, it should be longer than or equal to ."
I can not deposit 9025 ckb into the Nervos DAO, and I would like to

[2022-01-14 13:12] tgormglitch opened #2235 "Upated Wallet"
After the update I received the message stating I require x64 version of MVC++. In the previous version I also got this message however, I was able to skip it and the wallet would be functional. There is now no skip button and when I hit Install and Exit, it closes the wallet and sends me to Microsoft's Official page and closes the wallet. I have downloaded the most recent version and restarted, u

[2022-01-15 15:52] jimsrc commented on #2223
I have the same problem.
I bridged some ETH from Ethereum network to Nervos, but I can't see them in Neuron wallet.
I do see them in explorer.nervos.org though.

[2022-01-17 13:31] rolllin commented on #2212
i have the same problem

[2022-01-18 03:24] compasses commented on #2225
@VISQonSpotify
Hi, this is the time begin, will it success this time?

![image](https://user-images.githubusercontent.com/10161171/149865422-101bbb08-88a2-4efb-9b7b-d25c27912c27.png)

Or any way to remedy ??
Big thanks :)

[2022-01-18 06:22] VISQonSpotify commented on #2225
@compasses yes, that is the correct time to withdraw. Then, after you withdraw, you'll wait some days and then you will come back and hit the "withdraw" again, and then it will remove it from the dao.

[2022-01-18 15:00] kamarajj opened #2240 "ckb Deposit from Binance not arrived"
ckb Deposit from Binance not arrived. The withdrawal completed successfully in Binance. But the CKB never arrived in the neuron walet.
Can you please help. Thanks

[2022-01-18 15:01] kamarajj commented on #2240
Here is the TxId for the transaction:

0x93def4bea3b2291b1d3be54ae3a0b9d5752bd1ce0d2e12188ac97f93d57342a4

[2022-01-18 15:01] kamarajj commented on #2240
Here is my walet address:
ckb1qyqx4jza6c75wc5r2yukxxjmjv52m4u95yxsxt2r29

[2022-01-18 15:04] kamarajj commented on #2212
My deposit from finance is not showing also.

[2022-01-18 23:55] panmoria opened #2241 "Seed phrase import issue"
pls ignore, solved

[2022-01-19 00:26] #2241 closed

[2022-01-19 02:44] Fsdnow12 opened #2242 "Not Connecting after update and Before Update it wouldn't fully sync"
**Describe the bug** (Please enter details, the more detail the better)
I haven't been able to fully sync since before the most recent update and now with the update it stays at "connecting" but never connecting.  I have uninstalled Neuron Wallet, restarted my laptop.  Downloaded latest version of the wallet and it has not helped.  This has been going on for over a month now.  I'm totally new to t

[2022-01-19 06:50] compasses commented on #2225
@VISQonSpotify  Hi, as you can see, I cannot do any actions now, I have withdraw two months ago :(,
My question is will it success this time? And any way to do something to ensure that??

Big thanks.

[2022-01-19 06:53] kellyshang commented on #2242
From the log it indicates that the CKB node didn't ran on your device. Please try download and install the vc-redist
 before starting the Neuron: https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170
![image](https://user-images.githubusercontent.com/28836185/150079292-a633b2d6-f5eb-496c-a171-e73c0ac22bda.png)

[2022-01-19 06:59] kellyshang commented on #2240
The Neuron is a full-node wallet that needs to wait for a complete syncing before you can see your balance.
So please make sure that your Neuron's sync has been finalized. Or you can export the debug info from the menu from `Help` - `Export Debug Information` and drag it into here to let me have a look.

[2022-01-19 07:06] kellyshang commented on #2233
Update to the latest version of [v0.101.2](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.2), and then try single-clear cache from `Settings` window:
![image](https://user-images.githubusercontent.com/28836185/150080978-7d68bd75-91dc-429a-bf92-155676c98507.png)

[2022-01-19 07:22] kellyshang commented on #2232
From the log it indicates that your CKB node's db was corrupted. Maybe you need to delete the whole synced data and re-sync which may take a long time.

You can delete the whole synced data from the menu `Tools` - `Clear all synchronized data`:
![image](https://user-images.githubusercontent.com/28836185/150083180-2e40c6d1-7ef1-436b-bbdc-d20c327184db.png)

[2022-01-19 07:29] kellyshang commented on #2225
Hi @compasses , on CKB the withdraw is a 2-phase process, after withdrawal, it still needs to wait for the lock period of 180 epoches to be complete before you can unlock it.
Hope this doc can help you to understand the rule:
https://docs.ckb.dev/docs/rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw

[2022-01-19 17:03] Fsdnow12 commented on #2242
Hello Kelly,

I have completed what you suggested and I'm still not able to connect.  I
installed VC and rebooted my computer and then opened The program has been
running for a while now with still no ability to connect. See below for a
screenshot.  I've also attached a new debug report to this email.
Please let me know what else I can do.

[image: image.png]

On Wed, Jan 19, 2022 at 12:53 AM kell

[2022-01-20 01:34] kellyshang commented on #2212
@rolllin @kamarajj can you please help export the debug info zip file from menu `Help` - `Export Debug Information` and upload it here, I will check what was happend.

[2022-01-20 01:41] kellyshang commented on #2225
@compasses Can you have a try to single-clear the cache?
![image](https://user-images.githubusercontent.com/28836185/150246994-72dc119f-ca51-47ea-a113-2985df2b74cc.png)

[2022-01-20 01:46] kellyshang commented on #2242
Hi @Fsdnow12 , please do not reply from the email as the email was send by the Github platform, so we cannot get the attached file you sent.
Please help drag the files into the comment box of this [issue](https://github.com/nervosnetwork/neuron/issues/2242)  and upload it.

[2022-01-20 01:52] VISQonSpotify commented on #2225
Thanks for supplying the additional information 👍

[2022-01-20 02:11] Fsdnow12 commented on #2242
My apologies Kelly,
Attached is the new debugging report after doing what you suggested.  Below is a screenshot of the Neuron wallet still not able to connect after running for a while.  Please let me know what I should do next.  Thank you!

[neuron_debug_1642611378132.zip](https://github.com/nervosnetwork/neuron/files/7901741/neuron_debug_1642611378132.zip)

![image](https://user-images.githubuse

[2022-01-20 02:16] kamarajj commented on #2212
I got the deposit after the sync completion. Thanks.

________________________________
From: kellyshang ***@***.***>
Sent: Wednesday, January 19, 2022 5:35 PM
To: nervosnetwork/neuron ***@***.***>
Cc: kamarajj ***@***.***>; Mention ***@***.***>
Subject: Re: [nervosnetwork/neuron] Deposit not Showing in Neuron Wallet (Issue #2212)

@rolllin<https://github.com/rolllin> @kamarajj<https://github.com/k

[2022-01-20 02:34] rolllin commented on #2212
https://explorer.nervos.org/transaction/0x911d7db2dcdf3ef67da2e29ddffb6bbaf84b2835df06992e591d3401801087be?lang=en_US this is my transaction but ckb it dosnt show in my wallet

[2022-01-20 02:43] kellyshang commented on #2242
Seems the CKB node still cannot be ran on your PC.
Firstly can you try and see what return of this command: `REG QUERY HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\x64 ` in the PowerShell ?

Second, try delete the whole synced data from menu `Tools - Clear all synchronized data` and see if it works?
![image](https://user-images.githubusercontent.com/28836185/150262619-90f266

[2022-01-20 02:44] kellyshang commented on #2212
Can you please help export the debug info zip file from menu Help - Export Debug Information and upload it here?

[2022-01-20 11:29] compasses commented on #2225
@kellyshang My God ! thank you very much, that's work, and i can do the withdraw now...
that's confused me more than two months...
thanks again..

[2022-01-20 11:29] #2225 closed

[2022-01-20 13:32] rolllin commented on #2212
i cant find export debug information

[2022-01-20 23:37] Fsdnow12 commented on #2242
Hello Kelly,

Neuron began syncing but lost connection and hasn't been able to reconnect.
![image](https://user-images.githubusercontent.com/98000829/150439138-9fe0acd7-218b-49a9-868e-18018a2d8473.png)

Here is the latest debug report.  Let me know what you think.  Thank you!
[neuron_debug_1642721739588.zip](https://github.com/nervosnetwork/neuron/files/7909145/neuron_debug_1642721739588.zip)

[2022-01-21 01:48] kellyshang commented on #2212
![image](https://user-images.githubusercontent.com/28836185/150450928-ccf34402-c788-49cd-8da1-f51b2f0e1eba.png)

[2022-01-21 10:46] kellyshang commented on #2235
Hi @tgormglitch , actually this behavior is really strange so that I'm not quite sure the reason.

According to your debug info, your local ckb node and Neuron can sync normally before, in theory the vc redist should have been installed on your machine thus the warning window should not be shown up when start the Neuron.

Could you help do some works to help us locate the problem more accurately:

[2022-01-21 11:10] kellyshang commented on #2242
Hi @Fsdnow12 ,
1. Seems your local peer was banned by other peers. Try delete the folder of `%APPDATA%/Neuronchains/mainnet/data/network/peer_store` and then restart Neuron.
2. after you delete the whole synced data please wait for a while as maybe the db data will be corrupted if you do the operation quite frequently. If 10 mins later the sync still not start, try restart the Neuron.

[2022-01-21 13:55] tgormglitch commented on #2235
Thanks for responding Kelly. Here are the screenshots you requested and I installed it for **just me**.
![vc1](https://user-images.githubusercontent.com/74471741/150538914-e63f526a-8af2-4034-896e-dede808e9329.JPG)
![vc2](https://user-images.githubusercontent.com/74471741/150538918-b696ae1a-598b-4247-a875-51e4a1dc8e90.JPG)
![vc3](https://user-images.githubusercontent.com/74471741/150538921-ab12a5f0

[2022-01-22 17:46] Sirys191 opened #2245 "ckb Deposit from Binance not arrived me too"
**Describe the bug** (Please enter details, the more detail the better)
19.01.2022 sent CKB from binance to neuron wallet

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
txID: 0x8fb312c1444b986cc4bd57b07f4af54284096969435643dcb93c36bb62c2901a
![CKB не дошли](https://user-images.githubusercontent.com/98230277/150649726-d74e7801-52c2-4c7f-868d-2d47406a3ac2.jpg

[2022-01-23 03:38] Fsdnow12 commented on #2242
Hello Kelly,

This worked.  I followed your instructions and was finally able to get connected and fully synced.  I backed it up just in case too.  Thank you!!!

![image](https://user-images.githubusercontent.com/98000829/150663769-f25eb2ff-058f-408d-a7b7-9f4e73f1c68f.png)

[2022-01-23 16:14] #2242 closed

[2022-01-23 16:20] kellyshang commented on #2245
1. In the Neuron wallet, has the sync been finalized? ( check from the left bottom of the Neuron)
2. If the sync has not been finalized, please be patient to wait for the sync been completed.
3. If your balance still not show up after the sync finilized, export (from menu of `Help` - `Export Debug Information` ) and upload the debug info zip file into here and I will try to figure out what was the

[2022-01-23 18:20] Sirys191 commented on #2245
Hello!
Yep, th sync hadn’t finalized. Now done, ckb arrived, thank you and good luck !! 
 
 
--
Василий Трубачев
Отправлено из Почты  Mail.ru
 
 

 

[2022-01-24 02:15] #2245 closed

[2022-01-25 04:03] freespirit8614 opened #2248 "CKB Neuron Wallet Unlock Staking Issue. Where are my tokens and staking rewards?"
In my Neuron wallet, I unlocked my CKB tokens which were staking on 23/01/2022. There were 3 days to go before the current compensation period ended, and I pressed "unlock" button, and also see I paid the fee which shows in my History within the wallet.

I have waited 2 days and the wallet now shows 0 days to compensation period ends. My wallet is fully synched and up to date on the current versio

[2022-01-25 10:32] dapptain opened #2249 "Suggestion: Wallet Storage Location"
This is not a bug, but a feature request rather.

 It would be great if we could specify the folder/location on our local HDD for where to store the chain's data.

[2022-01-25 11:01] lewisrx commented on #2248
我也遇到了同样的问题，解锁的ckb哪里都找不到。

[2022-01-25 21:46] freespirit8614 commented on #2248
Please write your instructions in English. Thanks.

[2022-01-26 02:20] compasses commented on #2225
@kellyshang @VISQonSpotify  sorry to bother you again!
As you can see in the following, the unlock process is meet expectation or some bad things happen? Do I need do something else?
The transaction got stuck more than 24 hours ...

![image](https://user-images.githubusercontent.com/10161171/151092801-40ab15e5-9497-43c9-8f17-5ba3063c1af2.png)

![image](https://user-images.githubusercontent.com/101

[2022-01-26 07:13] kellyshang commented on #2248
Here is the instruction of the Nervos DAO RFC: https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0023-dao-deposit-withdraw/0023-dao-deposit-withdraw.md

There are two periods in Nervos DAO, and will be shown as `Withdraw` & `Unlock` button in Neuron, as below:
![image](https://user-images.githubusercontent.com/28836185/151118919-5c25f431-5a88-4e5e-b3c0-74bb748862f2.png)

If you clicked the `W

[2022-01-26 07:32] kellyshang commented on #2225
Hi @compasses
1. Does your Neuron's sync been completed? If not, should wait for the sync to be finalized.
2. If the synced has been completed but the tx still displayed as pending, it's because the transaction still not been broadcast to the chain network. Try restart the Neuron -- thus the pending transaction should be displayed as failed, then try to `Unlock` the DAO record again.

[2022-01-26 08:08] compasses commented on #2225
Yes ! thank you very much.
After restart the Neuron, the transaction is confirmed very soon..
Big thanks

[2022-01-26 11:13] lewisrx commented on #2248
显示已提取，但是解锁的按钮一直不能继续点击，解锁是灰色不可用状态
![图片1(1)](https://user-images.githubusercontent.com/26849334/151153372-a5a67c18-5209-4d7a-8a10-a423d52e1b06.png)
。

[2022-01-26 11:35] kellyshang commented on #2248
@lewisrx That's because the current ‘Compensation cycle’ has not yet ended. Until when the current cycle ended then the `Unlock` button can be clickable:
![image](https://user-images.githubusercontent.com/28836185/151155943-825d1a66-7b4e-4e75-b78b-3e2ee55b9cfb.png)
![image](https://user-images.githubusercontent.com/28836185/151156048-11d5f294-393e-43dc-9340-001b24a3915b.png)

[2022-01-26 11:46] PedPin commented on #2240
I didn't receive my tokens in my wallet, what can I do?

[2022-01-26 19:20] freespirit8614 commented on #2248
Thank you both very much for your help. All good now.

[2022-01-26 19:20] #2248 closed

[2022-01-27 02:21] kellyshang commented on #2240
@PedPin Please try to refer to these [steps](https://github.com/nervosnetwork/neuron/issues/2245#issuecomment-1019518302) to check by your self

[2022-01-27 03:02] rolllin commented on #2212
[neuron_debug_1643252365989.zip](https://github.com/nervosnetwork/neuron/files/7947213/neuron_debug_1643252365989.zip)

[2022-01-28 16:45] koryptobc opened #2258 "0% Block synced Connecting. Balance cant update."
My mining deposits since 1-24-22 have been sent to my wallet but it does not appear in my balance. It is stuck on 0% and says that it is connecting. Currently on newest version. I have tried downloading different versions down to .36 and still no luck. I am running windows.

[neuron_debug_1643387642905.zip](https://github.com/nervosnetwork/neuron/files/7960303/neuron_debug_1643387642905.zip)

![bu

[2022-01-30 10:21] kellyshang commented on #2212
@rolllin Seems your Neuron's syncing was worked as normal. Please be patient and wait for the sync to be finalized.

When syncing please keep the Neuron is opened and better keep the PC not sleeping.

When the sync is finalized, the status will be shown as `Synced` and then your CKB will be shown up:
![image](https://user-images.githubusercontent.com/28836185/151695742-4c94ff9a-2b03-43c9-abd5-4beb

[2022-01-30 14:05] kellyshang commented on #2258
@koryptobc Seems there is data corruption to the bundled CKB node's data.

Try `Clear all synchronized data` from `Tools` menu to delete the whole synced data and re-sync (which will take long time):
![image](https://user-images.githubusercontent.com/28836185/151702729-cb3087ef-9eb2-424f-b134-75443b0d3fd4.png)

Note: As from the Neuron v0.100.0 there are breaking changes in both Neuron and the bun

[2022-01-31 00:14] Kuzirashi commented on #2258
I have the same problem. I can't even resync. : /

[2022-02-02 09:31] mrpoppy opened #2259 "Suggestion: Requirement for password to have special symbols prevents use of Diceware passwords"
Diceware passwords (e.g. https://diceware.dmuth.org/) which consist of a randomly created list of words provide good entropy AND are easier for humans to remember.  When creating a new wallet the complexity requirement forces the user to add special symbols. This makes the password harder to remember if using Diceware passwords. Given an 8 random word list password has more entropy than a 'complex

[2022-02-05 14:03] adoksos13 opened #2260 "messages.fields. is too short , it should be longer than or equal to. (error)"
I have an available balance or 20k CKBytes and every time i try to deposit them in Nervos DAO and put my password i get the message and it doesnt deposit them.
What should i do?

( i put 19k instead of 20k because it needs a small fee to proceed )

[2022-02-07 02:40] kellyshang commented on #2260
Hi @adoksos13 , please try single-clearing the cache:
![image](https://user-images.githubusercontent.com/28836185/152716112-0da3829a-fcb0-4c73-ab8f-dd490f1ff1e9.png)

[2022-02-07 11:15] adoksos13 commented on #2260
Thank you very much for your respond!
I will try it asap when I go to office

On Mon, Feb 7, 2022, 04:40 kellyshang ***@***.***> wrote:

[2022-02-07 23:15] BlindD3V commented on #2258
It didn't fix it for me. Tried everything, reinstall, clear cache, clear all synchronized data. Nothing works:

`[2022-02-07 22:50:31.618] [info] Sync:	start block sync queue
[2022-02-07 22:50:33.176] [error] Indexer:	run fail: [2022-02-07T22:50:33.176Z ERROR ckb_indexer::service] cannot get local_node_info from ckb node: error trying to connect: tcp connect error: No connection could be made beca

[2022-02-08 00:08] BlindD3V opened #2264 "Neuron won't sync - Neuron Version v0.101.2 | CKB Client Version v0.101.1"
The wallet stays at 0% synced the whole time. I have tried, restarting, uninstalling, re-installing, restarting in between both. Clear cache, rebuild index, delete wallets, install just for one user, for all users, nothing works.

![image](https://user-images.githubusercontent.com/99223480/152893004-de76f213-9131-4b45-8b06-94a5f1402c76.png)

Attached my latest debug information.

[neuron_debug_164

[2022-02-08 00:38] BlindD3V commented on #2264
Finally solved it by myself. My windows firewall was blocking ckb.exe by default for some reason. I had to go to firewall settings and explicitly allow it.

It only started happening after installing the new version.

[2022-02-08 03:30] kellyshang commented on #2258
@BlindD3V Could you tell me what OS version of your device?
From the log seems cannot connet to the ckb_indexer, can you please check if there is any ckb_indexer process on your PC? If yes, try close it mannually and then restart the Neuron.

[2022-02-09 09:57] BlindD3V commented on #2258
There is no ckb_indexer running.

I found out it exists under "C:\Users\XXXX\AppData\Local\Programs\Neuron\bin"

If i click on it nothing happens.

[2022-02-10 03:55] kellyshang commented on #2258
@BlindD3V Can you please help export and upload the debug info zip file to let us save time for identifying the problem？

[2022-02-11 03:06] kellyshang commented on #2258
@BlindD3V Seems the bundled CKB node didn't ran on your PC.
![image](https://user-images.githubusercontent.com/28836185/153531628-315d801b-5ed5-4013-a096-de47fa9155e9.png)

Please try install the [vc++ redist ](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170) and then restart the Neuron:
![image](https://user-images.githubusercontent.com/28836185/153531732-d8b

[2022-02-11 14:33] simonsanchezj commented on #2264
Did you solve this issue? Same here

[2022-02-11 14:33] simonsanchezj opened #2265 "Neuron wallet not syncing"
Neuron wallet is not syncing no matter what I try

![Captura de pantalla 2022-02-11 a las 13 48 06](https://user-images.githubusercontent.com/25982712/153610409-5d0ff07b-01e5-4981-819a-b798fe0da5e3.png)

[2022-02-12 10:27] kellyshang commented on #2264
@BlindD3V The bundled CKB node didn't ran on your device:
![image](https://user-images.githubusercontent.com/28836185/153707514-1a37ff83-31d8-4e05-91fb-d0a09053b330.png)

Please install the vc++ redist and then restart Neuron again: https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170
![image](https://user-images.githubusercontent.com/28836185/153707534-3680abfe-9d

[2022-02-12 10:32] kellyshang commented on #2265
@simonsanchezj Please export and upload the debug info zip file to let us check what was the exactly problem is. (the exporting step had been indicated when create a new issue, but you deleted them all)

[2022-02-12 15:11] simonsanchezj commented on #2265
Hello, I restarted my computer and everything is ok now. Thanks!

El sáb., 12 feb. 2022 11:32, kellyshang ***@***.***> escribió:

[2022-02-15 07:41] #2265 closed

[2022-02-15 07:48] kellyshang commented on #2264
@BlindD3V :
1. After started the Neuron, can you please help check if there is any process of `ckb.exe` and `ckb-indexer.exe` running on your PC?
e.g.
![image](https://user-images.githubusercontent.com/28836185/154015848-9d226c36-fd3a-4afb-82b2-464efd91c35d.png)

2. Can you please take a screenshot of the result after executing the cmd of: `REG QUERY HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\VisualStu

[2022-02-15 10:08] BlindD3V commented on #2264
Hello, thanks for your answer.

Regarding your questions:
1. No.
2.
![image](https://user-images.githubusercontent.com/99223480/154039898-6467e510-d028-4d78-95ff-98e3a93f1fec.png)

[2022-02-15 12:22] kellyshang commented on #2264
@BlindD3V , could you have a try to download the CKB binary directly from https://github.com/nervosnetwork/ckb/releases/tag/v0.101.1 :
![image](https://user-images.githubusercontent.com/28836185/154060018-216ca9b5-178b-4389-9283-581e6f76d1e6.png)

Then unzip it to any folder, open a cmd window under the folder, then type cmd as follow:
1. `ckb.exe init` to generate a local node configure files of

[2022-02-17 21:26] BlindD3V commented on #2264
Hello, I think I found out the bug. It is related with a special character on my name. In this case it's the ~ caracter.
I was able to successfully reproduce the issue by:

- Creating a new folder under C:
- Name the folder "My Nãme Folder Test"
- Extract ckb binary into "My Nãme Folder Test"
- Under the folder run `ckb.exe init`
- Under the folder run `ckb.exe run`

I got the following output:

[

[2022-02-18 06:11] kellyshang commented on #2264
@BlindD3V, great thanks for your response. That's very helpfull infomation for us.
I have feed back your issue to the CKB core team and see if there is any response of solution.

[2022-02-21 13:30] E-Coder1987 opened #2278 "Feature Request: Include sUDT Managing, Sending, Receiving in Neuron Wallet"
Hi!

I sent bnb over forcebridge to the wrong address
I used my safepal wallet address instead of my L1 deposit address

I see them as a custom token (sUDT) on my wallet in the nervos chain explorer but I don't know how I can send them on to my l1 deposit address

https://explorer.nervos.org/address/ckb1qyqgk6nz7hezdj670xzqpjjewktw0nta76aqtalv9p

As I heard in Nervos Discord, Neuron Wallet is work

[2022-02-21 19:53] merakmember commented on #2278
same problem

https://bscscan.com/tx/0x0c2501f62c3b2c4600f0ee8bac5ef77ae5b10ba628e849cb036842b78b5581c6

https://explorer.nervos.org/address/ckb1qyqw5az0fv2dwf9q7a080d5qgp4mrqwctzxs7gtxvf

[2022-02-22 00:53] AdamFi1 opened #2279 "NEURON WILL NOT LET ME SEND FROM MY EXISTING MY BALANCE!!!!!!!"
Neuron Wallet was working great yesterday for sending, and now it will not let me send any of the balance it is displaying.

I am _fully_ synced to the chain, and when I hit "Max" button to enter CKB balance for sending, I get 0 CKB. If I type in any amount of CKB over 0, I get "insufficient balance" notice!!!!

What should I do? I have attached to demonstrate. This is _after_ I hit the max button

[2022-02-23 19:27] E-Coder1987 commented on #2224
Hi! Is this already confirmed?
I got wbnb stuck as sUDT on my wallet and cannot access it.
Thanks!

[2022-02-25 14:56] ceaustefan opened #2285 "neuron stopped sync at 82,76 and then connecting.."
Hello
Neuron stopped sync 2 times at 82,76% and 1 time at 85% and after that he have "connecting" status m  i reset the cache index etc nothing works ..

[bundled-ckb.log](https://github.com/nervosnetwork/neuron/files/8139001/bundled-ckb.log)

Help me please

[2022-02-27 21:22] E-Coder1987 commented on #2223
Hi there!

Is this still planned and on the way?

I got 4.2 bnb stuck as sUDT which I cannot access 😩

[2022-02-27 21:23] E-Coder1987 commented on #2278
They said in May there will be a tool available
https://github.com/nervosnetwork/neuron/issues/2223#issuecomment-1001901666

[2022-02-28 03:06] Keith-CY commented on #2223
We've started the technical designing of the new product last week.

[2022-03-01 09:20] kellyshang commented on #2264
From their feedback is that it's better to make sure the file path of the bundled ckb node to be UTF-8 encoding, otherwise it may fail to run ckb node, especially on windows.

[2022-03-02 01:47] yanguoyu commented on #2235
Hi, @tgormglitch, can you download [latest version 0.101.3](https://github.com/nervosnetwork/neuron/releases/tag/v0.101.3) and try again.In the release we added some logs to find why this happened.Can you help send new logs?

[2022-03-05 14:19] erikkvietelaitis opened #2293 "Neuron + Ledger Signing Transactions Issue"
New to GITHUB but felt this need to be addressed.

As the heading susggests i am using Neuron and Ledger and had been having a really good experince until recent.

I am sending the signing request from neuron (e.g DAO/or to send to anther wallet) to the ledger device but my Ledger device is currently not reciving signing requests, physically on the device. This then leaves the generated transactio

[2022-03-05 15:56] gabisena424 commented on #2293
nao consigo retirar meus ckbs do NERVOS DAO

NAO APARECEU A OPÇÃO UNLOCKED

C:\Users\gouve\AppData\Local\Temp\Temp1_neuron_debug_1646495257220 (2).zip\neuron_debug_1646495257220.zip

[2022-03-06 16:53] bits4fun opened #2294 "ckb_v0.101.6_x86_64 (Apple Darwin) fails to run on Mac OS 10.12 (dyld: Symbol not found: ____chkstk_darwin)"
**Describe the bug** (Please enter details, the more detail the better)
ckb and ckb-cli fails to execute. It reports:

**dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin
  Referenced from: /Users/xxx/bin/ckb/./ckb
  Expected in: /usr/lib/libSystem.B.dylib**

Latest Neuron release (for Mac) probably suffers from same problem, it never synchronises the Nervos Node (keeps saying

[2022-03-06 17:11] bits4fun commented on #2294
I have now tried to download all CKB released until v0.101.0, they all report the same problem. I suspect that the ckb and ckb-cli command line tools are built on a newer macOS 10.14 or higher.

[2022-03-09 02:44] Keith-CY commented on #2294
Hi @bits4fun , I've learned that the [released binaries for macOS](https://github.com/nervosnetwork/ckb/releases) of CKB are built by GitHub action with macOS 10.15, and maybe incompatible with macOS below 10.15.

The workaround is to build CKB on macOS 10.12 by yourself, but not recommended

Ref: https://github.com/nervosnetwork/neuron/issues/2128#issuecomment-938442066

[2022-03-09 05:27] smissaertj opened #2298 "libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)"
**Describe the bug** (Please enter details, the more detail the better)
Neuron Wallet fails to start the node and connect to the network.
[code]

I've tried adding the `--no-sandbox` option but that doesn't help, see attached screenshot.

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
[Download here](https://drive.google.com/file/d/1pr9448ofWfTx6ol6h0Q8OQ5Q1

[2022-03-09 07:44] bits4fun commented on #2294
Hi,

That explains it
You should update the minimum macOS version to 10.15, not 10.12 as it is currently written in release notes.

I took it for face value being 10.12 (which I still use).

Apps such as Google Chrome and LibreOffice make the effort of releasing binaries for old versions, typically for 10.12 (as of now).

Well, thanks for clarifying, cheers,
Gunther

On March 9, 2022 3:44:21 AM GM

[2022-03-09 16:30] baeringerj1 opened #2299 "Wallet won't sync to the Mainnet"
My wallet had a signifcant amount of coins and now won't sync to the mainnet and I cannot view the contents of my wallet.
In the bottom left of the wallet I am being told it is syncing but there are no blocks and it has made any change in days. Can someone please help.

<img width="191" alt="Screen Shot 2022-03-09 at 11 29 56 AM" src="https://user-images.githubusercontent.com/61560639/157486023-aa

[2022-03-09 16:38] baeringerj1 commented on #2299
I have deleted the app, re-downloaded the newest version, re-imported my wallet seed, and cleared cache. I am on a mac machine. Unsure what else I can do.

[2022-03-10 01:54] Keith-CY commented on #2299
Hi @baeringerj1 , we need some logs which can be exported from `menu -> help -> export debug information` to locate the exception. The logs are insensitive and you can post them in this issue.

[2022-03-10 03:05] Keith-CY commented on #2294
This misleading is quite annoying indeed and the CKB core team will fix the release note in the next version.

Appreciate your feedback.

[2022-03-10 03:05] #2294 closed

[2022-03-10 14:56] baeringerj1 commented on #2299
I was able to get it synced! thanks!

[2022-03-10 14:56] #2299 closed

[2022-03-17 16:02] Perosky007 commented on #2264
hey guys I'm also having this issue. ckb node wont sync. I've read the suggestions you gave to @BlindD3V and all wont work. As for the suggestion on the file path for the bundled ckb node to UTF-8 encoding please i need some clarification. Thank you

[2022-03-18 06:27] kellyshang commented on #2264
@Perosky007
1. If your OS is windows, please install the vc++ redist(x64) from https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170 , then restart Neuron;
2. If your OS is mac, make sure your macOS version is or abolve v10.15 which is available for the ckb node running;
3. If still any problem, please export the debug info from the `Help` menu and upload it here to

[2022-03-20 10:02] Vtarj opened #2308 "Custom data saving path"
Add the function of user-defined data saving path, which can easily lead to insufficient space in Disk C in windows

[2022-03-23 13:10] Ahmedie-m opened #2311 "Migrating hardware service to a common package"
Hello,

A common case for any developer is to integrate with Ledger and since the functionality already is written by yourselves within the services folder, it would be nice to move it to a separate and lighter package for other developers to utilize. Would that be possible?

Source: https://github.com/nervosnetwork/neuron/tree/develop/packages/neuron-wallet/src/services/hardware

Example: https:/

[2022-03-24 03:35] Keith-CY commented on #2311
Hi @Ahmedie-m , appreciate your suggestion and we will start the work in the next month.

[2022-03-24 13:57] Ahmedie-m commented on #2311
Hey @Keith-CY , I am not sure if this is necessary anymore. There apparently is another package that does all the communications with Ledger: https://github.com/obsidiansystems/hw-app-ckb

Thank you

[2022-03-24 18:59] DrakeBliss opened #2312 "Export Dates Incorrect"
When I export from the Nueron Wallet, the dats on some transactions is NOT the SAME??

Wallet Show 11/25 Export Shows 11/26

Also the export date has more than YYYY-MM-DD HH:MM:SS

For example 2021-11-26 04:01:30.340

What is the .340 above mean???

See Images below.
![Snap1](https://user-images.githubusercontent.com/80055098/159990427-bd4332e7-729f-461d-b5d6-de4470c9b0fa.jpg)
![Snap2](https://use

[2022-03-27 07:06] Keith-CY commented on #2312
Hi @DrakeBliss
The displaying time is using a local time format so that it can be recognized easily
While the time in exported records is in UTC time format, which is more general in data operation since it excludes the effect of time zone.

If I were right, you should be in UTC-5 Timezone according to the screenshot, so the UTC time is `2021-11-26 04:01:30` while your local time is UTC time -5h,

[2022-03-27 21:13] aaomotayo opened #2314 "Unable to update neuron wallet"
**Describe the bug** (Please enter details, the more detail the better)

While attempting to install the new version for my wallet, I'm getting Error: Code signature at URL file:///Users/gutzy/Library/Caches/com.nervos.neuron.ShipIt/update.Tlcnz57/Neuron.app/ did not pass validation: code failed to satisfy specified code requirement(s). I've got a macOS. Can you help please? Guess I'm missing some

[2022-03-28 06:35] Keith-CY commented on #2314
Hi @aaomotayo , don't worry about this warning.

LR; DR, this was annotated in the release note and you can download Neuron from the release page to adopt a new developer Id certificate.

It was caused by the migration of our developer Id certificate in Apple.

Because we, developers of Neuron, are now running our own group and will focus on neuron (won't participate in other toolchain development

[2022-04-06 09:35] Nikned66 opened #2326 "Can not set up a new Neuron wallet"
I downloaded and installed the Neuron wallet on my Mac. When starting the app it loads but all functional fields from the drop-down menus of the app are inactive and I can not set up a new wallet. What could be the problem?

Thank you,
Nikolay

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain you

[2022-04-06 12:18] Keith-CY commented on #2326
Hi @Nikned66, could you post a screenshot and append `Debug Info` in this issue so that we can try to find out what's going wrong.

`Debug Info` could be exported by `help -> export debug information`

[2022-04-09 10:05] Faggione commented on #2103
Good Morning!
@kellyshang I have the same problem, I followed the step by step above, I imported the wallet with my seed, but the balance did not appear, it was zero!

And to delete the old wallet, it asks for the password that I forgot or was it a Neuron bug

how can i reset my password?

[2022-04-09 10:05] Faggione commented on #2103
Good Morning!
@kellyshang I have the same problem, I followed the step by step above, I imported the wallet with my seed, but the balance did not appear, it was zero!

And to delete the old wallet, it asks for the password that I forgot or was it a Neuron bug

how can i reset my password?

[2022-04-12 04:11] kellyshang commented on #2103
@Faggione

The balance should be appear when the Neuron's sync been finalized, which can be indicated from the left bottom of the Neuron.

Now deleting wallet needs password. You can re-import your seed to create a wallet with new password.

[2022-04-16 19:24] ITFixEZ opened #2334 "Transaction pending as of 3-18"
**Describe the bug** (Please enter details, the more detail the better)
I was transfering from DAO back to main wallet, collecting my rewards in other wards. I began staking 10-26-2021, attempted withdraw 3-18 , Blocked synched 100%, transaction: 0x879f94d191cd73ab5bcba6846023c92ec1c66ec83c69228935bc33055395ac88
still pending

**Debug info** (Please upload the debug info from `Help` - `Export Debu

[2022-04-16 19:38] Keith-CY commented on #2334
Hi, @ITFixEZ

The transaction `0x879f94d191cd73ab5bcba6846023c92ec1c66ec83c69228935bc33055395ac88` is absolutely not committed on chain. Since it's been a month, I think it's a bug of neuron's cache mechanism. This case happens, and usually can be resolved by `clear cache` in the setting window.

Have you ever tried `clear cache`? It won't take long.

And according to the logs, the last messages a

[2022-04-16 19:43] ITFixEZ commented on #2334
I will try this as I wanted to check with support before moving forward with a re-synch, I will move forward with this now and update asap. I have also provided "basic info" sShot for the records. TY for timely response !!
![basicIssue](https://user-images.githubusercontent.com/46285015/163689251-4e851676-b49d-4e32-ae5b-826ee6f381f2.PNG)
.

[2022-04-18 00:13] safe96 opened #2336 "How can I take back my CKBs from a sUDT that I don't use more?"
How can I do that?

[2022-04-18 01:58] Keith-CY commented on #2336
Hi @safe96, turning an empty sUDT Asset Account into CKB balance is not supported yet. We've opened a feature request of it and expect it to be released within the next version(05/10)

Ref: https://github.com/nervosnet/neuron-public-issues/issues/9

[2022-04-21 09:37] zhb666 opened #2338 "Start according to the prompt, but create a wallet with an error, and a screenshot of the error"
![image](https://user-images.githubusercontent.com/18475950/164426464-ce4d92d9-305e-4e42-8e6c-5d9a3a5bbc92.png)
Import the wallet, create a new wallet and report an error

[2022-04-21 09:47] zhb666 opened #2339 "Neuron wallet addresses are inconsistent"
I use the mnemonic words generated by @ CKB Lumos / HD, then generate the user's private key according to the generated mnemonic words, and then realize the address of CKB of the main network and CKT of the test network I want to generate with the private key.
But I use mnemonics to create a new wallet in neuron wallet. After creation, the collection address is different from the address I generat

[2022-04-21 09:52] Keith-CY commented on #2338
Hi @zhb666, is this a screenshot of browser but not an electron's window?

If yes, this exception is reasonable since `ipcRenderer` is an object injected from electron's main process into electron's renderer process, which means `ipcRenderer.invoke` is available only in electron's window while `undefined.invoke` will be called in browsers.

This usually happens on running `npm run start` in `packa

[2022-04-21 09:56] Keith-CY commented on #2339
@classicalliu could you help on this?

[2022-04-21 09:59] Keith-CY commented on #2336
This feature has been merged and will be released in the next version
https://github.com/nervosnetwork/neuron/pull/2337

[2022-04-21 10:43] zhb666 commented on #2338
Thanks for the reply, I switched to the root directory to start, I also started electron and mainWindow.loadURL("http://localhost:3000"); but this error is still reported

<img width="1086" alt="image" src="https://user-images.githubusercontent.com/18475950/164441791-b4e7152d-78a3-4957-980c-bc267a1d2ec0.png">

[2022-04-21 11:00] Keith-CY commented on #2338
It's kind of weird.

This error indicates that `ipcRenderer` is not injected into the window, which should be caused by error on loading `preload.js`(https://github.com/nervosnetwork/neuron/blob/38b6afeb965d1befbb1437c9e2d1503099153e0c/packages/neuron-wallet/src/controllers/app/index.ts#L132)

Could you add some logs in https://github.com/nervosnetwork/neuron/blob/38b6afeb965d1befbb1437c9e2d150309

[2022-04-21 11:35] zhb666 commented on #2338
I found the problem. I opened an online version locally to download and install the neuron program, and then the program couldn't be opened after startup. I don't know why this problem would conflict. Just turn off the installed neuron

[2022-04-21 11:45] #2338 closed

[2022-04-21 15:47] sergey799 commented on #2264
good day! I don't really understand this, but I ran into the same problem. It doesn't sync at all. I installed the Windows OS package, install vc++ redist(x64), nothing helped.Where should I send the debug file for verification?

[2022-04-22 04:04] Keith-CY commented on #2264
Hi @sergey799 , there's no sensitive info in debug logs so you can post it here, or in a brand new issue for clarity.

If you do care it, you may join our discord https://discord.com/invite/N9nZ3JE2Gg and request help, our developer would connect you

[2022-04-22 09:35] sergey799 commented on #2264
Good afternoon! No problem. I am waiting for an answer from you to solve my problem. Thank
[neuron_debug_1650555790497.zip](https://github.com/nervosnetwork/neuron/files/8539576/neuron_debug_1650555790497.zip)
s

[2022-04-22 09:36] sergey799 commented on #2264
[neuron_debug_1650555790497.zip](https://github.com/nervosnetwork/neuron/files/8539579/neuron_debug_1650555790497.zip)

[2022-04-23 01:33] ITFixEZ commented on #2334
clearedCache and allowed db to rebuild; it took about 3 days to complete download, but prior proper information is now displaying. I am going to keep locked until next compensation period is over and attempt a withdraw once again. TY issue resolved and closed !!

[2022-04-23 01:33] #2334 closed

[2022-04-25 07:21] subhashrao1947 opened #2343 "sync stuck at 6.4%."
Sync does not want to move beyond 6.4%. Trying to download update software but getting the following error;
![Screenshot 2022-04-25 at 08 17 09](https://user-images.githubusercontent.com/92733040/165039617-d3a80366-519e-48bf-a46e-e42458058684.png)
![Screenshot 2022-04-25 at 08 17 09](https://user-images.githubusercontent.com/92733040/165039674-c57a76ac-7bd8-4eeb-9425-66abc966d1e7.png)

Can I have

[2022-04-25 19:25] fabio-C opened #2345 "Neuron wallet sync stuck on "Connecting" 0%"
**Describe the bug** (Please enter details, the more detail the better)
Neuron wallet stuck on "Connecting" 0%

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

I will attach part of the debug message.
I think the problem is the libssl.so.1.1 library

[code]
"""

System: **Ubuntu 22**

[2022-04-27 06:23] ancoron commented on #2249
Worked around it by relocating `~/.config/Neuron` and creating a symbolic link in place of the directory.

[2022-04-27 06:24] ancoron commented on #2308
Duplicate of #2249

[2022-04-27 06:30] Vtarj commented on #2249
How do you get people who don't know technology to do it

[2022-04-27 12:29] Thorstenschuf opened #2348 "Error message when trying to update to v101.3"
hello -

on Mac I can't update out of v101.2 because I get the following error message (I already emptied the library - did not help) - thank you all - please see attached file

[2022-04-27 13:02] fabio-C commented on #2345
Solved after reinstalling libssl

[2022-04-27 13:37] Keith-CY commented on #2348
Hi @Thorstenschuf, I think the attached files are not uploaded successfully.

[2022-04-27 13:59] Keith-CY commented on #2264
Hi @sergey799  sorry for relying late.

I guess the problem is quite similar to the one mentioned in [this comment](https://github.com/nervosnetwork/neuron/issues/2264#issuecomment-1043465112) of this issue. In his/her case, the character `ã`, which is out of UTF8 set, leads to failure of running CKB node.

In your logs, I notice that a similar character `й` in the file path. To check if it is res

[2022-04-27 14:12] Keith-CY commented on #2249
Thanks for the workaround @ancoron

Hi @dapptain and @Vtarj , it seems to be more desired to specify the path of chain's data with CKB node growing dramatically. We'll list it in our features and enable it within one or two months. I'll update this issue once it's done.

[2022-04-27 17:27] sergey799 commented on #2264
thank you so much! everything turned out to be done as you advised. now everything is working. thanks for the feedback.

[2022-04-27 22:35] Jaimy99 opened #2349 "Neuron Wallet get's stuck at 96.65% synch."
I;'ve downloaded the update
refreshed/cleared cache 3x

nothing works..

[2022-04-27 23:59] yanguoyu commented on #2349
Hi, @Jaimy99
Can you provide debug information?
You can export by help->Export Debug Information

[2022-04-28 08:34] Jaimy99 commented on #2349
Where can I find this (debug) information? / how do i do that on my windows laptop?

[2022-04-28 09:50] yanguoyu commented on #2349
Can you upload your debug information? If not, maybe you can try clean cache by follow steps.
1. Click Menu->Neuron->Preference
2. Clear cache

[2022-05-02 12:22] Keith-CY commented on #2264
Hi @sergey799
The screenshot indicates that the CKB Node inside Neuron reached its best known block(tip block) but is stuck at 7009878, meaning that the internal CKB Node keeps working but stops communicating with other Nodes.

This happens in many cases, e.g. disk is full so no more data can be written. We need `bundled-ckb.log` exported with `debug info` to find out the reason and get a solution

[2022-05-02 13:55] sergey799 commented on #2264
[neuron_debug_1651499561354.zip](https://github.com/nervosnetwork/neuron/files/8603316/neuron_debug_1651499561354.zip)

[2022-05-02 14:41] sergey799 commented on #2264
it's good. What should I do? How to launch it? It has been updated for 3 days and not as it will not be updated

[2022-05-02 14:50] Keith-CY commented on #2264
Just keep Neuron open. The global tip block is `7,033,195` now and synchronization should be done in about 10h if it keeps the speed(63 blocks in 10s).

Next version we'll enable a feature of CKB Node to boost synchronization, ref: https://github.com/nervosnetwork/neuron/pull/2300

[2022-05-02 14:54] Keith-CY commented on #2264
Correct me, it should be done in 1h.

[2022-05-07 18:21] Alexpr1me opened #2369 "Support Ledger Nano S Plus"
Hello.

in Neuron wallet not supporting new hardware Ledger Nano S Plus.

[2022-05-07 18:25] Keith-CY commented on #2369
Hi @Alexpr1me , we have tested Neuron with Nano X and Nano S but do not cover Nano S Plus, could you elaborate on the error you've encountered?

If it's hard to describe, exporting debug info (by menu -> help -> export debug information) would help, Thanks.

[2022-05-08 03:51] Alexpr1me commented on #2369
Main.log
[2022-05-03 20:33:12.737] [error] Network:	fail to connect to the network. Is CKB node running?
[2022-05-03 20:33:13.799] [info] Network:	switched to: {
  id: 'mainnet',
  name: 'default node',
  remote: 'http://localhost:8114',
  genesisHash: '0x92b197aa1fba0f63633922c61c92375c9c074a93e85963554f5499fe1450d0e5',
  type: 0,
  chain: 'ckb'
}
[2022-05-03 20:33:14.449] [info] CKB:	external RP

[2022-05-08 04:46] EthAnalysis opened #2370 "After Neuron update, isn't syncing at all. Also, check for updates doesn't do anything"
**Describe the bug** (Please enter details, the more detail the better)
Neuron was working fine on Windows11 64bit before the update. Now after the update, the notification at the bottom left doesn't move (neither the current block or synced block)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
[neuron_debug_1651985131217.zip](https://github.com/nervosnetwo

[2022-05-09 13:29] Keith-CY commented on #2370
Hi @EthAnalysis , the last error message from the logs is
[code]

Which is a known error leading to stop of synchronization and has been fixed in the next release(will be released on 05/10)

This error comes along with a rejected transaction. Since the tx has been rejected, Neuron cannot fetch it from the chain so the logic broke, `clear cache with rebuilding index` could fix it too by removing th

[2022-05-09 20:02] Keith-CY commented on #2223
Hi @VISQonSpotify @blockchainRick @jimsrc @E-Coder1987

We have delivered this feature in [Neuron@v0.103.0](https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0) with this [PR](https://github.com/nervosnetwork/neuron/pull/2330)

The simplest workflow is as follows,

https://user-images.githubusercontent.com/7271329/167488244-15ae0b8d-7e8e-4c1a-a192-9f87da2d173b.mov

This video shows how t

[2022-05-09 20:03] Keith-CY commented on #2224
Hi @blockchainRick @VISQonSpotify @E-Coder1987

I leaf a comment about this feature in https://github.com/nervosnetwork/neuron/issues/2223#issuecomment-1121520873

[2022-05-09 20:04] Keith-CY commented on #2278
Hi @merakmember

I left a comment about this feature in https://github.com/nervosnetwork/neuron/issues/2223#issuecomment-1121520873

[2022-05-09 20:29] Keith-CY opened #2372 "`Check for updates` in settings does not work"
The button `check for updates` in settings has no response
![image](https://user-images.githubusercontent.com/7271329/167492211-4e957836-cb8c-43c4-aebe-3830bc7b0161.png)

Workround:
Check for updates from menu
MacOS, Linux: Menu -> Neuron -> Check for updates
Windows: Menu -> Help -> Check for

![image](https://user-images.githubusercontent.com/7271329/167492274-2e107056-bab0-4284-906f-80369522a26

[2022-05-09 20:34] E-Coder1987 commented on #2223
Thanks so much
I got bnb stuck there as an sudt

Can I send it to my metamask address after I do that what is seen in the video?

[2022-05-09 20:35] Keith-CY commented on #2223
There's an undetected bug in v0.101.3 that `check for updates` in settings does not work, you may update neuron from `menu -> neuron -> check for updates`

Ref: https://github.com/nervosnetwork/neuron/issues/2372

[2022-05-09 20:53] Keith-CY commented on #2223
It's possible if you are using portal wallet https://ckb.pw/ , the pw address(portal wallet address) is allowed in sudt transfer and each pw address has a corresponding eth address so you can transfer them with metamask.

This feature has been implemented by [PR](https://github.com/nervosnetwork/neuron/pull/1928) two years ago, and the test environment of pw address is not available. I need some d

[2022-05-09 20:58] E-Coder1987 commented on #2223
Damn that's all so complicated for me sorry!

I bridged them into the wrong address the bnb and now they are an sudt.

Could you maybe be so very very kind as to guide me how I get those bnb out of my wallet and into my bsc metamask address?

On ckb.pw I don't see them when I connect:
![image](https://user-images.githubusercontent.com/100139700/167497447-87213a49-5363-4313-a056-c9f86921f05d.png)

[2022-05-10 02:58] VISQonSpotify commented on #2223
Maybe you can try using the Force Bridge. [https://forcebridge.com/bridge/Nervos/Bsc](https://forcebridge.com/bridge/Nervos/Bsc)

[2022-05-10 03:24] VISQonSpotify commented on #2223
I believe if you send your bnb to your YokaiSwap L1 Address, that should work and then you can use the bridge to correct it. I'm double checking on my end first to see if my dckb will.

![image](https://user-images.githubusercontent.com/1677300/167536527-28ab16d5-9df5-40c5-a9fa-946f3667e47e.png)

[2022-05-10 03:38] blockchainRick commented on #2223
@Keith-CY thank you so much! Worked great and I got my assets unstuck and send to NexisDAO so I could unlock my funds there. Thanks again!

[2022-05-10 08:13] timfaner opened #2374 "Can't update to 0.103.0 on MacOS X64"
**Describe the bug** (Please enter details, the more detail the better)

Click update in preference and pop this

<img width="413" alt="image" src="https://user-images.githubusercontent.com/15355789/167580801-de74cd11-0517-4d30-9b6e-5afa017b53e2.png">

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help exp

[2022-05-10 08:22] Keith-CY commented on #2374
Hi @timfaner

You cannot upgrade Neuron from v0.101.2 and before to v0.103.0 because we've updated Neuron's Apple Developer Id Certificate in v0.101.3. When you upgrade Neuron from v0.101.2 to v0.103.0, the certification verification should fail.

You may download Neuron from the [release page](https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0) to adopt the new certificate.

[2022-05-10 09:53] timfaner commented on #2374
Thx, I download manually and succeed

[2022-05-10 09:53] #2374 closed

[2022-05-10 15:16] finnj7 commented on #2223
Hey guys. I had a customized asset in Neuron. I added a new SUDT [dCKB*] as per the video above.

Now when I try to send the asset, I get an error to state that "There isn't an account wallet associated with this address"

The address I'm trying to send my dCKB to is my Yokaiswap L1 address. Can anyone help?

*Token ID: 0xe5451c05231e1df43e4b199b5d12dbed820dfbea2769943bb593f874526eeb55
and I used

[2022-05-10 18:09] E-Coder1987 commented on #2223
Did you maybe get a chance to verify how to do it?
Here is the explorer link to my wallet... I need to get out those bnb into my metamask wallet again:

https://explorer.nervos.org/address/ckb1qyqgk6nz7hezdj670xzqpjjewktw0nta76aqtalv9p

Thanks in advance for your help!

[2022-05-10 21:07] E-Coder1987 commented on #2223
I get this too, added my BNB in a new Asset Account with decimal 18
When I try to send them to L1 Address it says the same:

<img width="2546" alt="image" src="https://user-images.githubusercontent.com/100139700/167722021-9aa83901-fc28-4e01-8076-46be648616e5.png">

[2022-05-11 01:09] yanguoyu commented on #2223
A sudt account can transfer to a ckb address or the same sudt type address.
Is the transfer address a ckb address? I can't see the tips like this.
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/12881040/167748686-dea14b0f-6210-4276-977b-d4aecf5f1fa7.png">

[2022-05-11 06:15] E-Coder1987 commented on #2223
Hi!

The Address I entered is my yokaiswap L1 Address (NOT Deposit Address) from when I connect with my Safepal app to Yokaiswap -> shall I input a different one?

The Tip like in you Screenshot doesn't show (Running on Mac OS).
As soon as I enter an amount the Error Shows up:
There isn't an account wallet associated with this address.

[2022-05-11 09:44] finnj7 commented on #2223
Same goes for me. I've managed to convert the customized asset into an Account Asset for dCKB in Neuron. When I try to transfer it to Yokai L1 address I get the error message. I've played around with a few different addresses, it has the same error

[2022-05-11 15:59] aaronV81 opened #2376 "neuron wallet not syncing"
the wallet does not sync it stays stuck on connecting....

[2022-05-11 16:03] aaronV81 commented on #2376
[neuron_debug_1652284935110.zip](https://github.com/nervosnetwork/neuron/files/8671592/neuron_debug_1652284935110.zip)

[2022-05-11 16:05] aaronV81 commented on #2376
![Screenshot (55)](https://user-images.githubusercontent.com/85458548/167895820-c609ced7-7782-436f-9df8-6ff75b054e71.png)

stuck at 75.73%

[2022-05-11 16:11] aaronV81 commented on #2376
I found an update

https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0

[2022-05-11 16:22] Keith-CY commented on #2376
Hi @aaronV81

I found the following in ckb log
[code]

It says your computer runs out of disk space.

[2022-05-11 21:41] E-Coder1987 commented on #2223
Thanks for you reply again!

Option 2 lets my assets be stuck one more month 😩

Could you elaborate how to do option one exactly?

[2022-05-11 22:50] brain-dump opened #2377 "Wallet not depositing to DOA"
I have been depositing to the DOA from Neuron every few days for the past 6 months.  As of a few days ago, perhaps the day of the fork, I can no longer deposit to the DAO.  All deposits sit on "pending".  I have cleared cache multiple times yet am still not able to deposit.  I also updated my wallet the the latest GitHub version as a possible resolution.  No joy.

Neuron Version: 0.101.3
CKB Clien

[2022-05-12 03:33] Keith-CY commented on #2377
Hi @brain-dump

From the logs I found the following message
[code]

This is expected because we'll try to generate a deposit all to dao transaction on entering this tab.

To debug your case, I need more details about the pending transaction, could you please open the transaction detail window with the button in history
![image](https://user-images.githubusercontent.com/7271329/167986493-b29ef1d3-e

[2022-05-12 04:00] Keith-CY commented on #2223
Hi @E-Coder1987 , I posted this issue in meeting and discussed with other teams, they all disagreed with the first option strongly, because pwlock is not recommended and no one is going  to deploy a force bridge working with pwlock.

The option 2 (suppoting omnilock in neuron) also does not help, because yokaiswap is not using an official omnilock lock script.

To enable sending sudt to yokaiswap

[2022-05-12 05:52] Keith-CY commented on #2369
Hi @Alexpr1me sorry for replying late.

The logs didn't show any error so I cannot get the point, but I received compatibility requirements from ledger team too, and we will try to locate it. Besides, I will order a Ledger Nano S Plus so tests can be fully covered.

[2022-05-12 07:59] finnj7 commented on #2223
Hey thanks for that, good to hear. I am not too bothered about when this is available as I know my assets are safe. It sounds complicated at the moment to resolve so I am happy to wait!

[2022-05-12 08:17] E-Coder1987 commented on #2223
Hm ok so i will have to wait again than :(

I Dont know what version or chain? I open up yokaiswap on my Safepal app and then click on wallet and search for the L1 Yokai Wallet address -> Is this godwoken or ckb ?

[2022-05-12 08:33] aaronV81 commented on #2376
Ok thanks I sorted it now

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Chen Yu ***@***.***>
Sent: Wednesday, May 11, 2022 5:22:28 PM
To: nervosnetwork/neuron ***@***.***>
Cc: aaronV81 ***@***.***>; Mention ***@***.***>
Subject: Re: [nervosnetwork/neuron] neuron wallet not syncing (Issue #2376)

Hi @aaronV81<https://github.com/aaronV81>

I found the follow

[2022-05-12 10:25] VISQonSpotify commented on #2223
@E-Coder1987 I didn't have any luck. Same issues as everyone else. I guess we will have to wait until the tool comes out.

[2022-05-12 12:55] brain-dump commented on #2377
Thanks for the quick response.  Sending email now.

[2022-05-12 14:05] GColeto33 opened #2378 "Wallet not depositing to DOA"
I made a deposit at Neuron's DOA for the first time and had the bad experience of not having the process completed so far.
Deposit is "pending" and I can't even undo the transaction.

Neuron Version : 0.101.3
CKB Client Version: v0.101.4
![Neuron 3](https://user-images.githubusercontent.com/105397551/168093921-b71f6294-e25e-44e5-809b-4bb3f8ab17de.jpg)
![Neuron 1](https://user-images.githubusercont

[2022-05-12 14:14] #2378 closed

[2022-05-12 14:17] GColeto33 opened #2379 "Wallet not depositing to DOA. "Pending Deposit""
I made a deposit at Neuron's DOA for the first time and had the bad experience of not having the process completed so far.
Deposit is "pending" and I can't even undo the transaction.

Neuron Version : 0.101.3
CKB Client Version: v0.101.4

![Neuron 1](https://user-images.githubusercontent.com/105397551/168096362-d9f6758f-abe1-47fc-8a05-a12c377c2e9f.jpg)
![Neuron 2](https://user-images.githubusercon

[2022-05-12 16:06] richard-ecomus opened #2380 "Linux AppImage Connection "default" was not found"
When I execute the AppImage on Linux Mint 19.1, the GUI appears with the error message 'Connection "default" was not found'. Running from the CLI I get this error:

`16:54:49.152 › SQLite package has not been found installed. Try to install it: npm install sqlite3 --save`

When I try to generate the debug .zip file, I get the same error in a dialog box. Here is the trace echoed on the CLI when run

[2022-05-12 18:30] Keith-CY commented on #2379
Hi @GColeto33 could you paste the transaction hash here so we can check if this transaction is submitted, it can be copied in transaction details opened by double-clicking the transaction record.

And it would be helpful to upload neuron logs from `menu -> help -> export debug information`, we can try to find out the underlying error.

[2022-05-12 18:40] Keith-CY commented on #2377
Got the transaction detail and we will try our best to fix the error.

[2022-05-12 19:08] GColeto33 commented on #2379
Thanks a lot for the feedback.
I just sent you an email with the hash.

I send another one whith the upload logs.

[2022-05-12 19:10] GColeto33 commented on #2379
Here the logs

Enviado do meu iPhone

Em 12 de mai. de 2022, à(s) 15:30, Chen Yu ***@***.***>
escreveu:

﻿

Hi @GColeto33 <https://github.com/GColeto33> could you paste the
transaction hash here so we can check if this transaction is submitted, it
can be copied in transaction details opened by double-clicking the
transaction record.

And it would be helpful to upload neuron logs from menu -> help

[2022-05-13 09:01] Keith-CY commented on #2380
Hi @richard-ecomus

We will set a test environment of Mint 19.1 to debug this problem.

This error occurred before due to sqlite3 file being broken, I'm not sure if it is the same case because we don't have many info, but I think you may have a try to remove the cache manually and restart Neuron to see if it works, Neuron@v0.103.0 uses a feature of CKB node to boost synchronization so it won't tak

[2022-05-13 11:54] antoniogioia opened #2381 "It is not possible to withdraw from Binance to Neuron. Reason: inconsistent address"
When trying to withdraw CKB from Binance to Neuron, the following message appears: The withdrawal address is not consistent with the network you selected. Please check again.

I don't know if the problem is with Binance not recognizing the new addresses of Neuron or if the problem is with the Neuron wallet.

[2022-05-13 14:35] ansidaze opened #2382 "Neuron wallet not depositing to DAO / stuck in pending"
I'm having the same issue as some others here. I'm afraid to kill the wallet and re-launch since it's a sizable deposit at risk.

![image](https://user-images.githubusercontent.com/77987648/168306489-ece153fd-861a-432e-a994-ecb436a8045d.png)

![image](https://user-images.githubusercontent.com/77987648/168306281-dcba03e9-5a93-411b-bab2-19d319987274.png)

I appreciate any help!

[2022-05-13 17:59] mattsbennett opened #2383 "Neuron wallet not syncing (macOS 12.3.1, Neuron 0.103.0)"
**Describe the bug** (Please enter details, the more detail the better)
Syncs fine when freshly downloaded/installed, any subsequent reopening of the app, it won't sync. Only resolution is to re-install and sync from 0 again.

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
[neuron_debug_1652464486606.zip](https://github.com/nervosnetwork/neuron/files/8689913

[2022-05-14 01:52] yanguoyu commented on #2377
I didn't find your deposit transaction at the mainnet. I think it was not broadcast to the mainnet. Could you try to clear cache by `preferences-> General -> Clear Cache`? And then tell me the result.

[2022-05-14 07:54] Keith-CY commented on #2377
As the first message says, Neuron's cache has been cleared multiple times.

I can reproduce this pending deposit with release Neuron@v0.101.3 twice, we could checkout that version and debug in dev mode.

Although you said you have tried the latest Neuron(v0.103.0) and it didn't work, I still suggest you have a try again. I switched between v0.101.3 and v0.103.0 and found the following,

1. I depos

[2022-05-14 08:00] Keith-CY commented on #2382
Hi @ansidaze , we are still working to find out the problem, I can reproduce the pending deposit transactions with neuron@v0.101.3 and found those transactions are done in neuron@v0.103.0(I comment details in https://github.com/nervosnetwork/neuron/issues/2377#issuecomment-1126665948), please upgrade your neuron and have a look.

You can upgrade neuron from `menu -> help -> check for updates` sinc

[2022-05-14 08:20] Keith-CY commented on #2379
Hi @GColeto33 , I have received your emails and checked that the deposit transaction was correct but not submitted to chain yet.

This case happened recently with neuron v0.101.3 and around 2022-05-10.

I've done some research mentioned in https://github.com/nervosnetwork/neuron/issues/2377#issuecomment-1126665948, and think it's related to ckb hardfork activated at 05-10, I'll check it with the c

[2022-05-14 08:45] Keith-CY commented on #2383
@mattsbennett

The log indicates Neuron cannot detect a running CKB Node, this happens but not often. There'a trick to re-detect running CKB, please add a network in `setting -> network -> add network` with `rpc url: http://localhost:8114` and `name: mainnet`, then switch to it. On network switch , neuron will reconnect to the running CKB node.

[2022-05-14 09:36] Keith-CY commented on #2377
I've confirmed that transactions sent by neuron@v0.101.3 won't be accepted by ckb node activated hardfork. @brain-dump

[2022-05-14 09:41] Keith-CY opened #2384 "Transactions keep pending on Neuron v0.101.3"
We've received several issues about pending transactions with Neuron@v0.101.3

The reason is that CKB Node has been harkforked since 2022-05-10 but Neuron@v0.101.3's internal one is not hardforked, so transactions sent from Neuron@v0.101.3 won't be accepted by most miners. Please upgrade to Neuron@v0.103.0 to send transactions.

How to [Check for Updates](https://github.com/nervosnetwork/neuron/is

[2022-05-14 09:52] Keith-CY commented on #2379
I've confirmed it, upgrade to Neuron@v0.103.0 should fix it.

Ref: https://github.com/nervosnetwork/neuron/issues/2384

[2022-05-14 09:53] Keith-CY commented on #2382
I've confirmed it, upgrade to neuron@v0.103.0 should fix it

Ref: https://github.com/nervosnetwork/neuron/issues/2384

[2022-05-14 10:04] itask commented on #2264
I was using very old version and updated it when old version started synching slowly.
I tried everything and I still get this error:
...
[2022-05-11 19:50:40.614] [info] Database:	saved synced block #7076079
...
[2022-05-14 12:59:11.977] [info] CKB:	external RPC on default uri not detected, starting bundled CKB node.
[2022-05-14 12:59:14.676] [info] CKB:	Initializing node...
[2022-05-14 12:59:14.6

[2022-05-14 10:08] itask opened #2385 "Not Connecting"
I was using very old version and updated it when old version started synching slowly.
I tried everything (VC_redist.x64 update, reinstall, firewall etc) and I still get this error:
...
[2022-05-11 19:50:40.614] [info] Database: saved synced block #7076079
...
[2022-05-14 12:59:11.977] [info] CKB: external RPC on default uri not detected, starting bundled CKB node.
[2022-05-14 12:59:14.676] [info]

[2022-05-14 10:23] Keith-CY commented on #2264
Hi @itask

The log `[2022-05-14 12:59:15.615] [info] CKB: process closed` follows `[2022-05-14 12:59:14.677] [info] CKB: starting node...` says ckb node inside neuron was shut down just after start

Could you upload `bundled-ckb.log` exported along with `export debug info` so we can find out the underlying error of ckb node.

[2022-05-14 10:24] richard-ecomus commented on #2380
Hi @Keith-CY,

Thank you for your reply. I tried moving the cache file to one side, but the problem remains as before. Please let me know if I can provide any other info to help debug this.

[2022-05-14 10:55] itask commented on #2264
@Keith-CY Thank you for your reply.
Please see attached
[neuron_debug.zip](https://github.com/nervosnetwork/neuron/files/8692772/neuron_debug.zip)
.

[2022-05-14 14:15] GColeto33 commented on #2379
Hi @Keith-CY ! Thank´s for the support. Today I upgrade the Neuron and make de deposit again, and now is in the DOA.
Thanks and keep up the great work!

[2022-05-14 14:34] #2379 closed

[2022-05-14 15:14] Keith-CY commented on #2381
Binance will allow the new format of addresses soon.

You may get the deprecated format of a specific address from transaction detail by clicking the  lock script tag next to an address
![](https://user-images.githubusercontent.com/7271329/166137921-aeac13ef-78b7-4be8-8574-fd60b6cd92d7.png)

[2022-05-14 18:39] Keith-CY commented on #2264
The content in `bundled-ckb.log` is
[code]
which is exactly the same as https://github.com/nervosnetwork/neuron/issues/2264#issuecomment-1037114175 mentioned, and CKB node is not started successfully.

This error usually comes along with a non-utf8 character in the file path. However, I didn't find a non-utf8 character in logs.

Could you download the CKB node(https://github.com/nervosnetwork/ckb/

[2022-05-14 19:17] EthAnalysis commented on #2370
Perfect @Keith-CY , the last bug fix update corrected it. All is syncing fine now!

[2022-05-14 19:17] #2370 closed

[2022-05-14 19:23] mattsbennett commented on #2383
@Keith-CY weird - it seems to happen consistently for me except on the first open after install. Tried your trick though, and it works great, thank you!

[2022-05-14 19:23] #2383 closed

[2022-05-15 00:51] brain-dump commented on #2384
Unfortunately I tried upgrading to 103, clearing cache and depositing... still doesn't get passed pending. I emailed deposit attempt with the 103 Neuron.

[2022-05-15 06:12] sergey799 commented on #2264
Good afternoon! and I'm still not syncing. I've been waiting for 2 weeks for everything to set up. What should I do? Tell me please.

[2022-05-15 06:20] Keith-CY commented on #2264
Hi @sergey799

From the logs you uploaded before, neuron has reached 7011011 (https://github.com/nervosnetwork/neuron/issues/2264#issuecomment-1114951737)
[code]

But the screenshot indicates it back to `7009878`, have you cleared with `menu -> tools -> clear all synchronized data` or something that removed all synchronized files?

[2022-05-15 06:24] sergey799 commented on #2264
I didn't clean the icegg. I just turn off the computer sometimes. After it is turned on for 2 days. And then I turn it on and wait again for a very long time.

[2022-05-15 06:29] Keith-CY commented on #2264
Please upload the `bundled-ckb.log` exported along with other debug info so we can analyze why ckb node hung.

Besides, We have enabled a feature of CKB node to boost synchronization, please upgrade neuron to v0.103.0 and check if it goes. With this feature we finished synchronization within 5 hour on Windows(4 cpus 16 GB) from the scratch.

BTW, CKB hardforked on 05-10 so it is necessary to ugpra

[2022-05-15 07:59] #2376 closed

[2022-05-15 08:50] sergey799 commented on #2264
Как это сделать? Мне нужно удалить старую версию кошелька и установить новую ? Правильно?

[2022-05-15 08:53] Keith-CY commented on #2264
You can upgrade it inside your Neuron by `menu -> help -> check for updates`
Ref: https://github.com/nervosnetwork/neuron/issues/2372

[2022-05-15 09:02] sergey799 commented on #2264
![Uploading IMG_2022_05_15_12_01_42_4026695967688130981658.jpg…]()

[2022-05-15 09:03] Keith-CY commented on #2264
Hi @sergey799
Seems that your image is not uploaded successfully.

[2022-05-15 09:04] sergey799 commented on #2264
![IMG_2022_05_15_12_04_31_178522016878183549463](https://user-images.githubusercontent.com/104154881/168465294-7539b2ce-dc21-4767-8c54-ebc798434ac7.jpg)

[2022-05-15 09:06] sergey799 commented on #2264
[neuron_debug_1652605358598.zip](https://github.com/nervosnetwork/neuron/files/8694601/neuron_debug_1652605358598.zip)

[2022-05-15 09:06] Keith-CY commented on #2264
Well, you're running Neuron@v0.103.0, the latest one and it almost reaches the tip of the blockchain(7,132,769 for now)

[2022-05-15 09:09] sergey799 commented on #2264
Only it still doesn't sync until the end. What to do? I have uploaded a debugging file to you. Please take a look!

[2022-05-15 09:10] sergey799 commented on #2264
![IMG_2022_05_15_12_10_12_8413412979612299331103](https://user-images.githubusercontent.com/104154881/168465540-738a46e6-740a-4266-aac3-8b7cc945a015.jpg)

[2022-05-15 09:16] Keith-CY commented on #2264
I'm kind of confused, `Block Synced up to 7132783` means it works well because it's very close to the tip, the latency less than 100 blocks is quite acceptable due to network fluctuation.

Is your balance incorrect that you think the synchronization is not done yet?

[2022-05-15 09:17] sergey799 commented on #2264
Yes, I think it's not done. Correct me if that's not the case.

[2022-05-15 09:29] Keith-CY commented on #2264
Synchronization is done according to logs and screenshots. I think it should be a problem of transaction history and balances.

To check if transaction history is correct, we need your transaction hashes received ckb. If you don't remember them, we hope to get your `Extended Public Key`, which includes public keys but not private keys so your ckb would be safe anyway. We will use your extended pub

[2022-05-15 09:45] sergey799 commented on #2264
I have sent you everything by letter to the specified address. I am waiting for an answer from you. Thanks!

[2022-05-15 09:59] Keith-CY commented on #2264
I have gone through your transaction history but also found nothing, I also double-checked all of your addresses in ckb explorer but they all have no transactions and balances.

I'm afraid that your wallet is actually not used. To ensure that, we have to know one of transactions sending ckb to your wallet, and check if the address is correct.

[2022-05-15 10:49] sergey799 commented on #2264
![IMG_2022_05_15_13_47_03_338116321251851241954](https://user-images.githubusercontent.com/104154881/168468948-82fd92c3-259b-447d-8c35-c1716caabf0b.jpg)

the question is the following. The address is very long and does not match the Ledger nano s hardware wallet. Accordingly, synchronization does not take place. What could be?

[2022-05-15 10:50] sergey799 commented on #2264
![IMG_2022_05_15_13_49_53_5563856148857573801290](https://user-images.githubusercontent.com/104154881/168469078-a76cf930-8fef-424c-80cc-fd5ad89ea83a.jpg)

[2022-05-15 10:57] sergey799 commented on #2264
![IMG_2022_05_15_13_56_44_9594261273977758128449](https://user-images.githubusercontent.com/104154881/168469317-952458bc-3c88-4476-a755-09439843b85d.jpg)

[2022-05-15 10:58] sergey799 commented on #2264
![IMG_2022_05_15_13_58_06_9505962698910002533643](https://user-images.githubusercontent.com/104154881/168469354-d2ddfd1b-5843-419d-a21e-b4408286d9b7.jpg)

maybe the wrong network address?

[2022-05-15 11:02] Keith-CY commented on #2264
I get the address from the qr code in screenshot and this address does not have balance, we can view its info in ckb explorer https://explorer.nervos.org/address/ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsqvyg4mqw9dtsjy5pa2ze4afx959jf40z9s77vf8q

[2022-05-15 11:05] Keith-CY commented on #2264
The network is correct and it keeps following up with tip block number we can see in ckb explorer https://explorer.nervos.org/

[2022-05-15 11:10] Keith-CY commented on #2264
Hi @sergey799

I think the correct way to find out where your assets go is to track the transaction sending you ckb, and then we can verify the addresses, even more, get the entire flow of assets. Could you paste the transaction hash here or email me?

[2022-05-15 11:14] sergey799 commented on #2264
I sent screenshots to your email. The fact is that transactions do not pass. It is not possible to produce from the exchange

[2022-05-15 11:20] Keith-CY commented on #2264
Got it! We adopt a new format(https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0021-ckb-address-format/0021-ckb-address-format.md#full-payload-format) of addresses on 05-10 when the CKB hardfork happened, all addresses in Neuron you can see are in the new format.

But Binance only allowed the deprecated address format(https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0021-ckb-address-fo

[2022-05-15 13:18] Keith-CY commented on #2384
Hi @brain-dump

I got the point. The `status.json` in the debug info says your neuron is connecting a ckb node@v0.101.0, which is not hardforked.

Neuron@v0.103.0 has ckb node@v0.103.0 inside, the ckb node@v0.101.0 maybe not shut down correctly on upgrade, please kill it manually and restart neuron then have a look.

[2022-05-15 16:31] brain-dump commented on #2384
all set.  thanks!

[2022-05-15 17:14] Keith-CY commented on #2377
Fixed with https://github.com/nervosnetwork/neuron/issues/2384#issuecomment-1126940509

[2022-05-15 17:14] #2377 closed

[2022-05-15 17:23] Keith-CY commented on #2385
Duplicated https://github.com/nervosnetwork/neuron/issues/2264#issuecomment-1126683915

[2022-05-15 17:23] #2385 closed

[2022-05-15 17:29] Keith-CY commented on #2348
Hi @Thorstenschuf

Although the attached files are not appended, I guess that you encountered an error related to signature validation which is introduced from Neuron@v0.101.3 for MacOS

We have updated Apple Developer Id Certificate so v0.101.2 cannot be upgraded by `check for updates` inside Neuron.

Please check the detail in release note https://github.com/nervosnetwork/neuron/releases/tag/v0.

[2022-05-15 17:31] Keith-CY opened #2386 "Cannot upgrade Neuron from v0.101.2"
LR; DR, this was annotated in the release note and you can download Neuron from the release page to adopt a new developer Id certificate.

It was caused by the migration of our developer Id certificate in Apple.

Because we, developers of Neuron, are now running our own group and will focus on neuron (won't participate in other toolchain development in Cryptape), we apply a new developer id certif

[2022-05-15 22:24] Thorstenschuf commented on #2348
Hi Chen,

Thank you for following up. I have installed v100.3 meanwhile and it seems it works. I hope also for the fork.

Below please find attached the message I got before:

[2022-05-16 07:35] Thorstenschuf commented on #2348
Hi again

Is it correct that also for version 0.101.3 you cannot check for updates within/inside the wallet?

[2022-05-16 07:41] Keith-CY commented on #2348
Hi @Thorstenschuf

There's a known bug in v0.101.3 that `check for updates` in setting panel doesn't work, you may upgrade neuron from menu

If you're using windows, it's in `menu -> help -> check for updates`
If you're using Mac or Linux, it's in `menu -> Neuron -> check for updates`

Ref: https://github.com/nervosnetwork/neuron/issues/2372

[2022-05-16 07:44] Thorstenschuf commented on #2348
It doesn’t work - see below

[2022-05-16 07:47] Keith-CY commented on #2348
I think you are going to append a screenshot in comment but it is not uploaded yet.

[2022-05-16 08:07] Thorstenschuf commented on #2348
Hi

Can you please somehow update your update versions that it just runs through like in the past?

What does it mean to move the files out of the download folder? To where?

I mean sorry, I am not a tech person and do not have the time to spend hrs on that. If you want adoption of ckb fix that… thank you.

Further what does it mean now for if I can’t update properly? Are my coins lost after the f

[2022-05-16 08:22] Keith-CY commented on #2348
I'm a little confused because I didn't mention something like `move files out of the download folder`

First of all, your coins are safe after the fork.

Then we can upgrade neuron from `v0.101.3` to `v0.103.0` by `check for updates` in menu
![image](https://user-images.githubusercontent.com/7271329/168550144-8e61e21a-51ca-4ac8-a66f-3401f18bdf4b.png)

[2022-05-16 08:32] Thorstenschuf commented on #2348
Hi Chen,

So it finally worked - neuron wallet 0.103.0 is the latest right?

When I now check for updates as you advised it says no updates available and now I also see the new longer address format.

I should be fine now, right?

Thanks for your support!!

[2022-05-16 08:36] Keith-CY commented on #2348
Yes, v0.103.0 is the latest one, and addresses are displayed in the new long address format since v0.103.0.

Your balance should be the same as before and it's all ready.

[2022-05-16 11:47] E-Coder1987 commented on #2223
Well then I'll wait - what else can I do :)

@Keith-CY : did the development start already? Is there an issue already created that i can track?
Thanks for the good work!

[2022-05-16 13:00] #2384 closed

[2022-05-16 13:00] #2386 closed

[2022-05-16 13:00] #2372 closed

[2022-05-16 13:18] sergey799 commented on #2264
--
Отправлено из Mail.ru для Android понедельник, 16 мая 2022г., 16:03 +03:00 от Chen Yu  ***@***.*** :

[2022-05-19 08:43] Keith-CY opened #2388 "Synchronization not started"
There're several cases that will stop synchronization so we'd better resolve it step by step.

Almost all cases are derived from ckb/ckb-indexer being not started, so let's check them first:

Windows: open task manager, check if ckb and ckb-indexer are running
![image](https://user-images.githubusercontent.com/7271329/169235895-586bcce2-3c8c-4b73-900d-34e8ed535662.png)
MacOS: open activity monitor

[2022-05-19 08:44] #2388 closed

[2022-05-20 11:37] rob4949 opened #2391 "I am trying to add a receiving address to crypto.com from the Neuron wallet that I connect to using ledger Nano X. When i get the receiving address from the Neuron wallet, and verify on ledger Nano X, they are different, so I have to reject the address and can't whitelist the address in crypto.com to send funds from there to my wallet."
**Describe the bug** (Please enter details, the more detail the better)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2022-05-20 11:44] Keith-CY commented on #2391
Hi @rob4949

You may encounter a known issue about CKB Address format upgrade with the last harkfork on 05/20

Since hardfork, neuron starts to display addresses in the new format listed in the [address format rfc](https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0021-ckb-address-format/0021-ckb-address-format.md) while other applications in CKB ecosystem need time to follow up.

Neuron has

[2022-05-20 11:59] rob4949 commented on #2391
I checked your response and I understand the what you guys did. I also pasted my address from the Neuron wallet into the tool you built, and the short old code matched what I am seeing on my ledger nano X. However, I am not able to verify using ledger because I can't switch the address in the Neuron wallet to match my nano X. Are you going to have an update for the Neuron wallet in Ledger Manager

[2022-05-21 07:27] Miner8118 opened #2392 "sync stuck"
**Describe the bug** (Please enter details, the more detail the better)
sync stucked at 99.45%

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
[neuron_debug_1653117928126.zip](https://github.com/nervosnetwork/neuron/files/8747161/neuron_debug_1653117928126.zip)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2022-05-22 09:13] Keith-CY commented on #2392
Hi @Miner8118

Your neuron is out of date since CKB has hardforked on 05-20

[code]

Neuron should be upgraded to v0.103.0 https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0 to work properly.

You may upgrade Neuron by `menu -> help -> check for updates`

Ref: https://github.com/nervosnetwork/neuron/issues/2384
Ref: https://github.com/nervosnetwork/neuron/issues/2386

[2022-05-22 09:49] Keith-CY commented on #2380
Hi @richard-ecomus

Sorry for replying so late.

We were trying to set the test environment on AWS and Aliyun but there isn't a distribute of Mint 19.1.

So I launched Mint 19.1 and Mint 20.3 in Virtual Box and found a similar error in Mint 19.1

If you can see `libva error: va_getDriverName() failed with unknown libva error driver_name=(null)` in the terminal, it should be the same one, and I'll

[2022-05-22 10:30] Keith-CY commented on #2380
Correct me, they are two separate errors, but I'll try to fix them in the VM first.

[2022-05-23 05:27] #2391 closed

[2022-05-23 07:24] panmoria opened #2393 "Cannot update to 0.103.0 on Mac"
[neuron_debug_1653290416917.zip](https://github.com/nervosnetwork/neuron/files/8752342/neuron_debug_1653290416917.zip)
<img width="250" alt="Bildschirmfoto 2022-05-23 um 14 15 52" src="https://user-images.githubusercontent.com/91946128/169765678-08c617c0-0722-4064-9050-80fc06dc5339.png">

[2022-05-23 07:26] Keith-CY commented on #2393
Hi @panmoria
This is a known issue and you may download Neuron from the release page(https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0) to adopt a new Apple Developer ID

For more detail: https://github.com/nervosnetwork/neuron/issues/2386

[2022-05-23 09:26] #2393 closed

[2022-05-23 13:47] WilliamSelkirk opened #2395 "PENDING"
Hi Folks! Hope this note finds you well!!! I still have 'Pending' on my trasfer of CKB to KuCoin Exchange and Nervos DOA as well. Thank you., Bill

[2022-05-23 15:29] WilliamSelkirk commented on #2395
Thx Kathy, I will check that out!!! :)

[2022-05-23 15:44] WilliamSelkirk commented on #2395
Thank you, Mr., Yu, I will check!!..thx..Bill

Bill Selkirk
VP-Research & Development
Agronomy & Animal Nutrition
765-541-1404
[cid:e33f7dc0-6a21-4043-9cd3-5471529451a5]
________________________________
From: Chen Yu ***@***.***>
Sent: Monday, May 23, 2022 9:49 AM
To: nervosnetwork/neuron ***@***.***>
Cc: Bill Selkirk ***@***.***>; Mention ***@***.***>
Subject: Re: [nervosnetwork/neuron] PENDING (

[2022-05-23 19:24] thetdy opened #2396 "Ubuntu compatibility issues"
18.04 and 22.04 LTS did not seem to work. 20.04 LTS works fine though

18.04 would not connect. couldn't find mainnet.

22.04 got stuck on "connecting" and couldn't clear cache

[2022-05-24 01:53] panmoria opened #2397 "New address format: Not possible to send CKB from Binance to Neuron"
Message from Binance:

"Hi, I received the update from the team, for the new format address at this moment, We're informed by tech previously this format might be supported in the near future. We will update once an ETA is available."

They ask to check with Neuron wallet, that Binance has not supported the new address, so is there any way to transfer the fund from Binance to Neuron wallet.

They

[2022-05-24 01:58] Keith-CY commented on #2397
Hi @panmoria
Addresses used previously are still valid now, they are just displayed in different way but has the same identities.

And you can view the old address in transaction detail in Neuron by clicking the “secp256k1/blake160” tag next to your address, the deprecated address will appear as the screenshot in this PR
https://github.com/nervosnetwork/neuron/pull/2358

[2022-05-24 02:01] panmoria commented on #2397
“secp256k1/blake160” tag ...

Can you kindly provide a screenshot where to find this?

[2022-05-24 02:12] Keith-CY commented on #2397
https://user-images.githubusercontent.com/7271329/169933923-c72115e7-9855-4361-8b3d-6a160bbbc518.mov

Receiving address of test wallet is located by the amount. In this video, I received around 77 ckb, then the address received 77 ckb in output is mine.

The address in this video is `ckb1qyqrg2awc2chs9yj3l34x9pglsnnxtsvpv6s2d3gfx` in old format and `ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vth

[2022-05-24 02:13] panmoria commented on #2397
Thanks much, appreciate!

[2022-05-24 08:05] Keith-CY commented on #2397
Hi @panmoria
Do you mean that you were trying to find out an old receive address from Neuron's history but got an exchange address?

I guess there're two addresses in outputs of one transaction, one is from Neuron and one is from the exchange. We have to distinguish them carefully(this step is risky because we have to do it manually).

As the video shows, I picked a transaction receiving 77 CKB, I

[2022-05-25 19:32] Billcrf opened #2398 "WALLET IS NOT CONNECTING AND I HAVE THE LATEST VERSION"
**Describe the bug** (Please enter details, the more detail the better)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2022-05-25 19:34] Billcrf commented on #2398
![Screenshot_6](https://user-images.githubusercontent.com/106275982/170352985-a078a071-f3ff-4e96-9068-ff0b4d32b14e.jpg)
I HAVE IT TWO DAYS LIKE THIS

[2022-05-26 00:53] Cedar67 commented on #2398
@Billcrf Could you export Debug Information and post it here?

[2022-05-26 16:19] Billcrf commented on #2398
[main.log](https://github.com/nervosnetwork/neuron/files/8780462/main.log)

[2022-05-26 20:52] Coolhand2117 opened #2399 "not syncing"
I have updated my Neuron Wallet but it will not sync

<img width="960" alt="image" src="https://user-images.githubusercontent.com/89916332/170578154-cca2b6ab-f16b-4d3b-b501-2a20867d2f9b.png">

[2022-05-27 02:28] Keith-CY commented on #2399
Hi @Coolhand2117

From the screenshot, the `CKB Node` inside neuron has not started yet, logs from `menu -> help -> export debug information` is required to find out the reason.

[2022-05-27 02:52] Keith-CY commented on #2396
Hi @thetdy

Could you please upload logs from `menu -> help -> export debug information` so we can learn more details like Neuron's version, are necessary dependencies installed, and most important, error message of not running.

[2022-05-29 13:57] richard-ecomus commented on #2380
Hi @Keith-CY,

Have checked the output in the console and can't see anything related to libva I'm afraid. The only errors I get are related to the missing SQLite package npm package.

Cheers

[2022-05-29 15:33] jcbm123143 opened #2401 "Godwoken 1000 usdc faucet bugs"
Godwoken 1000 usdc faucet 1000 usdc faucet doesn't work and I don't receive usdc

**Debug info**
<img width="960" alt="1000 USDC FAUCET" src="https://user-images.githubusercontent.com/22148449/170877698-8a8d82a9-b4f7-45aa-80ea-476758632980.PNG">

My wallet
ckt1q3uljza4azfdsrwjzdpea6442yfqadqhv7yzfu5zknlmtusm45hpuq2lvu8xnzdxz2yw40yuryqkfzveky2njfgq63kvvs
0x5f670e6989a61288eabc9c1901648999b1153925

[2022-05-29 17:06] Billcrf commented on #2398
[neuron_debug_1653581716321.zip](https://github.com/nervosnetwork/neuron/files/8793860/neuron_debug_1653581716321.zip)

[2022-05-29 17:08] Kempachi23 commented on #2397
i have tried transfer CKB from BINANCE to NEURON using old neuron wallet address and it was a failure, binance wont even transfer it..mybe the old address is unusable after the mainnet upgrade..

The real question is when will Binance will support the new wallet address??

[2022-05-29 17:09] Kempachi23 commented on #2397
https://github.com/nervosnetwork/neuron/issues/2397#issuecomment-1140488641

[2022-05-29 17:11] Kempachi23 commented on #2381
https://github.com/nervosnetwork/neuron/issues/2397#issuecomment-1140488641

[2022-05-29 17:46] Keith-CY commented on #2397
@quake do you have any idea about the schedule for adopting the new address format in Binance?

[2022-05-29 17:56] Keith-CY commented on #2398
Hi @Billcrf

Sadly the log(bundled-ckb.log) says nothing
[code]

It means the most basic infrastructure of the wallet, CKB Node, didn't work and it even didn't generate a log file.

In this case, we have to [run the CKB node](https://docs.nervos.org/docs/basics/guides/mainnet/) manually to see what error occurs.

[2022-05-29 18:29] Keith-CY commented on #2401
I cannot reproduce this case because an error is thrown after signing `get 1000 usdc on L1` transaction
[code]

@Flouse could you have a look at this issue

https://user-images.githubusercontent.com/7271329/170885955-ae71851a-ab93-429f-93e7-d5657af97139.mov

[2022-05-29 18:54] Billcrf commented on #2398
If i make reinstall with new wallet....

[2022-05-30 00:43] eyeberic commented on #2380
I am facing the same error as well.

* Version: Neuron-v0.103.0-x86_64.AppImage

I cannot export debug log because the output is malformed when trying to open up.

I also did not find the cache at the `~/.config/Neuron/` directory.

[2022-05-30 06:47] Cedar67 opened #2402 "Failed to build on Windows"
**Describe the bug**
The develop branch failed to build on Windows OS.

 http://neuron-test.nervosnet.org:8080/job/Neuron-build/54/console

![image](https://user-images.githubusercontent.com/64718893/170929677-75ab753e-1bcb-4717-92fd-82c6747f5a18.png)

**Location info**
Maybe the impact of this PR
https://github.com/nervosnetwork/neuron/pull/2373

[2022-05-30 09:23] Flouse commented on #2401
![image](https://user-images.githubusercontent.com/1297478/170960877-41c724fe-4c8e-40d1-9a17-723e301be02a.png)
I think it is a bug introduced by recent changes.

cc the maintainers of https://github.com/zhangyouxin/light-godwoken
@homura

[2022-05-30 09:55] DrCryptoN3rd opened #2403 "Cannot connect"
Hello there

I have a newly installed wallet on Ubuntu, it keeps connecting but never connects or starts syncing.
Tried to restart and clear Cache, did't work.
Any ideas?

[neuron_debug_1653904335457.zip](https://github.com/nervosnetwork/neuron/files/8797363/neuron_debug_1653904335457.zip)

![Bildschirmfoto von 2022-05-30 11-54-31](https://user-images.githubusercontent.com/84883231/170967656-531fa

[2022-05-30 09:59] Keith-CY commented on #2403
Hi @DrCryptoN3rd

From the ckb-bundled.log
[code]

There's a lock file stopping running ckb node inside neuron, removing `/home/user/.config/Neuron/chains/mainnet/data/db/LOCK` should fix it.

[2022-05-30 11:50] Kempachi23 commented on #2397
No idea bro as i already emailed them but still no response..

[2022-05-30 15:30] DrCryptoN3rd commented on #2403
[neuron_debug_1653924563124.zip](https://github.com/nervosnetwork/neuron/files/8799456/neuron_debug_1653924563124.zip)
Did that now it's not even trying to connect.

[2022-05-30 16:40] Keith-CY commented on #2403
Hi @DrCryptoN3rd

The `bundled-ckb.log` shows ckb node is running and `main.log` shows neuron is trying to boost ckb-indexer `[2022-05-30 17:22:10.805] [info] Indexer:	start: PORT: 8118`, which is the synchronization module of neuron, but it hangs(3 times). This happens when ckb-indexer was not closed properly last time.

Please check if ckb-indexer is running (with command line in terminal `lsof

[2022-05-30 18:55] DrCryptoN3rd commented on #2403
I did kill all the ckb processes, restarted and it still hangs with log [info] Indexer: start: PORT: 8118...
[neuron_debug_1653936897082.zip](https://github.com/nervosnetwork/neuron/files/8800281/neuron_debug_1653936897082.zip)

[2022-05-31 07:14] Nelx1 commented on #2399
sync stucked at 98.11% for several days.
clear cache twice and rebuilt index twice.
Turned off my firewall and VPN too.
I am using fiber optics cable with highspeed internet.
Please help. thank you.

[2022-05-31 07:33] Keith-CY commented on #2399
Hi @Nelx1
could you post logs of neuron(`menu -> help -> export debug information`) here so we can find out why it stucked.

[2022-05-31 09:47] Keith-CY commented on #2399
Hi @Nelx1
Seems that your neuron is out of date
[code]

Your neuron is not v0.103.0 so disconnected from miners after CKB hardfork on 2022/05/10

Please update it to v0.103.0
- If your neuron is of v0.101.3, it can be upgraded as https://github.com/nervosnetwork/neuron/issues/2372 says.
- If neuron is running on MacOS and before v0.101.3, you have to download it from the release page https://githu

[2022-05-31 13:31] Cedar67 opened #2407 "Setting - Wallets list - buttons on the right are displayed incompletely"
**Describe:**
User has to slide the horizontal scroll bar to click the right-most button.

<img width="1038" alt="image" src="https://user-images.githubusercontent.com/64718893/171183235-ca2a54f7-00a5-449e-93dc-910034214879.png">

**Expected**
By default, all buttons are displayed completely without horizontal scrollbars.

**Neuron Version:**
0.103.0

[2022-06-01 01:39] yanguoyu commented on #2407
https://github.com/nervosnetwork/neuron/pull/2409

[2022-06-02 10:48] simonsanchezj commented on #2264
Hello all. Syncking stops at block 7,150,910

Did anyone experience the same problem?

Thanks

El vie, 29 abr 2022 a las 10:21, sergey799 ***@***.***>)
escribió:

[2022-06-02 16:16] merakmember commented on #2336
when can this feature be used? so I can send sudt to yokai/forcebridge

[2022-06-02 17:52] simonsanchezj opened #2413 "Neuron wallet stuck at block 7,150,910"
My nuron wallet stopped syncing at this block and, consequently, I cannot access my funds. Any suggestions?

[2022-06-02 19:21] simonsanchezj commented on #2413
Picture attache
<img width="197" alt="Captura de pantalla 2022-06-02 a las 21 20 56" src="https://user-images.githubusercontent.com/25982712/171720796-4d2ef4f1-1a3b-4315-a467-5efd883d0df2.png">
d

[2022-06-03 07:08] Keith-CY commented on #2413
Hi @simonsanchezj

Please add logs exported by `menu -> help -> export debug information` so we can find out the reason synchronization didn't start.

[2022-06-03 07:17] Keith-CY commented on #2336
Hi @safe96 @merakmember this feature has been delivered with https://github.com/nervosnetwork/neuron/releases/tag/v0.103.0

When a sudt asset account has no balance, a `destroy` button will appear at the bottom of sending tab and allow you to turn the asset account cell into a normal cell(pure ckb asset)
![image](https://user-images.githubusercontent.com/7271329/171806295-15b59719-dbeb-4ab1-a46c-0

[2022-06-03 07:18] simonsanchezj commented on #2413
Problem solved. Just had to download the newest version of neuron. Thanks!

El vie., 3 jun. 2022 9:08, Chen Yu ***@***.***> escribió:

[2022-06-03 07:52] Keith-CY commented on #2336
@merakmember I missed your second question, sending sudt to yokai/forcebridge is under testing and will be released next week(if tests are all green)
Function Pull Request: https://github.com/nervosnetwork/neuron/pull/2400

[2022-06-05 12:31] robkay01 commented on #2398
I have the same problem, here is my log file. Can someone please help advise how to fix this issue.
[neuron_debug_1654432074174.zip](https://github.com/nervosnetwork/neuron/files/8839948/neuron_debug_1654432074174.zip)

[2022-06-05 12:38] robkay01 opened #2414 "Neuron Wallet Not Connecting 0% Block Synced"
Latest version of Neuron downloaded, Wallet not connecting and not syncing.
[neuron_debug_1654432074174.zip](https://github.com/nervosnetwork/neuron/files/8839965/neuron_debug_1654432074174.zip)

![image](https://user-images.githubusercontent.com/55883564/172050861-310d74f4-abd2-4766-9a80-dde5db002385.png)

[2022-06-05 13:14] Keith-CY commented on #2414
Hi @robkay01

The log says
[code]

It happens when neuron is upgraded from version before https://github.com/nervosnetwork/neuron/releases/tag/v0.100.0

And the way to fix it is to synchronize from scratch, please clear data by `menu -> tools -> clear all synchronized data` and

[2022-06-05 14:04] robkay01 commented on #2414
Hey @Keith-CY thanks that seems to have worked and I am now connected and syncing. Brilliant.

[2022-06-05 14:05] robkay01 commented on #2398
My problem is now solved as I opened a new issue with the above and it was fixed there.

[2022-06-05 17:09] #2414 closed

[2022-06-05 17:09] #2413 closed

[2022-06-06 01:10] eyeberic commented on #2380
Hi @Keith-CY .
Just want to follow-up on this issue as I'm not able to perform any transaction with the Neuron Wallet being in this broken state.
Let me know if you need further logging details.

[2022-06-06 05:45] Keith-CY commented on #2380
Hi @eyeberic

Sorry for replying late since I'm still working on this issue.

The error is introduced by upgrading `sqlite3` from v5.0.2 to v5.0.3. I'm still trying to find out a solution with v5.0.3.

Neuron will be released this week and `sqlite3` will be degraded to v5.0.2 if necessary.

[2022-06-06 05:48] Keith-CY commented on #2380
And I've a workaround confirmed.

Neuron@v0.101.3 works on mint 19.1 but it has an un-hardforked ckb node inside, we can run a ckb node manually (https://docs.nervos.org/docs/basics/guides/mainnet/) to replace the inside one.

[2022-06-06 09:54] robkay01 opened #2416 "Cannot Deposit to Nervos DAO in Neuron Wallet"
I cannot deposit CKB to Nervos DAO. I get an error message "TransactionFailedToResolve: Resolve failed Unknown"
![image](https://user-images.githubusercontent.com/55883564/172138679-f0c90ffd-4db8-4195-922b-fa757f3797b0.png)

[neuron_debug_1654509201036.zip](https://github.com/nervosnetwork/neuron/files/8843509/neuron_debug_1654509201036.zip)
n`)
Please can someone help?

[2022-06-06 10:06] Keith-CY commented on #2416
Hi @robkay01

The error says a ckb cell located by `tx hash: 0xc1d139d3fffd9c509e04bcb209e046ee1ab4b99e985d330f3f871b005da02f30` and `index: 0x37` is not found on chain.

The cell is generated by tx https://explorer.nervos.org/transaction/0xc1d139d3fffd9c509e04bcb209e046ee1ab4b99e985d330f3f871b005da02f30#55

and consumed by tx https://explorer.nervos.org/transaction/0xf3a7cd4f2a6db7a57f55a5ae49b7a

[2022-06-06 16:38] Keith-CY commented on #2380
Fixed by PR https://github.com/nervosnetwork/neuron/pull/2417

[2022-06-07 11:36] Cedar67 commented on #2407
Verified on https://github.com/nervosnetwork/neuron/pull/2409
<img width="900" alt="image" src="https://user-images.githubusercontent.com/64718893/172370030-11813aff-9260-49fc-8928-e2b909f83a40.png">

[2022-06-07 11:36] #2407 closed

[2022-06-08 19:06] virtueorvice opened #2418 "Neuron Wallet Stuck at Block 5,994,781 (Looking for assume valid target)"
Hi, my wallet is stuck at block number I mentioned above. It is not fully synced and doesn't show my balance.

[2022-06-08 19:23] #2418 closed

[2022-06-11 05:35] ahming123 commented on #2399
hi

[2022-06-11 05:36] ahming123 commented on #2399
<img width="1182" alt="Screen Shot 2022-06-11 at 1 35 39 PM" src="https://user-images.githubusercontent.com/107288552/173174426-44e703d5-8a1b-4303-b405-9f3e7df8f7c7.png">
My neuron hv been stuck here after the update to v0.103.0

[2022-06-11 05:37] ahming123 commented on #2399
can kindly help me

[2022-06-11 15:16] Keith-CY commented on #2397
Hi @panmoria @Kempachi23
We just released https://github.com/nervosnetwork/neuron/releases/tag/v0.103.1 which could display receiving address in the deprecated format with PR https://github.com/nervosnetwork/neuron/pull/2408

https://user-images.githubusercontent.com/7271329/173193753-92518744-f9db-4506-9355-733d8b118681.mov

[2022-06-11 15:17] Keith-CY commented on #2381
Hi @antoniogioia

We just released https://github.com/nervosnetwork/neuron/releases/tag/v0.103.1 which could display receiving address in the deprecated format with PR https://github.com/nervosnetwork/neuron/pull/2408

https://user-images.githubusercontent.com/7271329/173193753-92518744-f9db-4506-9355-733d8b118681.mov

[2022-06-11 16:03] Keith-CY commented on #2380
Hi @richard-ecomus @eyeberic
Neuron v0.103.1 (https://github.com/nervosnetwork/neuron/releases/tag/v0.103.1) was just released and works in mint 19.1 and mint 20.3

[2022-06-12 01:25] Mushies4E commented on #2024
@kellyshang having the same issue here - I send a completed transaction 6/3 from Kucoin and I dont see it showing in my Nervos wallet... What next steps can I take here?
[neuron_debug_1654997058708.zip](https://github.com/nervosnetwork/neuron/files/8884996/neuron_debug_1654997058708.zip)
Added the export debug info to hopefully expedite the process...

[2022-06-12 12:58] Keith-CY commented on #2223
Hi @E-Coder1987 @VISQonSpotify @finnj7 Sending sudt to yokai is supported in https://github.com/nervosnetwork/neuron/releases/tag/v0.103.1

https://user-images.githubusercontent.com/7271329/173234404-ad50cd60-56f1-4cde-9121-b77bb766acd2.mov

[2022-06-13 04:22] 991walt opened #2421 "neuron deposit will not unlock"
I withdrew my deposit earlier however my internet crashed the next day my deposit was locked again. I figure I would wait for the next cycle to finish so I can unlock to add more ckb however it is staying locked. I downloaded the last updates however still not able to unlock. It does show I withdrew on 2022-05-19 however the tokens never moved. Any help would be a big help thank you so much for yo

[2022-06-13 04:42] Keith-CY commented on #2421
Hi @991walt
Could you paste the tx hash of the withdrawal on 05-17 so I can have a look at the transaction

[2022-06-13 15:51] richard-ecomus commented on #2380
Hi @Keith-CY, all working for me now, thank you very much. Guess this can be closed if it's workign for @eyeberic too.

[2022-06-14 04:15] 991walt commented on #2421
went online tonight to get the information to you and i tried to unlock it again just in case and it did un-lock. I am good now so thank you for all your help in the matter. We all good now thanks

[2022-06-14 06:13] #2421 closed

[2022-06-14 06:38] Keith-CY commented on #2369
Hi @NBMB1

Supporting Ledger Nano S Plus is on the task list https://github.com/Magickbase/neuron-public-issues/issues/19

It should be done in May but shipping of a newly bought Ledger Nano S Plus takes longer than expected. It will arrive in a week and I'll start working on it ASAP.

[2022-06-14 07:12] E-Coder1987 commented on #2223
Cheers Mate that worked, I see them now. How do I send those BNB to my regular BSC Wallet?

[2022-06-15 17:03] jithv198787 opened #2423 "i send coins from kucoin to neuron but not able to it as balance"
**Describe the bug** (Please enter details, the more detail the better)

not able to see my balance
ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsq05rc9y9fs2499txmgngdfyyk7fsfpntscaeew7l
ckb1qyq0g8s2g2nq4222kdk3xs6jgfdunqjrxhpsd4gnrs

[0x9baac8e40cb3c29bdb2d7e6bfc007957e785eb794a54153f36780f851a88bafd](https://explorer.nervos.org/transaction/0x9baac8e40cb3c29bdb2d7e6bfc007957e785eb794a5

[2022-06-15 17:11] Keith-CY commented on #2423
Hi @jithv198787
There's an error listed in the logs
[code]
saying a required dependency `vc_redist` is missing, it(vc_redist.x64.exe) can be downloaded from https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170

[2022-06-15 17:17] jithv198787 commented on #2423
still having  the same issue

[2022-06-15 17:20] Keith-CY commented on #2423
If it shows like this
![image](https://user-images.githubusercontent.com/7271329/173887428-a7b9bdbb-5ef4-40de-9c5d-93424d2bb76a.png)
instead of a red alert, it works, and your balance will be updated once the synchronization is done(block number reaches 7,426,823)

[2022-06-15 17:23] jithv198787 commented on #2423
can i use any other wallets and which one i can use

[2022-06-15 17:23] Keith-CY commented on #2423
It starts working, and be patient the synchronization will take hours(because Neuron is a full-node wallet, which runs a ckb node as data source)

[2022-06-15 17:23] jithv198787 commented on #2423
o ok

thanks

[2022-06-15 17:24] Keith-CY commented on #2423
There're several mobile wallets for CKB, usually we recommend imtoken and safepal.

[2022-06-15 17:29] Keith-CY commented on #2423
Yes, your assets are safe if they can be found in your address on ckb explorer, Neuron is just used to manage your assets(sending/depositing them). And your assets will appear in Neuron when synchronization reaches block number at which your assets are received.

[2022-06-15 21:16] pieropieroro opened #2424 "Transfert from gate.io to neuron wallet before sync was done."
**Describe the bug** (Please enter details, the more detail the better)
I sent money from gate to my neuron wallet, but the sync was not effective. I do not succes to sync... my noney is lost ?

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)
Bundled-ckb:
ause node is in initial block download
2022-06-15 22:58:07.531 +02:00 GlobalRt-13 INFO ckb_sync::synchron

[2022-06-16 00:40] yanguoyu commented on #2424
Hi, don't worry about it. Your assets are safe if they can be found in your address on [ckb explorer](https://explorer.nervos.org/), Neuron is just used to manage your assets(sending/depositing them). And your assets will appear in Neuron when synchronization reaches block number at which your assets are received.

[2022-06-19 20:15] InvertedPossum opened #2428 "Ckb Indexer not running, Syncing issue"
Neuron is not syncing.....again. ckb-indexer is not running.
I just installed neuron last night, after 2hrs of major headaches I finally got the node to start syncing. This morning it was fully synced
I closed it out and restarted it again a few hours later. Now it will not sync,
running windows 10,
If anyone can help that would be appreciated, really dislike mining to exchanges.

[2022-06-19 09:1

[2022-06-19 20:32] InvertedPossum commented on #2428
I tried the following with no luck. Also I followed this thread to get the chain to sync initially.

![22](https://user-images.githubusercontent.com/107813294/174499300-5f806bbd-dbf5-444a-bd2b-c2778b333040.PNG)

[2022-06-20 03:06] Keith-CY commented on #2428
Hi @InvertedPossum
The error message repeating in logs
[code]
means the ckb node(which runs on port 8114) is not working as expected.

Please attach the `bundled-ckb.log` in exported debug info so we can see what's going on with the node.

[2022-06-20 11:02] eyeberic commented on #2380
Confirmed to be resolved in Neuron v0.103.1 (https://github.com/nervosnetwork/neuron/releases/tag/v0.103.1).

Thanks for your hard work into this, and feel free to close this out.

[2022-06-20 11:25] milavm commented on #2398
Hello,
Same issue here, wallet does not sync. I just downloaded wallet couple days ago, it is most updated version.
Saw youtube videos #1 and #2 to create a wallet and deposit funds, but I can not move on since it does not sync
It shows:
Block Synced 0%
0/3,524,00 (last number changes constantly)
Looking for assumed valid target
I am not into all this too tech details. I just need a functional and

[2022-06-20 11:35] Keith-CY commented on #2398
Hi @milavm

If neuron shows `Looking for assumed valid target`, it works well and will take less than an hour in this state(looking for assumed valid target). It's a feature of CKB to boost synchronization.

Neuron assumes the block https://explorer.nervos.org/block/0x6c914adcfd5289e8c4058e60e83555d5eb04ddc547b6184f1fae72d5f36929a3 is valid and won't be forked, then neuron downloads block headers

[2022-06-20 12:48] milavm commented on #2398
Hey Keith, Well, a day ago nothing moved for 7 hours, but actually now it started. Thanks for the explanation.

[2022-06-21 02:56] Keith-CY commented on #2428
Thanks, @InvertedPossum

`CKB node is not started on neuron's launch` is a known issue and we are still analyzing the reason. But it's quite annoying for users so we introduce a retry mechanism to restart the node in the next version that it won't bother you anymore https://github.com/nervosnetwork/neuron/pull/2422

We will keep trying to fix it to make neuron start smoothly.

[2022-06-21 03:42] InvertedPossum commented on #2428
Thanks for the info, good to know.
cheers

[2022-06-21 03:42] #2428 closed

[2022-06-23 08:07] Seyen34 opened #2429 "Latest version wallet and sync stucked on "not started yet""
Hi

I just download the latest version of the neuron wallet for many days and sync is still stucked on "not started yet".

I quited the wallet, rebooted my Mac and there is still the same message

Here is the debug info:

[neuron_debug_1655970657153.zip](https://github.com/nervosnetwork/neuron/files/8965268/neuron_debug_1655970657153.zip)

Could you help me please ?

[2022-06-23 09:17] Keith-CY commented on #2429
Hi @Seyen34

I've checked the logs and it works well.
If I were right, the progress displaying at the left bottom corner is

[code]

It means neuron is in early stage of synchronization and the first number in `0 / 5601958` will increase once it find an assumed valid target(when the second number is greater than `7,075,157`).

`Looking for assumed valid target` was explained in https://github.com/

[2022-06-23 10:59] Seyen34 commented on #2429
<img width="564" alt="Capture d’écran 2022-06-23 à 12 54 08" src="https://user-images.githubusercontent.com/108055661/175282996-39b3a17d-0bef-488e-9190-7d70cf1e4359.png">

Thanks for your answer Keith, you're right the first time it was indicated "looking for assumed valid target". But when I quited and re opened the wallet, the progress shown is 0% and 0/0 about the blocks. Is it still normal ?

[2022-06-23 13:17] Keith-CY commented on #2429
It is abnormal that Neuron stayed longer than minutes with `sync not started yet`. The red alert means Neuron cannot connect to a ckb node, but I can see the internal ckb node is working according to the logs, so it's a bit weird.

[code]

Let's check if ckb node is really running.

Please launch Neuron, then open task monitor/activity monitor(https://github.com/nervosnetwork/neuron/issues/2388) a

[2022-06-24 17:02] gillouche opened #2431 "Generate Ledger wallet address from Neuron via the Ledger App is not valid"
Hello,

**Describe the bug** (Please enter details, the more detail the better)
I have a Ledger Nano X, the Nervos app on the Ledger is 0.5.4 and Neuron Wallet 0.103.0. I imported a wallet from the Ledger Nano X.

In Neuron Wallet, when I click on receive and then "Verify Address" and confirm on the Ledger Nano X, the status is "Invalid".

Because of that, I cannot send CKB on the Ledger via the N

[2022-06-26 07:11] Keith-CY commented on #2431
Hi @gillouche

Nervos Ledger App should be updated since hardfork happened on 05/10, by that short version address(Nervos Ledger App was using) has been deprecated and a new universal address is proposed(Neuron is using).

But Nervos Ledger App doesn't catch up with the new format AFAIK, and core team is pushing the adaption.

Address Format RFC: https://github.com/nervosnetwork/rfcs/blob/master/r

[2022-07-02 19:37] alejandroRbit opened #2435 ""Deposit rules" link in Neuron v0.103.1 is not working"
The "Deposit rules" link in Neuron version 0.103.1 is not working.

![unknown-10](https://user-images.githubusercontent.com/94946624/177014140-b063d786-d573-4903-bf89-14e5a50b4a0e.png)

The link redirects to:

 https://docs.nervos.org/docs/basics/guides/neuron#5-deposit-your-nervos-ckbyte-tokens-into-nervos-dao

[2022-07-03 03:15] Keith-CY commented on #2435
Thanks, @alejandroRbit
The active link is https://docs.nervos.org/docs/basics/guides/crypto%20wallets/neuron/#deposit-ckb-into-nervos-dao and we'll fix it in the next version.

[2022-07-03 21:45] George8085 opened #2437 "[Synchronization] **Block sync percentage wont start, always at 0**"
### Detail of the issue

I keep getting the message: Looking for assumed valid target.  And the number on the left is always 0,  but increases on the right. Example: 0/1,335,000. I've deleted wallet and reinstalled it again. I cleared cache numerous times and also restarted sync several times. Also downloaded microsoft C +++ X64. Looked through the exported debug info and didnt find any of the kno

[2022-07-04 01:02] yanguoyu commented on #2437
Hi, @George8085,

It means neuron is in early stage of synchronization and the first number in 0 / 5601958 will increase once neuron finds an assumed valid target(when the second number is greater than 7,075,157).

[2022-07-04 01:45] George8085 commented on #2437
Thank you

[2022-07-06 07:09] gillouche commented on #2431
Hi @Keith-CY
thanks, it is more clear now.

[2022-07-06 07:09] #2431 closed

[2022-07-09 09:59] Keith-CY commented on #2369
Hi @Alexpr1me @NBMB1

We just released Neuron v0.103.2 https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2 which supports Ledger Nano S Plus
![image](https://user-images.githubusercontent.com/7271329/178100960-dd9bf79a-46f1-490a-ac4a-ef6b1e7dcee8.png)

[2022-07-09 10:06] Keith-CY commented on #2431
Hi @gillouche

Because the ETA. of updating ledger live app is not confirmed, we released neuron v0.103.2 https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2 that regards the deprecated addresses as valid addresses for compatibility.

[2022-07-09 10:59] Keith-CY commented on #2249
Hi @dapptain @ancoron @0xfather

We just released Neuron v0.103.2 https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2 which supports `custom data path` by PR https://github.com/nervosnetwork/neuron/pull/2433, now data paths of ckb node and ckb indexer can be set in `Setting -> Data`

Remember to move current data into the new directory so neuron can continue from a synchronized height.

[2022-07-13 22:13] Hijodeloeste opened #2448 "The synchronization is very slow"
### Detail of the issue

The synchronization is very slow, there are already 3 days and only 5% and the percentage instead of increasing decreases

### bundled-ckb.log

[code]

### main.log

_No response_

### status.log

_No response_

[2022-07-13 22:17] Hijodeloeste commented on #2448
![neuron](https://user-images.githubusercontent.com/109044608/178846328-83a676f7-50b2-4ce9-aad9-6f0b7696ebd1.jpg)

[2022-07-14 01:06] Questionforyou opened #2449 "Show value of Neuron Wallet balance"
**Describe the bug** (Please enter details, the more detail the better)
Neuron wallet just shows balance of shares but doesn't show how much those shares are actually worth.

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2022-07-14 01:51] Keith-CY commented on #2449
Neuron won't request an external API for security so the price of shares cannot be fetched.

In the meantime, we're going to add an accessory of Neuron to watch assets on web page(https://github.com/Magickbase/neuron-public-issues/issues/23#issuecomment-1140889013) which will support more daily used functions.

[2022-07-14 02:01] Questionforyou commented on #2449
That makes sense. Thanks.

[2022-07-15 18:15] vbastovoi opened #2453 "[Synchronization] **brief description**"
### Detail of the issue

Does anyone know why I can't send from neuron wallet? I introduced the wallet address of the person who will receive the funds, signed the password. And an error appeared TransactionFailedToResolve: Resolve failed Unknown (OutPoint(and a long code here)). My blocks are completely synced and I have the latest version of the wallet 0.103.2. I have tried already to clean cach

[2022-07-18 02:42] Keith-CY commented on #2453
Hi @vbastovoi

This error usually happens when Neuron's cache is not updated in time and can be fixed by `clear cache` without `rebuild index`. But these two solutions have been tried but do not work as you said. We need more info to debug it, please upload the `debug information` exported by `menu -> help -> export debug information` so we can check the detailed error message.

[2022-07-18 05:40] vbastovoi commented on #2453
I've just deleted and reinstalled the wallet and now it's fine.

On Mon, 18 Jul 2022 at 05:43, Chen Yu ***@***.***> wrote:

--
Best Regards,
Valentin

[2022-07-18 07:05] #2453 closed

[2022-07-18 17:48] virtueorvice opened #2455 "Cannot get to set CKB NODE DATA and CKB INDEXER DATA folders"
**Describe the bug** (Please enter details, the more detail the better)
The new feature comes with two directories that we can set. However, whenever I set one of the above directories, the other is also set to the one I made for the previous one.

No syncing goes on and even with previously downloaded data, Neuron wallet wants to start syncing from afresh.
**Debug info** (Please upload the debug

[2022-07-19 00:49] yanguoyu commented on #2455
@Cedar67 Can you try to reproduce this problem? I can‘t reproduce this problem on Neuron 0.103.2

[2022-07-19 02:03] Cedar67 commented on #2455
Hi, @virtueorvice
Are the two directories you mentioned above the 1 and 2 patterns identified below?
The Settings 1 and 2 are independent and do not interfere with each other. I do not reproduce the appearance you mentioned `"The other is also set to the one I made for the previous one."`
Could you please provide the replayed screen recording so as to confirm the problem appearance?
Also, could yo

[2022-07-19 04:51] virtueorvice commented on #2455
I had a backup of my Neuron folder in AppData/roaming. I deleted the local folder on windows and copied the backed-up Neuron and everything started working.

[2022-07-19 06:37] gillouche commented on #2431
Thanks for the quick update @Keith-CY.

Unfortunately, I need the Ledger app to be updated because the exchange does not accept the long address as valid. I'll try to see with the app maintainer.

[2022-07-19 06:55] Keith-CY commented on #2431
Hi @gillouche

I missed a part of Neuron's work on compatibility

Ledger shows the deprecated short address when it's not upgraded and was marked unverified because Neuron only admits the new format one.

After some work, Neuron admits the deprecated address offered by ledger so `verify address` passes now.

Besides, Neuron added a toggle in https://github.com/nervosnetwork/neuron/pull/2408 so a r

[2022-07-19 07:02] gillouche commented on #2431
Okay, thank you very much @Keith-CY, I'll try this with a test transfer today or tomorrow.

Cheers.

[2022-07-19 07:22] Cedar67 commented on #2455
@virtueorvice  Feel like your problems have been solved?

[2022-07-19 09:41] virtueorvice commented on #2455
Yes

[2022-07-19 10:45] #2455 closed

[2022-07-20 18:20] frizzzdog opened #2456 "Cannot withdraw CKB to another exchange - insufficient funds"
Hello,

I am looking for assistance in retrieving my CKB tokens to another exchange but get the insufficent funds pink banner when attempting to withdraw.

See attached for screenshot details and thanks in advance for any way to help resolve thisissue.

Marc
![CKB_screenshot](https://user-images.githubusercontent.com/5787446/180054449-b25f7a2c-5d23-4ecd-a2da-0032bed24287.JPG)

[2022-07-20 21:11] frizzzdog commented on #2007
Took your suggestion and took out 1000 ckb but I still get insufficient balance message to pop up and not complete withdrawal. Also I am on version 0.103.0 if that can help you troubleshoot issue. I did get another 6k of coin during compensation cycle which ends tomorrow hence my worries about getting it withdrawn within this cycle

[2022-07-20 21:20] frizzzdog commented on #2398
I also have an issue but in this instance I cannot withdraw ckb as I get insufficient funds and do withhold 62 ckb for balance (see attached debug zip report for troubleshooting (version 0.103.0)

[neuron_debug_1658351785502.zip](https://github.com/nervosnetwork/neuron/files/9154577/neuron_debug_1658351785502.zip)
)

[2022-07-20 21:21] frizzzdog commented on #2007
see attached debug report
[neuron_debug_1658351785502.zip](https://github.com/nervosnetwork/neuron/files/9154589/neuron_debug_1658351785502.zip)

[2022-07-21 03:57] Keith-CY commented on #2007
Hi @frizzzdog

The error in the logs is quite simple
[code]

Is there at least 62 CKB outside Nervos DAO available? `withdraw from nervos dao` requires less than 1 CKB but holding a change cell requires 61 CKB, so theoretically `61.xxxx` CKB in balance is necessary for this action.

If you have 62 CKB or more outside Nervos DAO, please clear cache without `rebuild index` in the setting panel, it w

[2022-07-21 11:33] frizzzdog commented on #2007
I clicked on clear cache, then attempted another withdrawal (keeping 1000 ckb token for balance but still get get insufficient funds message) so not sure when that clearing of cache will be completed. Block synced states 100%
Any suggestions as to how to complete this process is greatly appreciated!
Marc
    On Wednesday, July 20, 2022 at 09:58:10 PM CST, Chen Yu ***@***.***> wrote:

Took your sug

[2022-07-21 11:39] frizzzdog commented on #2007
See attached screenshot for details - still cannot withdraw as I get insufficient funds
![Neuron_screenshot_07212022](https://user-images.githubusercontent.com/5787446/180204872-4a6a794c-709a-469a-952c-07bf627c38df.JPG)

[2022-07-21 11:57] Keith-CY commented on #2007
Hi @frizzzdog

The screenshot says your balance is 0, all your CKB are deposited into nervos DAO, the withdrawal transaction cannot be constructed because an extra transaction fee should be provided.

![image](https://user-images.githubusercontent.com/7271329/180207268-961c38ab-f7d3-4aae-8741-e860088ea04f.png)

62 available CKB(balance) is required to make a withdrawal, you may have to transfer fr

[2022-07-23 02:46] Mrschengen opened #2458 "[Synchronization] **Syncing is blocked**"
### Detail of the issue

My neuron Blocked after 10 May 2022 i didnt know about the Update !so after looking for a solution i did the update to 0.103 this didnt resolve the problem ... i cleared the cash and start from zero also and this not worked also the sync moved again unil the same point and got blocked again.  so after waiting long time i decide to Format my laptop and i start with the new

[2022-07-23 14:55] Mrschengen commented on #2458
eader number: 6846776, hash: Byte32(0x7f7b81b8878bdcad4c9348b9abbd70a2bab01edd50620f184cf7cfd8f0190032), can't find assume valid target temporarily, hash: Byte32(0x6c914adcfd5289e8c4058e60e83555d5eb04ddc547b6184f1fae72d5f36929a3) please wait
2022-07-23 03:49:35.931 +02:00 BlockDownload INFO ckb_sync::synchronizer  best known header number: 6856776, hash: Byte32(0x6b356df1bb0a6a653f20115058c4427144

[2022-07-23 14:58] Mrschengen commented on #2458
All the block before are same like that but after here the syncing get blocked
[2022-07-20 05:22:41.538] [info] Database:	saved synced block #5386480
[2022-07-20 05:22:46.908] [info] Database:	saved synced block #5386553
[2022-07-20 05:22:52.563] [info] Database:	saved synced block #5386748
[2022-07-20 05:23:00.014] [info] Database:	saved synced block #5386774
[2022-07-20 12:35:55.089] [info] CKB:

[2022-07-25 03:13] yanguoyu commented on #2458
Hi, @Mrschengen
Sorry for the late.
I found out that the ckb node was killed for some reason. Have you killed the process manually? Or do you have enough space on your hard drive?
<img width="683" alt="image" src="https://user-images.githubusercontent.com/12881040/180691991-dbd0c1f6-9bfd-4c81-a054-040b7147b49d.png">

[2022-07-25 14:11] Mrschengen commented on #2458
Yes i have more then 195G Disponible. About killing the Process Manually i didnt even know how to do that! Should i restart all again ? or what ? even i hope if thers asolution cause i restart more then 3 Time

[2022-07-25 16:38] packratllc commented on #2423
Hey I have similar issue.  I tried transferring all my ckb from my kucoin wallet to my Neuron wallet.  Kucoin says that the transaction is complete on their end and there is nothing they can do about it. My neuron wallet shows 0 ckb. I tired clearing the catch and re- syncing the wallet. no luck.  I'm not sure what to do now, any help would be great!

[bundled-ckb.log](https://github.com/nervosnet

[2022-07-27 11:31] yanguoyu commented on #2458
I read the main.log. Have you tried to `clean cache`? Maybe you can choose `Fully rebuild index` when clean cache.

[2022-07-28 08:21] Keith-CY commented on #2423
You CKB is absolutely transferred to `ckb1qyqgykyk69mvxyc9mdmzt8n890y3lc2zq4rq90rvrc` and can be checked in the explorer https://explorer.nervos.org/transaction/0x500cac3fe3e19244e54dd0c45d2ae9cd4e6d18ea033cba3a691e0fee70f3c9f6#0

From the explorer we can see the transaction happened at `7,686,543` while `bundled-ckb.log` says your neuron just synchronized to `716398`, you have to wait another `69

[2022-07-29 20:13] matt-nervos opened #2459 "Path dialogs for "data" and "indexer" selection are inconsistent"
When selecting alternative folders for "data" and "indexer" locations, it seems that the dialog is looking for different directories levels, which leads to some troubleshooting from the user.

Screenshots show configuration and actual folder paths
<img width="391" alt="2" src="https://user-images.githubusercontent.com/88007636/181836069-0e7ea852-089c-4971-9ad3-e05028e510b5.png">
<img width="667" a

[2022-07-29 20:15] mattquinn-nervos commented on #2459
this is a little tricky because if the user is copying the data, they already have a "data" folder, but if they are syncing for the first time the data folder has to be created.

Maybe some GUI message is best, not sure of exactly the justification for why things are this way

[2022-07-31 01:50] Mrschengen commented on #2458
i did that 2 time now and it get blocked again :( really it's disappointing. i cant reach my funds now from May and also i dont earn nothing by those block ! i feel  like am losing time and energy thats all! any solution please to get out my funds from the Dao ?
[neuron_debug_1659232156305.zip](https://github.com/nervosnetwork/neuron/files/9227888/neuron_debug_1659232156305.zip)

[2022-07-31 08:08] Keith-CY commented on #2458
Hi @Mrschengen

Sorry for that, after checking the log I found the node was not working properly,

Log from your neuron
[code]

Expected to be like
[code]

I'm checking it with the core team to find out how to fix it.

[2022-07-31 08:30] Keith-CY commented on #2458
Currently, we cannot deduce the error underlying from the logs, could you start neuron and keep it working for about 2 hours and then export debug logs again, thanks. @Mrschengen

[2022-07-31 16:37] Mrschengen commented on #2458
I format even my computer and did all again ! then see this ! another time was blocked! Please thers a solution to get out my ckb from the Dao ?

[main.log](https://github.com/nervosnetwork/neuron/files/9229300/main.log)
[bundled-ckb.log](https://github.com/nervosnetwork/neuron/files/9229301/bundled-ckb.log)

[2022-07-31 16:39] Keith-CY commented on #2458
Hi @Mrschengen

From the latest log I can see the `ckb node` inside neuron still doesn't work properly, I'm checking it again with the core team

[2022-07-31 16:40] Mrschengen commented on #2458
ok thank you; Hope to find any solution

[2022-08-01 01:59] Keith-CY commented on #2458
Hi @Mrschengen

We found a potential problem that leads to this error when network is not good, and will be fixed by restarting the node.

However, I believe you have tried many times to restart Neuron and it still does not work.

Running an independent `ckb node` is an alternative that saves time on synchronization and even it hangs again, we can get the full log(log exported from neuron is trunc

[2022-08-01 05:53] Cedar67 commented on #2459
Hi @mattquinn-nervos ,
The two directories are independent and do not affect each other. So they need to be set separately.
About the Node Data directory, Neuron automatically recognizes if a CKB Node is available in that directory and starts it. If no CKB Node is available in the directory, Neuron automatically initializes a Mainnet CKB Node.
About the Indexer Data directory, Neuron also automati

[2022-08-01 10:48] sergey799 commented on #2264
Всем добрый день! Кто будет сталкиваться с похожей проблемой. Задача решилась. Синхронизация на 100% все работает.
Токены можно получать , отправлять без проблем.

*Решение переход на windows-10. Имя пользователя только на латинский язык. Всем удачи!

[2022-08-01 11:53] pkf888 opened #2460 "Deposit didn't arrive from CRYPTO.COM"
hello, I ve spent hours on chat with crypto.com, I whitelisted my neuron CKB address (Ledger Nano X) in a deprecated format 2 days ago. I did a test and with the TXid 0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2, the test funds didn't arrive.

Today I send from Neuron Wallet to Crypto.com and arrived. From Crypto.com they keep buzzing me to contact the neuron support. it is a

[2022-08-01 12:17] Keith-CY commented on #2460
We can check the transaction `0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2` at https://explorer.nervos.org/transaction/0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2 and if one of the output is your whitelisted neuron CKB Address, the asset should be safe and appear in Neuron
![image](https://user-images.githubusercontent.com/7271329/182145630-1858dd7a-e4c

[2022-08-01 14:30] mattquinn-nervos commented on #2459
Thanks @Cedar67 , I appreciate the explanation.

Can you understand why it is confusing to a user? When I directly select the "indexer" folder, things work ok, when I directly select the "data" folder, Neuron creates the node directories in that folder, instead of seeing that there is already node data in that folder. Hope my explanation makes sense

[2022-08-01 15:52] pkf888 commented on #2460
Hello Keith-CY, yes I checked the crypto.com whitelist address is the same as in my neuron (ledger) wallet. Though my question would be it is the shorter one (named deprecated) not the long one address. Do you think this could be an issue?
I cleared cache as per the above details (thank you so much for this I appreciate it as I am new to neuron wallet)and still my balance is zero. I can see the su

[2022-08-01 16:24] pkf888 commented on #2460
It can't be done is gray., I double checked now and The address in my whitelist in crypto.com I had entered the shorter one deprecated. See below:

(Long) ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsqtnfa827k2qaehzv4swwxdt0pju5hypn2q6p894f

 (Short) ckb1qyq8xn6w4av5pmnwyetquuv6k7r9efwgrx5qy74hsg

In the below TXid address I cannot see my address neither the short or long one. can you

[2022-08-01 16:32] Keith-CY commented on #2460
My fault, I forgot that you are using a hardware wallet, which only has one address. Now I get your address, I'll delete the screenshot for your privacy

[2022-08-01 16:39] Keith-CY commented on #2460
This address should have `2,395.60100000 CKB` as its balance
It received `≈2,409 CKB` at block number 7747024 and sent them out at block number 7758846
Finally, it received `≈2,395` at block number 7761877, which means the total balance should be `0` until Neuron reaches 7761877.

From the screenshot in https://github.com/nervosnetwork/neuron/issues/2460#issuecomment-1201384127 we can see your neu

[2022-08-01 16:39] pkf888 commented on #2460
I did add now from Binance this amount to check if it works. that's correct.

[2022-08-01 16:40] pkf888 commented on #2460
The 10.000 CKB - 2CKB fees is still not present and missing from crypto.com to the address. I just contacted them and they don't recognise their mistake although I sent them screenshot that the address I had whitelisted was correct and it doesn't appear anywhere in the TXid.

[2022-08-01 16:42] pkf888 commented on #2460
I think what I will do is convert my CKB to USDC in crypto.com, send it to kucoin and buy it there to send it to my neuron wallet. I don't trust them anymore with a huge amount (eg 20mil CKB). Its good I did I small amount test of 10k ckb to see if it works. What can I say...

[2022-08-01 16:45] Keith-CY commented on #2460
From the explorer (https://explorer.nervos.org/address/ckb1qyq8xn6w4av5pmnwyetquuv6k7r9efwgrx5qy74hsg) we cannot find a transaction of `hash/id` `0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2` so this transaction should have nothing to do with your wallet.

Instead, the tx `0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2` sent CKB to
[code]

None of them equ

[2022-08-01 16:49] Keith-CY commented on #2460
Sorry for that, and I'll contact with the core team to check if crypto.com is prone to parse addresses incorrectly.

[2022-08-01 16:51] Keith-CY commented on #2460
I'll mosaic your address in this issue for privacy

[2022-08-01 16:54] pkf888 commented on #2460
I really honestly appreciate this support from your side it was more than I expected! Thank you so much!

[2022-08-01 17:16] pkf888 commented on #2460
Just one last thing, is it possible to change my address now on my Neuron wallet (Ledger address)? for safety cause I understand I shouldn't share it .

[2022-08-01 20:02] #2458 closed

[2022-08-02 02:09] Keith-CY commented on #2460
I'm afraid not, ledger supports a single private key that is mapped to a single ckb address, so we cannot derive another ckb address from it.

[2022-08-02 03:06] Keith-CY commented on #2460
Some analysis from the core team

1. The transaction (https://explorer.nervos.org/transaction/0x6508663ab373c83e8c158bc9b65ee3a72ab1ea0e6db67b344dc1e240a43a21d2) returned from crypto.com is valid from the perspective of crypto.com because the receiver (ckb1qyq0r2nngcs3tdr6psrdq932m0h9ppa7w9yqp6g0ac) had sent some transaction, so it's under control, not an improperly decoded address;
2. The receive

[2022-08-02 08:11] Cedar67 commented on #2459
Thank you for your additional description. @mattquinn-nervos
when we directly select the "data" folder, Neuron automatically detects whether a node is already available in the current specified directory. It don't always create Node directories. If you find any situation that does not conform to this logical flow, could you please provide reproduce information so that we can locate it?
In addition

[2022-08-02 10:24] pkf888 commented on #2460
Thank you so much Keith! Immensely appreciated!!

[2022-08-02 14:17] mattquinn-nervos commented on #2459
Thanks for replying, it does look like this hits a bug somewhere in the code path.

I'm including screenshots of before and after updating configuration to point directly at the folder. A new "data" subdirectory is created, but block # still comes from parent "data" directory but the node won't sync.

The new subdirectory is basically empty.

<img width="650" alt="image" src="https://user-images.g

[2022-08-04 02:42] Mrschengen opened #2462 "[Synchronization] **Sync Get block always**"
### Detail of the issue

Hello team ! am asking if thers a solution to get out the funds from the DAO ! am not looking for more solution to keep minting the blocks ! if thers a solution to get out my funds i will appreciat it ! am really disapointed by Neuron wallet !  so if please can i get my funds out without waiting more the blocks to get syncing i will appreciat the help

### bundled-ckb.log

[2022-08-04 02:49] Keith-CY commented on #2462
Hi @Mrschengen

I thought the problem was solved because the issue was closed https://github.com/nervosnetwork/neuron/issues/2458#issuecomment-1200595791

As the last comment said, starting a ckb node manually could help, in fixing the problem of synchronization or getting a full log of the case

[2022-08-04 02:52] Mrschengen commented on #2462
The problem was not solved , and i didnt closed the issue ! Please now am asking if thers a solution to get out the funds from the dao ?

[2022-08-04 02:58] Keith-CY commented on #2462
The log in #2458 showed the `ckb node` inside `neuron` didn't work properly but the underlying reason was not clear because log didn't unveil it.

So we thought running a `ckb node` outside `neuron` may help.

1. If the `ckb node` outside `neuron` works properly, neuron should sync and you can get your fund out
2. If the `ckb node` outside `neuron` doesn't work properly, the full log(without unrel