[2022-08-04 03:07] Mrschengen commented on #2462
i did that in one point get blocked also i was watching on CMD ! i will repeat again All even i dont have more patient for this ! can you imagine losing time and energy since 10 May on this ? ! anyway , will repeat and start all from zero again then lets see .
1) should i put CKB RUN and wait all the blocks or
2) use that strategy >> ckb run --assume-valid-target 0x4e53fcf61c1250249bc201101bcc8c90

[2022-08-04 03:12] Keith-CY commented on #2462
`ckb run --assume-valid-target 0x4e53fcf61c1250249bc201101bcc8c904b7fcd455f8db395bdb4bbe02502a499` is speedy because it skips verifying blocks before https://explorer.nervos.org/block/0x4e53fcf61c1250249bc201101bcc8c904b7fcd455f8db395bdb4bbe02502a499

[2022-08-04 03:21] Mrschengen commented on #2462
am affraid that cant work, because i delet the cash yesterday when it get block again so i started all from zero but get block at 1,411,023/.
so do you think if i  "  clear cash full rebuild"  this speedy trick will work ? or should in this point just run the CKB and wait all blocks from zero as no data on mainet !

[2022-08-04 03:29] Keith-CY commented on #2462
For now, just running the `ckb node` without running `neuron` is a good choice

Previously, `neuron` didn't work because `ckb node` inside it didn't work. Now we just run a `ckb node` outside it and to see if it can synchronize successfully.

If `ckb node` outside neuron reaches the latest block, then we can open neuron and clear cache.
If` ckb node` outside neuron doesn't work too, we should find

[2022-08-04 03:34] Mrschengen commented on #2462
ok i will test that again :(

[2022-08-04 03:50] Mrschengen commented on #2462
![ckbversion](https://user-images.githubusercontent.com/109836736/182759015-6cf96c1a-a337-4fb9-99ea-4a0eee19aec7.png)
 i have checked the version in CMD and i dont get the same Version ( check image ) ! this can lead to the problem ? or no problem if i get result like that ?

[2022-08-04 03:52] Keith-CY commented on #2462
My fault, the one inside neuron is https://github.com/nervosnetwork/ckb/releases/tag/v0.103.0

[2022-08-04 03:53] Keith-CY commented on #2462
But you can keep using 0.104.0 if just want to get fund out

[2022-08-04 08:26] Cedar67 commented on #2459
@mattquinn-nervos  Thank you for the issue of feedback.

The Neuron page shows the synch status and progress of the **`Indexer`**, not the CKB node. Since the CKB node path has a new empty directory, the CKB node data needs to be resynchronized from scratch. This process may take several hours.
[this issue](https://github.com/Magickbase/neuron-public-issues/issues/50) will optimize it to reduce us

[2022-08-04 21:03] Mrschengen commented on #2462
please another question , i left the ckb node outside neuron working from yesterday ! didnt finish yet but until now its working fine ! am on on block 7480000, My question is;
 if i stoped using Ctrl+C and run the node later, this can not drain the node or create a problem?
in other mean if i restart my laptop this can creat a problem ? or it's necessary not stoping the node and keep the laptop wo

[2022-08-05 02:21] Keith-CY commented on #2462
In most cases, it continues to work.
In some cases, it will be blocked by a `LOCK` file at `data\db\LOCK`, deleting it then restart node works
In rare cases, data will be broken and have to start from 0, it happens in early stage but now I haven't seen it.

[2022-08-07 18:33] Mrschengen commented on #2462
Hello, Finnaly the syncin goutside neuron reaches the latest block.
whats the next step now ? i need to open Neuron wallet now ? or how it work after if i want to withdraw for exemple from the dao ?
![ckb node](https://user-images.githubusercontent.com/109836736/183305776-214ebc0f-ace1-40f3-aa8b-dd64c720d18b.png)

[2022-08-08 02:01] Keith-CY commented on #2462
`Neuron` should be launched when the `ckb node` outside is running, then `neuron` will fetch data from the outside one instead of the inside one. (And since we didn't find the error of `ckb node` inside `neuron`, we have to run the outside one whenever we want to use neuron)

When `neuron` is open, it will connect to the `ckb node` outside and start synchronize with it. Once `neuron` reaches the l

[2022-08-08 17:07] Mrschengen commented on #2462
really its hard to understand how this can work; i closed ckb inside node , then when i lunche it back i saw blocks start downloading from zero again, and in ckb node this error !

![ckbinside node](https://user-images.githubusercontent.com/109836736/183474119-f357af06-1567-418b-ab18-67fad2f7292c.png)

[2022-08-08 17:11] Mrschengen commented on #2462
i lunched Neuron after syncing was completed ! and i get this error

![ckb node inside](https://user-images.githubusercontent.com/109836736/183474740-e2e3cac9-cdc7-44f8-8aaa-639deaf10bb2.png)

[2022-08-08 17:34] mattquinn-nervos commented on #2459
thanks @Cedar67  . The sync doesn't start in this circumstance.

I would expect when directly selecting the "data" directory Neuron would see there is node data in that folder, from your comment "when we directly select the "data" folder, Neuron automatically detects whether a node is already available in the current specified directory."

however Neuron does not detect that node data is there and

[2022-08-09 02:16] Cedar67 commented on #2459
@mattquinn-nervos thanks for your reply.

By detecting CKB node profiles(Shown below), Neuron determines whether valid node exist, not through the `Data` directory.
<img width="260" alt="image" src="https://user-images.githubusercontent.com/64718893/183546736-c69d30cc-bef7-420e-9883-9cd32969f63c.png">

This will be fixed. When CKB node data is resynchronized from scratch, Indexer data is also resy

[2022-08-11 03:19] Mrschengen commented on #2462
Thats enough for me ! this get blocked again here as you see in the picture . for the last time i will ask this please no other why to acces to my funds ? its enough for me i dont have more patient to wait more and get always get stacked.
Hope if thers other solution away from waiting blocks or doing anything related to this
![blockedagain](https://user-images.githubusercontent.com/109836736/18405

[2022-08-11 03:27] Keith-CY commented on #2462
Sorry for that I missed the last comment 2 days ago

For this message
[code]

Are you meaning `after syncing no node outside was completed` and the log is printed by the `ckb node` outside the neuron

I didn't see this error message before and looked for help from the core team

[2022-08-11 03:28] Keith-CY commented on #2462
And please upload `neuron`'s logs again so I can check why neuron hangs with the `ckb node` outside

[2022-08-11 03:31] Mrschengen commented on #2462
[main.log](https://github.com/nervosnetwork/neuron/files/9305906/main.log)

[2022-08-11 03:33] Mrschengen commented on #2462
But to be honest am not looking for the problem any more , its enough for me . please ask the team if thers other way to get the fund out, i start even thinking to left all even the fund if thers no way to acces to them ....

[2022-08-11 03:36] Keith-CY commented on #2462
Neuron's log shows that connection to `ckb node` is lost

[code]

And we got a potential reason about why `ckb node` is not working. It's too technical about for me so core team will reply in this issue

[2022-08-11 03:36] quake commented on #2462
This error appears to be caused by a hard drive read/write error, can you try checking with windows disk utility to see if there are any errors?

[2022-08-11 03:39] Mrschengen commented on #2462
this is already solved when i get it i just need to close all, and start all from zero, but the real problem is that always the Neuron get blocked and each time in different block .

[2022-08-11 03:42] Mrschengen commented on #2462
if this always happen! we lost connection to ckb node ! we need to find away to get back the conection ! and please dont tell me we need to delet cash and do full rebuild ! because i dont have more patient to do that. please i need to get out my funds without this ! its enough for me

[2022-08-11 03:44] Keith-CY commented on #2462
So now the `ckb node` outside has synced fully but neuron doesn't catch up, am I right?

From logs of `neuron`, `neuron` did't connect to a `ckb node` outside. Please shut neuron down, lauch ckb node manually and reopen neuron.

If it still not works for about 10 mins, please join discord https://discord.gg/N9nZ3JE2Gg and past the issue link, I'll create a private channel for instant communication

[2022-08-11 03:46] Mrschengen commented on #2462
i did this already a lot of time ! am going to discord

[2022-08-11 03:49] Keith-CY commented on #2462
I've invited you into the private channel

[2022-08-11 07:13] AloisLienTDF opened #2466 "[Synchronization] Nervos Wallet Sync Doesn't Start"
### Detail of the issue

Hi Team!

I can't sync my Nervos PC wallet (NB: with hardware Ledger key). I followed all the instructions that TG mod gave me (wallet update, another network added, cache/data cleared, etc.) but it didn't solve anything.

Please see the Debug Information below.

All the best,
Aloïs

[bundled-ckb.log](https://github.com/nervosnetwork/neuron/files/9306857/bundled-ckb.log)
[

[2022-08-12 19:33] VISQonSpotify commented on #2223
Sooo, I sent my dCKB to NexisDao thinking it will allow my dckb to be removed (I deposited ckb to get dckb) however, it's just sitting on this address and I have no access to it. It's saying it's not there at all via metamask.

https://explorer.nervos.org/address/ckb1qzl58smqy32hnrq6vxjedcxe2fugvnz497h7yvwqvwel40uh4rltcqgg2dv90ynzfd0es5m27njyjxme2kd2rlqgkhl3q

[2022-08-13 04:00] phroi opened #2468 "Neuron version 0.103.2 still reports the cell maturity constraint"
Neuron version 0.103.2 still reports the 4 epoch maturity constraint, but [this no longer holds true](https://github.com/nervosnetwork/rfcs/commit/89f56e3fae5b4781e25f3d08f6b5e69dc985417c) after the activation of [RFC 0036 Remove Header Deps Immature Rule](https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0036-remove-header-deps-immature-rule/0036-remove-header-deps-immature-rule.md).

**Scre

[2022-08-13 04:07] phroi commented on #2468
Hmmmm, I checked for another open issue on this beforehand, but I didn't find it, but now I see #2461 already tackles this issue.

Feel free to close this issue when the PR is merged.

[2022-08-14 02:16] 666qiang opened #2469 "Why neuron wallet is watch only?"
How to change it?

[2022-08-15 02:19] Cedar67 commented on #2469
hi @666qiang,
Please check the wallet list to see if there is a target wallet you need.

<img width="626" alt="image" src="https://user-images.githubusercontent.com/64718893/184566565-52a177ac-cbc1-4820-9c03-3ac82e76ef3d.png">

[2022-08-16 16:19] #2460 closed

[2022-08-16 16:22] Keith-CY commented on #2005
Shipped with https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2

[2022-08-16 16:22] #2005 closed

[2022-08-16 16:22] Keith-CY commented on #2011
Stale issue

[2022-08-16 16:22] #2011 closed

[2022-08-16 16:23] Keith-CY commented on #2086
Shipped with https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2

[2022-08-16 16:26] Keith-CY commented on #2088
It's not possible to introduce price because external APIs are not allowed for security, but this function will be delivered with a portfolio tracker https://github.com/Magickbase/ckb-wallet-and-explorer/issues/29

[2022-08-16 16:29] Keith-CY commented on #2223
I'm not quite familiar with tools of NexisDao so I'm going to ask for help from NexisDao team

[2022-08-18 07:55] Keith-CY commented on #2223
I was led to Nexis DAO discord channel and found you've asked about this case there. I think help from them would be more useful.

[2022-08-18 08:46] finnj7 commented on #2223
You might need to wait for the epoch to finish. It's like it's deposited in the DAO, that can take up to 30 days.

[2022-08-18 19:17] VISQonSpotify commented on #2223
Do you have a link to that specific case?

[2022-08-19 01:37] lordragnarok opened #2471 "wallet not synced, help please!"
### Detail of the issue

My wallet doesn't sync for days. I tried to uninstall and install again and it doesn't sync, help me please.

### bundled-ckb.log

[code]

### main.log

_No response_

### status.log

_No response_

[2022-08-19 01:43] yanguoyu commented on #2471
Hi, @lordragnarok your question is the same as https://github.com/nervosnetwork/neuron/issues/2437. https://github.com/nervosnetwork/neuron/issues/2437#issuecomment-1173221890 maybe resolve your confusion.

[2022-08-19 02:09] lordragnarok commented on #2471
can you help me?

[2022-08-19 02:29] yanguoyu commented on #2471
I found the second number is bigger than 7,075,157, the first number is not increasing yet? Can you upload the `main.log` for  find the reason?

[2022-08-21 21:02] Mrschengen commented on #2462
Thanks a lot for the Help, i used another laptop and i get  neuron synced at the end. maybe thers an issue with my personal laptop

[2022-08-22 05:22] #2468 closed

[2022-08-22 05:45] #2462 closed

[2022-08-26 15:49] matejlajgut commented on #2126
Hi, I'm also having a sync problem. On one PC, everything works like it has for 2 years. Now I downloaded appiimage Neuron v0.103.2 and it won't start syncing the node at all. I use Linux Mint 21 (new installation). I tried clearing the cache - it didn't help. Could you please help me?
[neuron_debug_1661528923847.zip](https://github.com/nervosnetwork/neuron/files/9434576/neuron_debug_1661528923847

[2022-08-26 18:19] matejlajgut commented on #2388
Hi, I'm also having a sync problem. On one PC, everything works like it has for 2 years. Now I downloaded appiimage Neuron v0.103.2 and it won't start syncing the node at all. I use Linux Mint 21 (new installation). I tried clearing the cache - it didn't help. Could you please help me?
[neuron_debug_1661528923847.zip](https://github.com/nervosnetwork/neuron/files/9435541/neuron_debug_1661528923847

[2022-08-27 01:55] yanguoyu commented on #2126
`Neuron`  can't start ckb node because there is no `ckb.exe`.

<img width="802" alt="image" src="https://user-images.githubusercontent.com/12881040/187009656-494dae44-f616-4715-a5de-deccb26cf4b4.png">
@Cedar67 Do we have linux test environment to recurring it?

[2022-08-27 16:29] Keith-CY commented on #2223
https://discord.com/channels/879679105606516777/904928286273077311/1007733980914798592

[2022-08-28 06:57] Keith-CY commented on #2126
Neuron's behavior varies on different Linux distributions so we'd better test it on Mint 21 in Virtualbox(we have a Linux test environment but it's not Mint).

And the version of Mint does affect, I have handled an issue that only happened on Mint 19.

[2022-08-28 08:59] SwissSmile88 commented on #2471
Hello, since 2 Days the Neuron Wallet ist not synchronizing (Block Synced). I don't know, what I can do.... can someone help me? Here is the Export Debug Information:

[2022-08-26 23:01:36.680] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 2 ...
[2022-08-26 23:01:36.803] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 3 ...
[2022-08-26

[2022-08-28 15:21] SwissSmile88 opened #2479 "[Synchronization] **Block Synced**"
### Detail of the issue

Hello, since 2 Days the Neuron Wallet ist not synchronizing (Block Synced). I don't know, what I can do.... can someone help me?

### bundled-ckb.log

[code]

### main.log

_No response_

### status.log

_No response_

[2022-08-28 15:31] SwissSmile88 commented on #2479
Here ist the main.log:
[2022-08-26 23:01:36.680] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 2 ...
[2022-08-26 23:01:36.803] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 3 ...
[2022-08-26 23:01:36.910] [error] Network:	fail to connect to the network. Is CKB node running?
[2022-08-26 23:01:37.038] [info] Network:	switched to: {
  id

[2022-08-29 05:38] matejlajgut commented on #2126
@yanguoyu yes this is no ckb.exe..
but on the other PC where it works for me (Linux Mint 20.3), I have these 2 processes running in the process manager. (I am attaching a picture). On the new PC where I have Linux mint 21, the two processes do not start and the synchronization does not start either. I don't know how to get it to work so I can use the wallet.
![Snímka obrazovky z 2022-08-29 07-31-5

[2022-08-29 06:22] yanguoyu commented on #2126
@matejlajgut I will  download and install mint 21 on my vmware to find what causes this problem. I will update this after I find something.

[2022-08-29 06:37] matejlajgut commented on #2126
@yanguoyu thank you.

[2022-08-30 03:48] yanguoyu commented on #2126
@matejlajgut I found maybe the default `openssl` version caused it.
Linux mint 21 `openssl` version is 3.0.2. Linux mint 20.3 `openssl` version is 1.1.1f.
I'm trying to downgrade `openssl` to 1.1.1 on Linux mint 21.

[2022-08-30 06:51] yanguoyu commented on #2126
@Keith-CY https://github.com/nervosnetwork/ckb/issues/3560#issuecomment-1231219127
Because the ckb binary file in `Neuron` is downloaded from https://github.com/nervosnetwork/ckb/releases.
So shall we only support the platforms in [tier 1 and 2](https://github.com/nervosnetwork/ckb/blob/develop/docs/platform-support.md)

[2022-08-30 07:40] Keith-CY commented on #2126
I think supporting tier 3 or not totally depends on CKB binary so we can simply follow the metrix of CKB binaries.

We'd better elaborate on this case in an independent, pinned issue and append a simple todo list for users to check by themselves if their platforms are in tier 3, solutions mentioned in https://github.com/nervosnetwork/ckb/issues/3560#issuecomment-1231219127 are preferable too.

[2022-08-31 08:59] yanguoyu commented on #2126
@matejlajgut I have tried to install openssl 1.1.1q and `Neuron` is starting sync now. These are my installation steps, hope to help you.
1. download openssl1.1.1q sourcecode from https://www.openssl.org/source/
2. unzip sourcecode and `cd openssl-1.1.1q`
3. sudo apt-get install libz-dev
4. sudo apt-get install gc++
5. sudo ./config --prefix=/usr/local/openssl --openssldir=/usr/local/openssl share

[2022-08-31 09:09] yanguoyu commented on #2388
If ckb is not started, and you find some words like this in bundle.log. `"error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory"`.
You can check whether your platform in [tier 1 and 2](https://github.com/nervosnetwork/ckb/blob/develop/docs/platform-support.md?rgh-link-date=2022-08-30T06%3A51%3A37Z)
If not, you can install the correct libssl

[2022-08-31 19:12] SwissSmile88 commented on #2471
Thank you, I have open a new issue (#2479), but no one is give me an answer. The bundled-ckb.log-Files is at this issue

[2022-08-31 23:32] yanguoyu commented on #2479
[2022-08-28 00:48:09.737] [warn] function call error: Error: Port is not reachable, retry 2 ...
[2022-08-28 00:48:10.742] [info] Sync: start
[2022-08-28 00:48:12.574] [info] Queue: start
[2022-08-28 00:48:13.066] [info] Database: saved synced block #7926162

I found it sync to block 7926162, Then no more logs, do you continue observation? or more logs after `saved synced block #7926162`

[2022-09-01 02:44] felicityin opened #2480 "[Synchronization] How to fill RPC URL?"
### Detail of the issue

How to fill the RPC URL?
![1](https://user-images.githubusercontent.com/107106858/187820910-242f97a2-a6e4-4259-9b9e-b343532daa46.png)

### bundled-ckb.log

_No response_

### main.log

_No response_

### status.log

_No response_

[2022-09-01 04:13] Keith-CY commented on #2480
Hi @felicityin

I can edit the `default node` with RPC URL `https://mainnet.ckb.dev/rpc` and add a new node named `another default node` with RPC URL `https://mainnet.ckb.dev/rpc`.

May I know the version of your neuron and the steps of adding/editing a network so I can try to reproduce this case and find out the reason.

[2022-09-01 04:25] felicityin commented on #2480
But when I added the RPC URL `https://mainnet.ckb.dev/rpc`, sync failed:
![1](https://user-images.githubusercontent.com/107106858/187831164-efd804cf-11ce-4cd3-a703-40906abd2dea.png)
Is the RPC URL of the mainnet wrong?

[2022-09-01 04:33] Keith-CY commented on #2480
So the real issue is not `cannot add/edit network with "name: default node", "rpc URL: https://mainnet.ckb.dev/rpc"`, but is `cannot connect to https://mainnet.ckb.dev/rpc`, am I right

[2022-09-01 04:40] felicityin commented on #2480
Yes, you are right. My bad.

[2022-09-01 04:44] Keith-CY commented on #2480
My neuron has connected to `https://mainnet.ckb.dev/rpc`, I think it might be a problem of network status

![image](https://user-images.githubusercontent.com/7271329/187833095-cd9c7a1c-0def-48c9-bd4b-a600f355c99e.png)

[2022-09-01 04:47] Keith-CY commented on #2480
To verify it, you may launch a mainnet node locally and connect neuron to the local node, if it works, neuron should have no problem to connect to a remote node

[2022-09-01 05:07] felicityin commented on #2480
It is ok to connect to the local node.

[2022-09-01 05:08] #2480 closed

[2022-09-01 16:21] matejlajgut commented on #2126
@yanguoyu thank you but
I don't know why, but when I enter the command: sudo apt-get install gc++ I get error messages (I'm attaching a txt.file).
I tried to continue but the sync failed. Obviously, this point will be problematic. I have a fresh install of Linux and I don't know why the error is there.
[error message.tar.gz](https://github.com/nervosnetwork/neuron/files/9471608/error.message.tar.g

[2022-09-02 01:10] yanguoyu commented on #2126
The error message looks like your system has installed gc++, maybe you can skip this step.
If you can't install openssl 1.1.1q, you can install mint 20.3. It works without any more extra operation.

[2022-09-08 02:22] Girinath456 commented on #2388
Help me please i have Ubuntu latest version operating system i downloaded appimage file and i run it but its not sync always shows syncing but it does'nt indicate in %, if i check for update it checks your wallet is in upto date shows , what i have to do anything else?

[2022-09-08 02:26] yanguoyu commented on #2388
Can you follow [these steps](https://github.com/nervosnetwork/neuron/issues/2388#issue-1241441244) to resolve it? If not, can you upload logs?

[2022-09-08 02:32] Girinath456 commented on #2388
i cant run node in ubuntu while run the appimage of neuron wallet

[2022-09-08 06:18] yanguoyu commented on #2388
Can you upload logs to help us analyze why the ckb node can't run?

[2022-09-15 19:13] #2435 closed

[2022-09-28 21:22] wazzutroy opened #2496 "transaction history export does not include dates"
Each time I try to export my transaction history, it only includes:
-time
-block number
-transaction hash
-transaction type
-CKB amount
-UDT amount (entire column blank, no entries)
-description (entire column blank, no entries)

Is this typical or should more information be populated? Specifically, I was assuming the transaction dates would be included.
thanks.

[2022-09-29 00:41] Cedar67 commented on #2496
Hi @wazzutroy
The latest Neuron release includes date info. Please update it to [the latest version](https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2) and confirm again.

<img width="941" alt="image" src="https://user-images.githubusercontent.com/64718893/192912735-99a7dcb1-68f6-4cfc-ac5f-c12bd89e48ba.png">

[2022-09-29 15:07] wazzutroy commented on #2496
This is what version I have installed since I updated last week, let me know if this is not the latest:

[cid:ef0c08ad-d672-4dc3-b246-52d46871ed92]
________________________________
From: Cedar ***@***.***>
Sent: Wednesday, September 28, 2022 5:41 PM
To: nervosnetwork/neuron ***@***.***>
Cc: wazzutroy ***@***.***>; Mention ***@***.***>
Subject: Re: [nervosnetwork/neuron] transaction history export

[2022-09-30 02:01] Cedar67 commented on #2496
@wazzutroy The version info is not fully displayed here. Could you pls send it again?
And it is better to send the screenshot of the transaction exported file that contains the time field.

[2022-10-01 17:46] wazzutroy commented on #2496
I apologize for taking up your time, I realized it was just a formatting issue and I was able to get the date to display properly on my exported excel file. You can consider this issue (non-issue) resolved. I appreciate your help, thanks.
________________________________
From: Troy Thornhill ***@***.***>
Sent: Friday, September 30, 2022 7:47 AM
To: nervosnetwork/neuron ***@***.***>
Subject: Re: [n

[2022-10-02 01:14] Cedar67 commented on #2496
It doesn't matter. Thanks for your feedback.

[2022-10-02 01:14] #2496 closed

[2022-10-06 13:43] RobertCruzo opened #2497 "[Synchronization] **brief description**"
### Detail of the issue

 Neuron doesn't start syncing because the ckb node throws an exception.
 it is written that the ledger is connected to the neuron , but the tokens are not displayed

### bundled-ckb.log

_No response_

### main.log

_No response_

### status.log

_No response_

[2022-10-06 13:54] yanguoyu commented on #2497
![image](https://user-images.githubusercontent.com/12881040/194331221-6f1994d9-bfd0-457f-a08a-ac387a4bc1be.png)
I found the ckb node throw exception like this.
Can you provide any help? @quake

[2022-10-08 11:38] dicker14 opened #2498 "Transaction failed to resolve"
Attempting to deposit ckb from neuron wallet to Yokai L1 deposit address

neuron_debug_1665228524103

**Screenshots** (If applicable, add screenshots to help explain your problem.)
[neuron_debug_1665228524103.zip](https://github.com/nervosnetwork/neuron/files/9739102/neuron_debug_1665228524103.zip)

[2022-10-09 01:11] Cedar67 commented on #2498
Hi @dicker14,
You can try the `clear cache` operation first (Preference / Data /  Clear Cache), and then make the transaction.

[2022-10-09 02:35] dicker14 commented on #2498
Hi Thanks for the advice. I did this already and the result is the same error unfortunately

[2022-10-09 03:46] yanguoyu commented on #2498
@dicker14 Have you synced to 100% already? I found the Outpoint cell had cost.
https://explorer.nervos.org/transaction/0x68355c40c0e8f46d3257df2e5a4ecd16dd486e90d0f89447566bf37f5850589e
this transaction used the cell.

[2022-10-10 19:01] whereismyckb opened #2500 "my CKB coins didnt reach"
### Detail of the issue

i sent CKB today and got nothing, all lost

### bundled-ckb.log

_No response_

### main.log

_No response_

### status.log

_No response_

[2022-10-10 19:04] Keith-CY commented on #2500
Hi @whereismyckb could you add some details like

CKB is sent from where to where(from neuron or to neuron)

If it's sent from neuron to elsewhere, could you post the transaction hash shown in neuron
If it's sent to neuron, could you post the transaction hash which is accessible on https://explorer.nervos.org/

[2022-10-11 07:14] wazzutroy commented on #2496
Trying as attachments now instead of embedded, see if this comes through.
thanks,
Troy

________________________________
From: Cedar ***@***.***>
Sent: Thursday, September 29, 2022 7:01 PM
To: nervosnetwork/neuron ***@***.***>
Cc: wazzutroy ***@***.***>; Mention ***@***.***>
Subject: Re: [nervosnetwork/neuron] transaction history export does not include dates (Issue #2496)

@wazzutroy<https://gith

[2022-10-11 07:49] Nirach369 opened #2502 "withdraw from coinex to neuron"
I sent CKB to neuron but I didnt received.

https://explorer.nervos.org/transaction/0x5913161cd6540a87e3ff253a1cc529dadc022b3084bc29dd3e1ea13cb7719e7b

[2022-10-11 07:57] yanguoyu commented on #2502
`ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsq0g2tsu8c67vpcmqxxygd9qlyhg9gp4snslc5cx4` and `ckb1qzda0cr08m85hc8jlnfp3zer7xulejywt49kt2rr0vthywaa50xwsqfwk9e4967gj6327l4pa9zua7ecejc8zwc0q5ql2` has receive the CKB.
If `Neuron` doesn't display it, it maybe happened because of the:
1. Your `Neuron` didn't sync to 100%
2. Your `Neuron` wallet does not include this address.

[2022-10-11 09:25] Keith-CY commented on #2348
The screenshot is missing, I think

[2022-10-11 09:28] subhashrao1947 commented on #2343
Yanguoyu, yes its is as described in 2314 as per aaomotayo <https://github.com/aaomotayo> commented on 27 Mar <https://github.com/nervosnetwork/neuron/issues/2314#issue-1182664781>

Do I need to delete the current version and download new version?

Any link from you to get me beack to where I was with my investment would be great.

Best wishes,

Sam Rao
+44 (0)7775 770 526
https://www.amazon.com/a

[2022-10-11 09:35] yanguoyu commented on #2343
@subhashrao1947 yeah, maybe you need to download the latest version from https://github.com/nervosnetwork/neuron/releases/tag/v0.103.2

[2022-10-11 13:35] Nirach369 commented on #2502
Thanks for your response.
If I disconnect  from internet, will the sync continue?

[2022-10-11 15:03] yanguoyu commented on #2502
Sync needs to connect internet. And you can also see the sync status on the left of `Neuron`.

[2022-10-13 20:47] beardedattack opened #2504 "Wallet always says connecting..."
Hi there,

So I am trying to get the CKB neuron wallet to sync but it always says connecting.

1. I have tried creating another network called mainnet and switch.. it doesnt work
2. I disabled all security on the laptop... still doesnt sync
3. I have cleared cache etch still doesnt work
4. I have installed/uninstalled multiple versions and nothing works

In task manager seems like the CKB just kee

[2022-10-14 02:33] yanguoyu commented on #2504
I only found `File not found` at the `bundled-ckb.log` file. Do you have any suggestions about this? @Keith-CY

[2022-10-14 03:48] Keith-CY commented on #2504
`ckb node` doesn't have any log(`File not found` shown in it) while `neuron` keeps printing
[code]
Plus `In task manager seems like the CKB just keeps rebooting, it never stays running.` from your report.

We are sure that the `ckb node` doesn't work properly. However there's no more clue of the error, we may have you run the `ckb node` manually that it would be easy to find out the reason.

Steps

[2022-10-14 19:51] beardedattack commented on #2504
Hi guys, thank you for the responses. When trying to run it directly on the
laptop I get the following... and files are in right place

$ cd C:/ckb_v0.103.0_x86_64-pc-windows-msvc
ckb --version
ckb-cli --version
bash: ckb: command not found
bash: ckb-cli: command not found

Grou ***@***.*** MINGW64 /c/ckb_v0.103.0_x86_64-pc-windows-msvc

On Thu, Oct 13, 2022 at 11:48 PM Chen Yu ***@***.***> wrote:

[2022-10-15 12:44] beardedattack commented on #2504
Any ideas? I really don’t wish keep my ckb on exchange

Sent from my iPhone

[2022-10-15 16:27] Keith-CY commented on #2504
Hi @beardedattack please notice the command in step 2 is `cd C:/.../ckb_v0.103.0_x86_64-apple-darwin`, it should be the path where you unzip the downloaded file.

If it's already the path of the unzipped file, please try `./ckb --version` instead of `ckb --version`

[2022-10-15 18:34] beardedattack commented on #2504
Hi,

I have now get system error see below

The code execution cannot proceed because VCRUNTIME140_1.dll was not found.
Reinstalling the program may fix this problem

On Sat, Oct 15, 2022 at 12:27 PM Chen Yu ***@***.***> wrote:

[2022-10-15 18:47] Keith-CY commented on #2504
It's the first we met this error message. It should be fixed by installing `vc_redist` from https://learn.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170 as `VCRUNTIME140_1.dll` will be installed along with it.

[2022-10-16 12:04] beardedattack commented on #2504
Hi there,

thank you again for the support, I reinstalled and now it no longer just
says connecting.... it says syncing -- left and 0/5 537 215 and 0% .... how
long will it take to sync this wallet? Its been open over 12 hours now and
not 1% is done

On Sat, Oct 15, 2022 at 2:47 PM Chen Yu ***@***.***> wrote:

[2022-10-16 12:17] Keith-CY commented on #2504
Hi @beardedattack

It's working now.

The progress shows `syncing -- left and 0/5 537 215 and 0%` because there's a pre-stage of real synchronization.

For performance, neuron has specified an assumed valid target block(https://explorer.nervos.org/block/0x6c914adcfd5289e8c4058e60e83555d5eb04ddc547b6184f1fae72d5f36929a3), which is at `7,075,157`.

From the beginning, neuron will only sync the block

[2022-10-21 13:13] CoolistKovbel opened #2511 "How to decipher wallet.json to the key needed to login"
I had recently downloaded my wallet.json key thinking that was needed to relogin into my neron wallet. But i now see that I need to decipher the text in order to get my memo pharse or key.

I dont see how i am able to do that can you guys please support?

[2022-10-21 13:28] CoolistKovbel commented on #2511
The json file is what I got when i backup my wallet

[2022-10-21 13:33] CoolistKovbel commented on #2511
never mind i think i just needed to import it as a keystone wallet, i will wait till node is fully syncronized

[2022-10-22 08:35] #2511 closed

[2022-10-22 08:38] Keith-CY commented on #2459
This issue may be stale later because `ckb indexer` is going to be integrated into `ckb node`.

Along with this update, there's only one path for data storage.

Ref: https://github.com/nervosnetwork/ckb/pull/3609

[2022-11-03 03:31] CKBnotuserfriendly opened #2516 "(in green) Connecting in bottom left"
### Detail of the issue

I have very expansive internet, CAT 8 ethernet cable connected, I've uninstalled and installed the wallet 3 times, I've shut off the pc, I've tried recovering it several times with old my seed phrase, block synced 0% for 2 weeks now, this is the last time I try, after contacting support, I haven't had this much headache with any other blockchain, I'm about to just burn my

[2022-11-03 03:32] CKBnotuserfriendly commented on #2516
PS.  It only says "connecting" in green in bottom left.  Very annoying.

[2022-11-03 06:17] Keith-CY commented on #2516
Hi @CKBnotuserfriendly

We see `File not found` in the log of `ckb node`, which implies that `ckb node` is not initialized successfully so synchronization doesn't start.

This case happens for various reasons and the most common one is that `non-utf8` characters exist in the path of running the ckb node, usually it's the `Username` of the PC account. Since the path doesn't appear in the logs, it's

[2022-11-04 17:44] CKBnotuserfriendly commented on #2516
I tried creating a new pc user with my name, no special carachters, it's
just my email address ***@***.*** (not this 1).  Uninstalled
and installed, still not syncing.  I had this same wallet in this pc
without issues a year ago, what happened? I dont understand.  What else can
I do?  In layman's terms please.  Also; could you make a youtube video
about this?  It would help millions to come in the

[2022-11-04 18:12] CKBnotuserfriendly commented on #2516
Finally, I tried all this man, I opened powershell I typed to the dot
perfectly those command prompts, idk what to do anymore.  Make a video on
youtube brother, it will be better for the Nervos blockchain which I am a
user of, I own 1 million (Nervos)  I need to access my wallet and make sure
I always have it readily accessible.  My family owns a cleaning company and
We are looking for a blockchai

[2022-11-05 18:10] Keith-CY commented on #2516
@CKBnotuserfriendly

Hi @CKBnotuserfriendly

I made a video to illustrate how the ckb node should work if no exceptions there.

https://drive.google.com/file/d/1DTkamKqiPevPUro_UZ37tzJlUdwZFY-N/view?usp=sharing

If a message similar to `INFO ckb_sync::synchronizer best known header number: {xxxxxxx}, total difficulty: {0x...}` appears, it works well and be patient, the `best known header number` s

[2022-11-05 18:57] CKBnotuserfriendly commented on #2516
Thank you for your time, in the office at the moment, as soon as I get a
chance I'll do it.  Thanks.

On Sat, Nov 5, 2022 at 1:10 PM Chen Yu ***@***.***> wrote:

[2022-11-09 06:16] ahming123 opened #2523 "Nervos Dao **Keep Hanging**"
### Detail of the issue

Hi there,

So I am trying to withdraw the CKB neuron dao staking but it always says keep hanging once i click the withdraw button and need to force quit to run it again

I have tried clear the ckb_indexer_data but still face the same problem. i'm not sure if clear the ckb_indexer_data is the correct way.

I have cleared cache etch still doesnt work.

Please advised. Many t

[2022-11-09 08:45] yanguoyu commented on #2523
Hey, it keeps hanging after which action? After clicking `withdraw` or click `Confirm`?
<img width="1206" alt="image" src="https://user-images.githubusercontent.com/12881040/200782296-5b6578d6-00c9-4571-846b-afc724ad0a77.png">
<img width="671" alt="image" src="https://user-images.githubusercontent.com/12881040/200782327-e8342bcd-ea35-4c46-9554-01cb046ba7b1.png">

[2022-11-09 09:04] ahming123 commented on #2523
both also same... sometime after click the withdraw it go through enter the password. once i click the confirm then it keep hang again. cannot submit at all. then keep force quit to restart and repeat the same process.

i wonder if i use PC to sync all over again will it help? currently is using IMAC

[2022-11-09 09:23] yanguoyu commented on #2523
I'm sorry to tell you that this may not help. It may effect by other problems.
I will keep attention to it.

[2022-11-09 10:09] yanguoyu commented on #2523
@ahming123 When you withdraw from `Neuron`, does the `Neuron` sync to 100%?
I found that Neuron synced to `8371438` at `2022-11-08 19:24:01.028`. `8371438` block was created at `2022/10/30 10:03:59`.
Can you try to withdraw again after `Neuron` sync to 100%?

[2022-11-09 11:45] ahming123 commented on #2523
Previously is sync 100% then only i withdraw. i try again and see

[2022-11-10 05:46] billkirschner opened #2524 "[Synchronization] **Neuron will not sync, stuck on "Connecting**"
### Detail of the issue

Recently, I opened Neuron and it failed to sync, instead, it just shows "Connecting" and will do so for hours.  I run the Linux AppImage (Neuron Version: 0.103.2, CKB Client Version: v0.103.0).

Getting this error over and over in Main Log:

[2022-11-09 22:30:39.983] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 2 ...
[2022-11-09 22:30:40.08

[2022-11-10 05:59] yanguoyu commented on #2524
Hey, I found [here](https://github.com/nervosnetwork/neuron/issues/2126#issuecomment-1228660840) a similar problem to you. Are you use Linux Mint 21? If so, [this](https://github.com/nervosnetwork/neuron/issues/2126#issuecomment-1232666236) may help you.

[2022-11-10 11:40] ahming123 commented on #2523
on the neuron wallet overview is sync 100%, once i click into the the nervos dao the word that appear is  to "sync at 99.99% "and stuck at there. after wait for a long time, i decided to force quit it and relaunch back. after that the word "sync not started yet" appear. Seems to stuck at there for a long time also. Any advised pls? attached below is the log. Kindly help
[neuron_debug_1668079906104

[2022-11-10 11:40] ahming123 commented on #2523
any other way that i can withdraw the staking?

[2022-11-10 14:17] billkirschner commented on #2524
I don't run Mint, or any debian-based distro, but I will certainly give that a read here when I am back at home. Thanks!

[2022-11-11 00:34] yanguoyu commented on #2523
@ahming123 Can you join https://discord.gg/74XTE73R for instant communication?

[2022-11-11 00:53] billkirschner commented on #2524
Hey thank you again! I read through that thread, and installed a different version of openssl and now back to syncing! Really appreciate the help!

[2022-11-11 00:53] #2524 closed

[2022-11-11 11:13] Coco-di-Rasta opened #2526 "[Synchronization] **brief description**"
### Detail of the issue

sych doesnt work. followed this guide and still not doing anything:
https://medium.com/@Chema_es/neuron-wallet-synchronization-guide-daeef568f4bb

### bundled-ckb.log

_No response_

### main.log

_No response_

### status.log

_No response_

[2022-11-11 11:49] yanguoyu commented on #2526
Hey, Can you upload `Neuron` log for analysis of why `Neuron` not sync?
You can download the log by Help -> Export Debug Information.

[2022-11-11 12:12] Coco-di-Rasta commented on #2526
44514b54cd5f36c797fe5743e36f37903b4ada858f91), can't find assume valid target temporarily, hash: Byte32(0x6c914adcfd5289e8c4058e60e83555d5eb04ddc547b6184f1fae72d5f36929a3) please wait
2022-11-11 12:14:07.259 +01:00 BlockDownload INFO ckb_sync::synchronizer  best known header number: 623403, hash: Byte32(0x4a3de421e5a108a5367b0ce91a66ad5edefa3607e71749dc2d0c9c20ed0b1bf9), can't find assume valid ta

[2022-11-11 14:04] yanguoyu commented on #2526
@Coco-di-Rasta [Here](https://github.com/nervosnetwork/neuron/issues/2437#issuecomment-1173221890) is a similar issue.
`Neuron` is in the early stage of synchronization and the first number in 0 / XXXX will increase once `neuron` finds an assumed valid target(when the second number is greater than 7,075,157).

[2022-11-14 03:31] AlexanderFSP opened #2527 "A Javascript error occurred in the main process"
**Describe the bug**
After successfully synchronizing the wallet with the nervos blockchain, the application throws an error (at a completely random time). When you try to close this prompt - **it appears again and again** (doing so it prevents to close the wallet, I was able to do it only using the system monitor).

Neuron Version: 0.103.2
CKB Client Version: v0.103.0
OS: Ubuntu 22.04.1 LTS 64-bi

[2022-11-14 03:37] yanguoyu commented on #2527
@AlexanderFSP Is it convenient for you to upload the full log?

[2022-11-14 03:40] AlexanderFSP commented on #2527
@yanguoyu , sure, here it is: [main.log](https://github.com/nervosnetwork/neuron/files/9999295/main.log)

[2022-11-14 11:53] Coco-di-Rasta commented on #2526
what am i supposed to do?

[2022-11-14 17:46] Steveanderson315 opened #2528 "CKB from Binance to Neuron of Ledger not showing up."
I sent some CKB from my binance to my ledger but it isn't showing up in my neuron wallet. On Binance it says completed.

Updated nervous app on ledger

Made sure wallet was fully synced

Made sure address is fully accurate.

I have a txid... not sure what's going on.  Any help would be appreciated.

Thanks,

[2022-11-15 01:16] yanguoyu commented on #2526
You can wait for the second number is greater than 7,075,157.

[2022-11-15 05:53] Cedar67 commented on #2528
@Steveanderson315 Could you upload the txid and Neuron logs here for locating it?

[2022-11-15 08:45] Coco-di-Rasta commented on #2526
Do I leave Neuron wallet running until it responds? Or maybe reinstalling it may help?

[2022-11-15 08:50] yanguoyu commented on #2526
Does the second number is increased? If so, you can wait for it to increase to greater than 7,075,157.
<img width="271" alt="image" src="https://user-images.githubusercontent.com/12881040/201873525-79df4166-eed5-4701-9eee-a7bc42460df9.png">

[2022-11-15 08:55] Coco-di-Rasta commented on #2526
![2022-11-15_09h54_43](https://user-images.githubusercontent.com/117987002/201874668-b44808ba-183b-4f64-8bcd-7ff6ad3372fb.png)

[2022-11-15 09:07] yanguoyu commented on #2526
Can you upload the `main.log` or all the zip? I think the second number should be increased.

[2022-11-15 09:07] Coco-di-Rasta commented on #2526
[neuron_debug_1668503247454.zip](https://github.com/nervosnetwork/neuron/files/10011073/neuron_debug_1668503247454.zip)

[2022-11-15 09:32] yanguoyu commented on #2526
@Coco-di-Rasta
I find an error in the log, I need your help to know two things
1. Can you find the `ckb-indexer.exe` process in the activity monitor when `neuron` is running?
2. Can you find the `ckb-indexer.exe` file in `C:\Users\{username}\AppData\Local\Programs\Neuron\bin\`?

[2022-11-15 15:38] Coco-di-Rasta commented on #2526
![2022-11-15_16h38_20](https://user-images.githubusercontent.com/117987002/201961259-fd153bd4-1e85-4989-b959-3896b93ac74f.png)

[2022-11-16 00:29] yanguoyu commented on #2526
Thank you for your reply, how about the second question?

[2022-11-16 08:21] Coco-di-Rasta commented on #2526
![2022-11-16_09h21_18](https://user-images.githubusercontent.com/117987002/202126432-fa8e86e4-3425-41a3-8125-3892875ae37b.png)
its empty ckb indexer not there

[2022-11-16 08:24] yanguoyu commented on #2526
The path in your screenshot is `C:\Users\{username}\AppData\Roaming` but not `C:\Users\{username}\AppData\Local\Programs\Neuron\bin\`

[2022-11-16 08:28] Coco-di-Rasta commented on #2526
![2022-11-16_09h28_14](https://user-images.githubusercontent.com/117987002/202128071-8a577564-d105-4ca0-be75-a1221cd83b3e.png)

[2022-11-16 08:31] yanguoyu commented on #2526
That's the problem, maybe the `ckb-indexer.exe` was deleted by other programs.
You can reinstall `Neuron` and check whether the `ckb-indexer.exe` exists.

[2022-11-16 08:38] Coco-di-Rasta commented on #2526
Thank you so much for your assistance and patience! I will try that. CKB 4 LIFE! 👯

[2022-11-18 17:51] CKBnotuserfriendly commented on #2516
Thank you, I bought a new PC, I was able to recover my Nervos CKB
wallet.  Thanks for your time.
IDK why my old pc wouldn't let me.  Have a great weekend!

On Sat, Nov 5, 2022 at 2:10 PM Chen Yu ***@***.***> wrote:

[2022-11-20 08:10] DaniloIva opened #2532 "ckb indexer has stop working"
**Describe the bug** (Please enter details, the more detail the better)

**Debug info** (Please upload the debug info from `Help` - `Export Debug Information`)

**Screenshots** (If applicable, add screenshots to help explain your problem.)

[2022-11-22 09:10] chestrroma commented on #2532
I have the same problem

[2022-11-22 09:12] yanguoyu commented on #2532
@DaniloIva  @chestrroma
Hey, can you export the bug information and upload it?

[2022-11-22 09:16] chestrroma commented on #2532
![Безымянный](https://user-images.githubusercontent.com/118806750/203274300-e9da2b80-ba86-45e6-abf2-64a76ec5e055.png)

[2022-11-22 09:16] chestrroma commented on #2532
[neuron_debug_1669108594977.zip](https://github.com/nervosnetwork/neuron/files/10065874/neuron_debug_1669108594977.zip)

[2022-11-22 09:17] chestrroma commented on #2532
cache is not cleared

[2022-11-22 09:19] yanguoyu commented on #2532
@chestrroma
At the end of the log, I found the ckb is syncing. The ckb indexer seems not stop.
<img width="586" alt="image" src="https://user-images.githubusercontent.com/12881040/203274942-68e41e7f-af1d-470f-91ab-0d9922efcc93.png">

[2022-11-22 10:30] chestrroma commented on #2532
[2022-11-22 13:28:49.286] [info] Monitor: is restarting ckb-indexer process
[2022-11-22 13:28:49.286] [info] Sync:	drain requests
[2022-11-22 13:28:49.317] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 2 ...
[2022-11-22 13:28:50.442] [warn] function call error: Error: connect ECONNREFUSED 127.0.0.1:8114, retry 3 ...
[2022-11-22 13:28:51.552] [info] Monitor: is resta

[2022-11-22 10:31] chestrroma commented on #2532
Do these errors bother you?

[2022-11-22 19:43] chestrroma commented on #2532
[neuron_debug_1669146088348.zip](https://github.com/nervosnetwork/neuron/files/10070589/neuron_debug_1669146088348.zip)

Nothing happens. Only mistakes

[2022-11-23 02:10] yanguoyu commented on #2532
Can you upload the debug information for us to help you?

[2022-11-23 08:51] DaniloIva commented on #2532
It s not about debug , it s a too long process. My computer is working 48h
non stop to create a wallet!?

Le mer. 23 nov. 2022 à 03:11, 严国宇 <
***@***.***> a écrit :

[2022-11-23 09:19] yanguoyu commented on #2532
If you want to create a wallet, you do not need to wait for syncing to 100%. But If you want to send some CKB or other assets, or you want the balance display correct, you'd better wait for syncing to 100%.

[2022-11-23 09:39] DaniloIva commented on #2532
I only wanted to connect my Ledger to a new account/wallet . What is the
cause to wait such a long time to sync? Is it normal two days sync and
still at 90%?

Le mer. 23 nov. 2022 à 10:19, 严国宇 <
***@***.***> a écrit :

[2022-11-23 09:54] Keith-CY commented on #2532
Hi @DaniloIva It's obviously abnormal to take so to finish the last 10% so there must be something wrong in Neuron.

To find out why and how to continue, we have to check the `logs` of Neuron, the log files could be exported by `menu -> help -> export debug information`, that's the direct clue for us to make neuron work again.

[2022-11-24 19:26] chestrroma commented on #2532
[neuron_debug_1669317770460.zip](https://github.com/nervosnetwork/neuron/files/10086951/neuron_debug_1669317770460.zip)

it's a piece of shit, not a program

[2022-11-25 00:08] yanguoyu commented on #2532
I'm sorry to hear that, I will try my best to continue to optimize `Neuron` better.
On the other hand, I found some errors in the `bundled-ckb` about `ckb` that I can't understand, I will ask for help from `ckb` core team.

<img width="812" alt="image" src="https://user-images.githubusercontent.com/12881040/203876696-1be4bb16-42cd-45dc-98a4-48fcff11c347.png">

[2022-11-25 05:19] SuzieQ73 opened #2534 "transfer balance not showing up in ledger"
### Detail of the issue

Hello,
i transferred many days ago and balance not showing yet

0xfdd00ae2a3bf4f268762503572f213e825c54c275e15339ab9f5cf149376bb91

### bundled-ckb.log

_No response_

### main.log

_No response_

### status.log

_No response_

[2022-11-25 07:39] yanguoyu commented on #2532
Sorry for my lateness. After I consult the core team. This Problem may be caused by your hard disk having a bad track. At first, you can run system track check tools to check your hard disk. And then you can sync again after cleaning the cache of all synchronized data.

[2022-11-25 09:20] Keith-CY commented on #2532
Please add a brief introduction of how to run the system track check tool

[2022-11-25 21:50] AIC-29 opened #2535 "Dependency Required"
**Describe the bug** (Please enter details, the more detail the better)

I get a popup when I start the program saying that my computer does not have the x64 Redistributable, which is not the case since I do have the x64 Redistributable installed. I tried uninstalling/reinstalling both Neuron and x64 Redistributable (both from Microsofot and Visual C++ Redistributable All-in-One from TechPowerUp)

[2022-11-26 10:00] JoaoPetri commented on #2504
Hello everyone, I have the same problem, I recently bought a notebook with Windows 11 and it doesn't connect, I've had it turned on for 48 hours and only the message connects, I've tried to do the tutorial that they passed here and every command I type says which is incorrect with the message: Set-Location: A positional parameter cannot be found that accepts argument 'init'.

I don't know what to

[2022-11-26 17:56] SuzieQ73 commented on #2534
is there anyone who can help me with my issue??

[2022-11-27 01:41] yanguoyu commented on #2534
Hey, I'm sorry I'm late. https://explorer.nervos.org/transaction/0xfdd00ae2a3bf4f268762503572f213e825c54c275e15339ab9f5cf149376bb91
this transaction has finished. It not showing up in ledger may be because you `Neuron` has not sync to 100%.

[2022-11-27 08:01] SuzieQ73 commented on #2534
It synced 100% and still does not show my balance

On Sat, Nov 26, 2022, 6:41 PM 严国宇 ***@***.***> wrote:

[2022-11-27 14:31] yanguoyu commented on #2534
Hey, may you export the public key for the watch wallet, so that let me make sure the output address is yours?
Or you can export the debug information.

[2022-11-27 14:39] yanguoyu commented on #2535
@Cedar67 Can you try this problem?

[2022-11-27 17:35] SuzieQ73 commented on #2534
{"xpubkey":"02e95c4ec81fd49c099c2df0054fd7837dd2d464f84d0aa133fb0e726e895f932fd08f178ba145b1e7601ac301228604a9b5c4887ec44269086f6f6f743d2ce111"}

[2022-11-28 01:15] yanguoyu commented on #2532
If you use Mac, you can refer to [this](https://support.apple.com/en-us/HT210898) to check the disk.

[2022-11-28 02:00] yanguoyu commented on #2534
<img width="1880" alt="image" src="https://user-images.githubusercontent.com/12881040/204175786-04171981-48b3-4f0f-b990-6ca7fe7895a6.png">

It's showing up on the watched wallet. If you are ensure your Neuron having sync to 100%.
May be some data loss, you can try to clear cache by Preferences -> Data -> Clear Cache.

<img width="894" alt="image" src="https://user-images.githubusercontent.com/1288

[2022-11-28 03:14] Keith-CY commented on #2534
Your wallet info has been mosaiced for privacy, please keep in mind that do not expose your wallet info on any public platform.

[2022-11-28 03:38] Keith-CY commented on #2523
Has been resolved via discord channel

[2022-11-28 03:38] #2523 closed

[2022-11-28 05:57] Cedar67 commented on #2535
@AIC-29 Can you confirm if the appropriate Visual C++ Redistributable is installed?
You may need to install the latest [Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).

[2022-11-28 06:07] Keith-CY commented on #2504
Hi @JoaoPetri could you open a new issue and add the commands you've entered, that will make your issue clear and easy to communicate, thanks

[2022-11-28 06:53] SuzieQ73 commented on #2534
I had already tried to clear the cache before reaching out for help, but I
did it again and balance still shows 0
Wallet synchs to 100% upon opening and then starts to slowly go backwards
to the mid 60s within about half an hour. I have to close it out and reopen
it to get it back at 100%, but it only reads 100% for about 30 seconds
before starting to go backwards again. It is up to date with no u

[2022-11-28 07:25] yanguoyu commented on #2534
May be you should try to check this when you clear cache.
<img width="658" alt="image" src="https://user-images.githubusercontent.com/12881040/204218091-6c9e2be6-5f82-49eb-ab61-5f685a9d7071.png">

[2022-11-28 16:28] AIC-29 commented on #2535
Yes, the appropriate Visual C++ Redistributable has been installed. I also used the all in one package from TechPowerUp.

[2022-11-29 08:20] spg1383 commented on #2249
Hi, I've tried to change both paths but it seems it does not work, trying to connect in infinite loop :
![image](https://user-images.githubusercontent.com/119402861/204476009-09a51b5b-9034-46d8-bf3a-e47c06934da0.png)

[2022-11-29 08:30] Keith-CY commented on #2249
Hi @spg1383 sorry for that, but I'd suggest holding this feature on until the next version of Neuron(which should be released soon after ckb@v0.106.0 is released) because `ckb-indexer` has been merged into `ckb node` so the storage directory will be updated, too. Only one path should be specified.

Besides, there will be a data migration to merge data of ckb-indexer into ckb-node so the data can b

[2022-11-29 11:35] Cedar67 commented on #2535
@AIC-29 According to your screenshot and log, it is presumed that it is related to the setting of the operating system PATH environment variable.

![image](https://user-images.githubusercontent.com/64718893/204518378-5a14d385-1220-40db-b930-612ca68e09fc.png)

Solution: add the path C:\Windows\System32\ to the Environment Variables.

- Right click the My Computer icon then choose properties.
- Sele

[2022-11-29 16:16] AIC-29 commented on #2535
That was the solution, thank you very much!

[2022-11-29 17:44] #2535 closed